---
<!--layout: page-->
permalink: /learn-more.html
---
<!--------------------------  This Is For Graph Page ------------------------>
<!-- RKP 2/9/2022  -->
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
<head>
<section class="info_page"></section>
<section class="sub-header">
  <nav>
    <div class="nav-links" id="navLinks">
    <a href="index.html"><img src=""></a>
    <i class="fa fa-times" onclick="hideMenu()" id="navLinks"></i>
    <ul>
      <title>Tracking The COVID-19 Outbreak</title>
      <li><a href="/index.html#index1.html" class="btn">HOME</a></li>
      <li><a href="/index.html#global_dataframe" class="btn">GLOBAL</a></li>
      <li><a href="/index.html#us_dataframe" class="btn">US</a></li>
      <li><a href="/index.html#ny_state_dataframe" class="btn">NY STATE</a></li>
      <li><a href="/index.html#local_hospital_dataframe" class="btn">HOSPITALS</a></li>
    </ul>
  </div>
      <i class="fa fa-bars" onclick="showMenu()"></i>
</nav>
</section>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style2.css"></link>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,700;1,200;1,600&display=swap" rel="stylesheet"> 
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">

      // Load Charts and the corechart package.
      google.charts.load('current', {'packages':['corechart']});

      // Draw the pie chart for Sarah's pizza when Charts is loaded.
      google.charts.setOnLoadCallback(drawTotalCasesChart);

      // Draw the pie chart for the Anthony's pizza when Charts is loaded.
      google.charts.setOnLoadCallback(drawTotalDeaths);

      // Callback that draws the bar chart for US Daily Cases.
      function drawTotalCasesChart() {

      // Create the data table.
      // var data = new google.visualization.DataTable();
      var data = google.visualization.arrayToDataTable([
      ["Date", "New Cases", { role: "style" } ],
      // Data goes here
      {% for row in site.data.chart_us_total_cases %}
      {% assign date = row["Date"] %}
      {% assign total = row["New Cases"] %}
      ["{{ date }}", {{ total }}, "color: darkblue"],
      {% endfor %}
      ]);

      var view = new google.visualization.DataView(data);
      view.setColumns([0, 1,
                      { calc: "stringify",
                        sourceColumn: 1,
                        type: "string",
                        role: "annotation" },
                      2]);
      
      // Set options for US Daily Cases chart.
      var options = {
        title:'US Daily Cases',
        width:1275,
        height: 300, //<--------------- Adjust Height Here
        explorer : {
						actions : ["dragToZoom", "rightClickToReset"],
						maxZoomIn : 0.05
					},
        bar: {groupWidth: "90%"},
        legend: { position: "none"},
        tooltip: {isHtml: false},
        vAxis: {
                title: 'New Cases',
                gridlines: {count: 8},
                viewWindowMode: 'explicit',          },
          hAxis: {
                gridlines: {count: 8},
                viewWindowMode: 'explicit',
                textPosition : "out",
						    iewWindow : {
                  max : 10
                },
						    showEveryText : 10,
                slantedText : true
          },
        };
            
      // Instantiate and draw the chart US Daily Cases.
      var chart = new google.visualization.ColumnChart(document.getElementById('us_cases'));
      chart.draw(data, options);
      }

      // Callback that draws the bar chart for US Daily Cases.
      function drawTotalDeaths() {
        var data = google.visualization.arrayToDataTable([
          ["Date", "New Deaths", { role: "style" } ],

          // Data goes here
          {% for row in site.data.chart_us_total_deaths %}
          {% assign date = row["Date"] %}
          {% assign deaths = row["New Deaths"] %}
          ["{{ date }}", {{ deaths }}, "color: red"],
          {% endfor %}

            
      ]);

      var view = new google.visualization.DataView(data);
        view.setColumns([0, 1,
                        { calc: "stringify",
                        sourceColumn:2,
                        type: "string",
                        role: "style" },
                        2]);
      // Set options for US Daily Deaths chart.
        var options = {            
        title: "US Daily Deaths",
        width: 1275,
        height: 300, //<--------------- Adjust Height Here
        bar: {groupWidth: "90%"},
      legend: { position: "none" }, 
        tooltip: {isHtml: false},
        explorer : {
						actions : ["dragToZoom", "rightClickToReset"],
						maxZoomIn : 0.05
					},
        vAxis: {
            title: 'New Deaths',
            viewWindowMode: 'explicit',
        },
      };
      var chart = new google.visualization.ColumnChart(document.getElementById("us_deaths"));
      chart.draw(view, options);
      }
    </script>
  </head>
  <body>
    <!--Table and divs that hold the pie charts-->
    <table class="columns">
      <div> 
        <h1 class="my_title">US COVID-19 Data for 2022<br></h1>
        <ul class="my_title">Updated: {{ site.data.last_update["0"]["0"]}} </ul>
      </div>
      <tr>
        <td><div id="us_cases" class="barChart"></div></td>
      </tr>
      <tr> 
        <td><div id="us_deaths" class="barChart2" ></div></td>
      </tr>
    </table>
    <section class="footer">
      <h4>About Us</h4>
      <ul>RKP Software 2/4/2022</ul>
      <div class="icons">
        <i class="fa fa-facebook"></i>
        <i class="fa fa-twitter"></i>
        <i class="fa fa-github-square"></i>
        <i class="fa fa-youtube-square"></i>
        <i class="fa fa-bar-chart"></i>
        <div class="sub-footer"></div>
      </div>
    </section>
    <script>
      var navLinks = document.getElementById("navLinks");
      function showMenu(){
          navLinks.style.right = "0";
      }
      function hideMenu(){
          navLinks.style.right = "-200px";
      }
  </script>
 
  </body>
  <ul>
    <button onclick="topFunction()" id="myBtn" title="Go to top"><i class="fa fa-arrow-up" aria-hidden="true"></i></button>
    <script>
  //Get the button
  var mybutton = document.getElementById("myBtn");
  
  // When the user scrolls down 20px from the top of the document, show the button
  window.onscroll = function() {scrollFunction()};
  
  function scrollFunction() {
      if (document.body.scrollTop > 120 || document.documentElement.scrollTop > 120) {
      mybutton.style.display = "block";
      } else {
      mybutton.style.display = "none";
      }
  }
  
  // When the user clicks on the button, scroll to the top of the document
  function topFunction() {
      document.body.scrollTop = 0;
      document.documentElement.scrollTop = 0;
  }
  </script>
  </ul>
  
</html>












