---
layout: home
---

<!-- Info -->
<section class="info">
    <h1>COVID-19 Data Available</h1>
    <p>Global | United States | New York State | New York State by County | Local Hospitals </p>
    <div class="row">
        <div class="info-column">
            <h3>Global</h3>
            <p>Live Data Coming Soon!</p>
        </div>
        <div class="info-column">
            <h3>United States</h3>
            <p>Live Data Coming Soon!</p>
        </div>
        <div class="info-column">
            <h3>New York State</h3>
            <p>Live Data Coming Soon!</p>
        </div>
        <div class="info-column">
            <h3>County </h3>
            <p>Live Data Coming Soon!</p>
        </div>
        <div class="info-column">
            <h3>Hospitals</h3>
            <p>Live Data Coming Soon!</p>
        </div>
    </div>
</section>

<!--- Global Data -->
<section class="global_data">
    <h1>Global COVID-19 Information</h1>
    <!-- This Adds The DataFrame -->
    {% include hospital-tables/global_data.html %}
    <!-- DataFrame Ends Here -->
</section>

<!--- US Data -->
<section class="us_data_title">
    <h1>US COVID-19 Information</h1>
</section>
<section class="us_data">
    <!-- This Adds The DataFrame -->
    {% include hospital-tables/us_data.html %}
    <!-- DataFrame Ends Here -->
</section>

<!--- Hospital -->
<section class="hospital">
    <h1>Local COVID-19 Hospital Information</h1>
    <div class="row">
        <div class="hospital-column">
            <img src="images/gfh2.jpg">
            <div class="layer">
                <h3>Glens Falls Hospital</h3>
            </div>

            <!-- This Adds The DataFrame -->
            {% include hospital-tables/gf_hospital.html %}
            <!-- DataFrame Ends Here -->

        </div>
        <div class="hospital-column">
            <img src="images/sh2.jpg">
            <div class="layer">
                <h3>Saratoga Hospital</h3>
            </div>

            <!-- This Adds The DataFrame -->
            {% include hospital-tables/s_hospital.html %}
            <!-- DataFrame Ends Here -->

        </div>
      </div>
</section>
