---
<!--layout: page-->
permalink: /learn-more.html
---

<section class="info_page"></section>
---
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style2.css"></link>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

      <script type="text/javascript">
        google.charts.load("current", {packages:['corechart']});
        google.charts.setOnLoadCallback(drawChart);
        function drawChart() {
          var data = google.visualization.arrayToDataTable([
            ["Date", "New Cases", { role: "style" } ],

            // Data goes here
            {% for row in site.data.chart_us_total_cases %}
            {% assign date = row["Date"] %}
            {% assign total = row["New Cases"] %}
            ["{{ date }}", {{ total }}, "color: darkblue"],
            {% endfor %}

            
          ]);
          

          var view = new google.visualization.DataView(data);
          view.setColumns([0, 1,
                          { calc: "stringify",
                            sourceColumn: 2,
                            type: "string",
                            role: "style" },
                          2]);

          var options = {

            title: "US Total Cases",
            width: 1400,
            height: 500,
            bar: {groupWidth: "90%"},
            legend: { position: "none" }, 
            tooltip: {isHtml: false},
            hAxis: { format: 'M/d/yy'},
            gridlines: {count: 15}

          };
                  
          var chart = new google.visualization.ColumnChart(document.getElementById("columnchart_values"));
          chart.draw(view, options);
      }
      </script>
    </script>


    ---
    ---
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="style2.css"></link>
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    
          <script type="text/javascript">
            google.charts.load("current", {packages:['corechart']});
            google.charts.setOnLoadCallback(drawChart);
            function drawChart() {
              var data = google.visualization.arrayToDataTable([
                ["Date", "New Deaths", { role: "style" } ],
    
                // Data goes here
                {% for row in site.data.chart_us_total_deaths %}
                {% assign date = row["Date"] %}
                {% assign deaths = row["New Deaths"] %}
                ["{{ date }}", {{ deaths }}, "color: red"],
                {% endfor %}
    
                
              ]);
              
    
              var view = new google.visualization.DataView(data);
              view.setColumns([0, 1,
                              { calc: "stringify",
                                sourceColumn:2,
                                type: "string",
                                role: "style" },
                              2]);
    
              var options = {
    
                title: "US Total Deaths",
                width: 1400,
                height: 500,
                bar: {groupWidth: "90%"},
                legend: { position: "none" }, 
                tooltip: {isHtml: false},
              };
                      
    
              var chart = new google.visualization.ColumnChart(document.getElementById("columnchart_values"));
              chart.draw(view, options);
          }
          </script>
        </script>
    </head>
    <body>
    <div id="columnchart_values" class="barChart" ></div>
    </body>
    </html>    
</head>
<body>
<div id="columnchart_values" class="barChart" ></div>
</body>
</html>












