/*--------------------------  This Is For Graph Page ------------------------*/

* {
    padding: 0;
    margin: 0;
}

.chart {
    margin: 50px auto;
    width: 1000px;
    height: 500px;
    text-align: center;
    padding-right: 100px;
}

.barChart {
    padding: 0;
    margin: 0;
    text-align: center;
}

.barChart2 {
    padding: 0;
    margin: 0;
    text-align: center;
}

.my_title {
    text-align: center;
    padding-top: 50px;
}

. {
    padding-bottom: 50pxpx;
}