* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url("images/coronavirus.jpg");
    background-position: center;
    background-size: cover;
    position: relative;
}

nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img {
    width: 50px;
}

.nav-links {
    flex: 1;
    text-align: right;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 13px;
}

.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #fff;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after {
    width: 100%;
}

.text-box {
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text-box h1 {
    font-size: 62px;
}

.text-box p {
    margin: 10px 0 40px;
    font-size: 16px;
    color: #fff;
}

.hero-btn {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: .5px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.hero-btn:hover {
    border: 1px solid hsl(251, 89%, 7%);
    background: hsl(252, 88%, 7%);
    transform: 1s;
}

nav .fa {
    display: none;
}

@media(max-width: 700px) {
    .text-box h1 {
        font-size: 20px;
    }
    .nav-links ul li {
        display: block;
    }
    .nav-links {
        position: absolute;
        background: hsl(252, 88%, 7%);
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    nav .fa {
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links ul {
        padding: 30px;
    }
}


/*--------- info ---------*/

.info {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}

.info2 {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 2000px;
}

h1 {
    font-size: 36px;
    font-weight: 600;
}

p {
    color: black;
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.row {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.info-column {
    flex-basis: 31%;
    background: #fff;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 10px 20px;
    box-sizing: border-box;
    transition: 0.5s;
}

h3 {
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}

.info-column:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

@media(max-width: 700px) {
    .row {
        flex-direction: column;
    }
}


/*----- Zebra Striped Table ------*/

tr:nth-child(even) {
    background-color: #f2f2f2
}


/*----- Highlighting Table Rows on Hover ------*/

tr:hover {
    background-color: #141fbb;
    font-weight: 600;
    color: white;
}


/*----- Freezes Header Column in Tables ------*/

th {
    background: white;
    backface-visibility: 0;
    position: sticky;
    top: 0;
}


/*----- Global Table Data ------*/

.global_data_title {
    width: 90%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}

.global_data {
    width: 90%;
    margin: auto;
    text-align: center;
    padding-bottom: 50px;
}


/*----- Global Table Scrol Bar  ------*/

.global_data {
    overflow: scroll;
    height: 350px;
    width: 100%;
}


/*----- US Table Data ------*/

.us_data_title {
    width: 90%;
    margin: auto;
    text-align: center;
    padding-top: 80px;
}

.us_data {
    width: 90%;
    margin: auto;
    text-align: center;
    padding-bottom: 50px;
}


/*----- US Table Scrol Bar  ------*/

.us_data {
    overflow: scroll;
    height: 350px;
    width: 100%;
}


/*----- NY State Table Data ------*/

.ny_state_data_title {
    width: 90%;
    margin: auto;
    text-align: center;
    padding-top: 80px;
}

.ny_state_data {
    width: 90%;
    margin: auto;
    text-align: center;
    padding-bottom: 50px;
}


/*----- NY State Table Scrol Bar  ------*/

.ny_state_data {
    overflow: scroll;
    height: 350px;
    width: 100%;
}

.ny_state_data table.tbl tr td:first-child {
    display: none;
}


/*----- Local Hospital  ------*/

.hospital {
    width: 90%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.hospital-column {
    flex-basis: 35%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}

.hospital-column img {
    width: 100%;
    display: block;
}

.dataframe {
    width: 40%;
    margin: auto;
    padding-top: 50px;
    image-rendering: auto;
    resize: both;
    overflow: visible;
    border: none;
}

.layer {
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}

.layer:hover {
    background: #cbc9c9b3;
}

.layer h3 {
    width: 100%;
    font-weight: 500;
    color: 'black';
    font-size: 32px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}

.layer:hover h3 {
    bottom: 49%;
    opacity: 1;
}


/*----- Footer ------*/

.footer {
    width: 100%;
    text-align: center;
    padding: 30px 0;
}

.footer h4 {
    margin-bottom: 5px;
    margin-top: 20px;
    font-weight: 600;
}