<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: center;">
      <th style="min-width: 62px;">Date</th>
      <th style="min-width: 62px;">Patients Currently</th>
      <th style="min-width: 62px;">Patients Admitted</th>
      <th style="min-width: 62px;">Patients In ICU</th>
      <th style="min-width: 62px;">Patients Expired</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Sep 23</td>
      <td>13</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <td>Sep 26</td>
      <td>20</td>
      <td>9</td>
      <td>1</td>
      <td>0</td>
    </tr>
    <tr>
      <td>Sep 27</td>
      <td>19</td>
      <td>2</td>
      <td>1</td>
      <td>0</td>
    </tr>
    <tr>
      <td>Sep 28</td>
      <td>18</td>
      <td>1</td>
      <td>2</td>
      <td>0</td>
    </tr>
    <tr>
      <td>Sep 29</td>
      <td>14</td>
      <td>2</td>
      <td>2</td>
      <td>1</td>
    </tr>
    <tr>
      <td>Sep 30</td>
      <td>13</td>
      <td>2</td>
      <td>2</td>
      <td>0</td>
    </tr>
    <tr>
      <td>Oct 3</td>
      <td>13</td>
      <td>9</td>
      <td>4</td>
      <td>1</td>
    </tr>
  </tbody>
</table>