<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: center;">
      <th style="min-width: 60px;">Date</th>
      <th style="min-width: 60px;">Patients Currently</th>
      <th style="min-width: 60px;">Patients Admitted</th>
      <th style="min-width: 60px;">Patients In ICU</th>
      <th style="min-width: 60px;">Patients Expired</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Mar 26</td>
      <td>6</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <td>Mar 25</td>
      <td>5</td>
      <td>1</td>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <td>Mar 24</td>
      <td>8</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <td>Mar 23</td>
      <td>8</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
    </tr>
    <tr>
      <td>Mar 22</td>
      <td>9</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
    </tr>
    <tr>
      <td>Mar 21</td>
      <td>11</td>
      <td>3</td>
      <td>1</td>
      <td>0</td>
    </tr>
  </tbody>
</table>