<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: center;">
      <th style="min-width: 62px;">Date</th>
      <th style="min-width: 62px;">Patients Currently</th>
      <th style="min-width: 62px;">Patients Admitted</th>
      <th style="min-width: 62px;">Patients In ICU</th>
      <th style="min-width: 62px;">Patients Expired</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Apr 23</td>
      <td>9</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
    </tr>
    <tr>
      <td>Apr 24</td>
      <td>10</td>
      <td>2</td>
      <td>1</td>
      <td>0</td>
    </tr>
    <tr>
      <td>Apr 25</td>
      <td>9</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
    </tr>
    <tr>
      <td>Apr 26</td>
      <td>6</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
    </tr>
    <tr>
      <td>Apr 27</td>
      <td>10</td>
      <td>5</td>
      <td>1</td>
      <td>0</td>
    </tr>
    <tr>
      <td>Apr 28</td>
      <td>10</td>
      <td>3</td>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <td>Apr 29</td>
      <td>11</td>
      <td>3</td>
      <td>1</td>
      <td>0</td>
    </tr>
  </tbody>
</table>