<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: center;">
      <th style="min-width: 115px;">Country</th>
      <th style="min-width: 115px;">Total Cases</th>
      <th style="min-width: 115px;">New Cases</th>
      <th style="min-width: 115px;">Total Deaths</th>
      <th style="min-width: 115px;">New Deaths</th>
      <th style="min-width: 115px;">Fatality Rate</th>
      <th style="min-width: 115px;">% Infected</th>
      <th style="min-width: 115px;">% Total Cases</th>
      <th style="min-width: 115px;">Population</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>World</td>
      <td>594,697,603</td>
      <td>+147,745</td>
      <td>6,453,474</td>
      <td>+188</td>
      <td>1.1%</td>
      <td>7.8%</td>
      <td>100.0%</td>
      <td>7,609,442,803</td>
    </tr>
    <tr>
      <td>USA</td>
      <td>94,678,953</td>
      <td></td>
      <td>1,062,333</td>
      <td></td>
      <td>1.1%</td>
      <td>6.7%</td>
      <td>15.9%</td>
      <td></td>
    </tr>
    <tr>
      <td>India</td>
      <td>44,252,699</td>
      <td></td>
      <td>526,996</td>
      <td></td>
      <td>1.2%</td>
      <td>67.5%</td>
      <td>7.4%</td>
      <td>1,408,643,701</td>
    </tr>
    <tr>
      <td>France</td>
      <td>34,213,094</td>
      <td></td>
      <td>153,064</td>
      <td></td>
      <td>0.4%</td>
      <td>15.9%</td>
      <td>5.8%</td>
      <td>65,578,310</td>
    </tr>
    <tr>
      <td>Brazil</td>
      <td>34,164,891</td>
      <td></td>
      <td>681,480</td>
      <td></td>
      <td>2.0%</td>
      <td>40.5%</td>
      <td>5.7%</td>
      <td>215,748,605</td>
    </tr>
    <tr>
      <td>Germany</td>
      <td>31,535,343</td>
      <td></td>
      <td>145,698</td>
      <td></td>
      <td>0.5%</td>
      <td>45.9%</td>
      <td>5.3%</td>
      <td>84,349,316</td>
    </tr>
    <tr>
      <td>UK</td>
      <td>23,420,826</td>
      <td></td>
      <td>186,087</td>
      <td></td>
      <td>0.8%</td>
      <td>38.9%</td>
      <td>3.9%</td>
      <td>68,638,650</td>
    </tr>
    <tr>
      <td>Italy</td>
      <td>21,480,076</td>
      <td></td>
      <td>173,982</td>
      <td></td>
      <td>0.8%</td>
      <td>41.8%</td>
      <td>3.6%</td>
      <td>60,274,247</td>
    </tr>
    <tr>
      <td>S. Korea</td>
      <td>21,355,958</td>
      <td>+119,603</td>
      <td>25,623</td>
      <td>+57</td>
      <td>0.1%</td>
      <td>14.6%</td>
      <td>3.6%</td>
      <td>51,362,290</td>
    </tr>
    <tr>
      <td>Russia</td>
      <td>18,852,976</td>
      <td></td>
      <td>383,071</td>
      <td></td>
      <td>2.0%</td>
      <td>21.9%</td>
      <td>3.2%</td>
      <td>146,066,502</td>
    </tr>
    <tr>
      <td>Turkey</td>
      <td>16,295,817</td>
      <td></td>
      <td>99,678</td>
      <td></td>
      <td>0.6%</td>
      <td>13.0%</td>
      <td>2.7%</td>
      <td>86,254,767</td>
    </tr>
    <tr>
      <td>Japan</td>
      <td>15,278,668</td>
      <td></td>
      <td>34,763</td>
      <td></td>
      <td>0.2%</td>
      <td>32.7%</td>
      <td>2.6%</td>
      <td>125,659,646</td>
    </tr>
    <tr>
      <td>Spain</td>
      <td>13,294,139</td>
      <td></td>
      <td>111,667</td>
      <td></td>
      <td>0.8%</td>
      <td>13.4%</td>
      <td>2.2%</td>
      <td>46,792,991</td>
    </tr>
    <tr>
      <td>Vietnam</td>
      <td>11,364,355</td>
      <td></td>
      <td>43,097</td>
      <td></td>
      <td>0.4%</td>
      <td>43.5%</td>
      <td>1.9%</td>
      <td>99,187,255</td>
    </tr>
    <tr>
      <td>Australia</td>
      <td>9,793,298</td>
      <td>+13,012</td>
      <td>12,862</td>
      <td>+34</td>
      <td>0.1%</td>
      <td>21.3%</td>
      <td>1.6%</td>
      <td>26,124,437</td>
    </tr>
    <tr>
      <td>Argentina</td>
      <td>9,602,534</td>
      <td></td>
      <td>129,440</td>
      <td></td>
      <td>1.3%</td>
      <td>55.8%</td>
      <td>1.6%</td>
      <td>46,071,189</td>
    </tr>
    <tr>
      <td>Netherlands</td>
      <td>8,362,564</td>
      <td></td>
      <td>22,542</td>
      <td></td>
      <td>0.3%</td>
      <td>9.7%</td>
      <td>1.4%</td>
      <td>17,214,880</td>
    </tr>
    <tr>
      <td>Iran</td>
      <td>7,468,894</td>
      <td></td>
      <td>142,861</td>
      <td></td>
      <td>1.9%</td>
      <td>5.7%</td>
      <td>1.3%</td>
      <td>86,262,386</td>
    </tr>
    <tr>
      <td>Mexico</td>
      <td>6,925,668</td>
      <td>+9,914</td>
      <td>328,724</td>
      <td>+56</td>
      <td>4.7%</td>
      <td>13.3%</td>
      <td>1.2%</td>
      <td>131,792,201</td>
    </tr>
    <tr>
      <td>Colombia</td>
      <td>6,286,392</td>
      <td></td>
      <td>141,287</td>
      <td></td>
      <td>2.2%</td>
      <td>2.2%</td>
      <td>1.1%</td>
      <td>52,027,716</td>
    </tr>
    <tr>
      <td>Indonesia</td>
      <td>6,278,332</td>
      <td></td>
      <td>157,208</td>
      <td></td>
      <td>2.5%</td>
      <td>16.6%</td>
      <td>1.1%</td>
      <td>279,629,013</td>
    </tr>
    <tr>
      <td>Poland</td>
      <td>6,118,482</td>
      <td></td>
      <td>116,773</td>
      <td></td>
      <td>1.9%</td>
      <td>60.4%</td>
      <td>1.0%</td>
      <td>37,759,153</td>
    </tr>
    <tr>
      <td>Portugal</td>
      <td>5,376,433</td>
      <td></td>
      <td>24,722</td>
      <td></td>
      <td>0.5%</td>
      <td>12.5%</td>
      <td>0.9%</td>
      <td>10,133,986</td>
    </tr>
    <tr>
      <td>Ukraine</td>
      <td>5,030,389</td>
      <td></td>
      <td>108,743</td>
      <td></td>
      <td>2.2%</td>
      <td>21.0%</td>
      <td>0.8%</td>
      <td>43,179,570</td>
    </tr>
    <tr>
      <td>Taiwan</td>
      <td>4,867,766</td>
      <td></td>
      <td>9,413</td>
      <td></td>
      <td>0.2%</td>
      <td>53.4%</td>
      <td>0.8%</td>
      <td>23,907,742</td>
    </tr>
    <tr>
      <td>Austria</td>
      <td>4,820,764</td>
      <td></td>
      <td>19,273</td>
      <td></td>
      <td>0.4%</td>
      <td>18.5%</td>
      <td>0.8%</td>
      <td>9,114,858</td>
    </tr>
    <tr>
      <td>DPRK</td>
      <td>4,772,813</td>
      <td></td>
      <td>74</td>
      <td></td>
      <td>0.0%</td>
      <td>14.4%</td>
      <td>0.8%</td>
      <td>26,017,247</td>
    </tr>
    <tr>
      <td>Malaysia</td>
      <td>4,732,502</td>
      <td></td>
      <td>36,080</td>
      <td></td>
      <td>0.8%</td>
      <td>6.7%</td>
      <td>0.8%</td>
      <td>33,241,386</td>
    </tr>
    <tr>
      <td>Thailand</td>
      <td>4,620,425</td>
      <td>+1,773</td>
      <td>31,831</td>
      <td>+30</td>
      <td>0.7%</td>
      <td>49.5%</td>
      <td>0.8%</td>
      <td>70,169,592</td>
    </tr>
    <tr>
      <td>Israel</td>
      <td>4,613,301</td>
      <td></td>
      <td>11,483</td>
      <td></td>
      <td>0.2%</td>
      <td>44.7%</td>
      <td>0.8%</td>
      <td>9,326,000</td>
    </tr>
    <tr>
      <td>Greece</td>
      <td>4,577,675</td>
      <td></td>
      <td>31,722</td>
      <td></td>
      <td>0.7%</td>
      <td>39.1%</td>
      <td>0.8%</td>
      <td>10,315,659</td>
    </tr>
    <tr>
      <td>Belgium</td>
      <td>4,453,483</td>
      <td></td>
      <td>32,364</td>
      <td></td>
      <td>0.7%</td>
      <td>22.9%</td>
      <td>0.7%</td>
      <td>11,696,073</td>
    </tr>
    <tr>
      <td>Chile</td>
      <td>4,369,706</td>
      <td></td>
      <td>59,961</td>
      <td></td>
      <td>1.4%</td>
      <td>11.4%</td>
      <td>0.7%</td>
      <td>19,462,564</td>
    </tr>
    <tr>
      <td>Canada</td>
      <td>4,109,931</td>
      <td></td>
      <td>43,178</td>
      <td></td>
      <td>1.1%</td>
      <td>12.1%</td>
      <td>0.7%</td>
      <td>38,440,652</td>
    </tr>
    <tr>
      <td>Peru</td>
      <td>4,013,831</td>
      <td></td>
      <td>214,890</td>
      <td></td>
      <td>5.4%</td>
      <td>37.3%</td>
      <td>0.7%</td>
      <td>33,941,438</td>
    </tr>
    <tr>
      <td>Czechia</td>
      <td>4,011,391</td>
      <td></td>
      <td>40,634</td>
      <td></td>
      <td>1.0%</td>
      <td>6.6%</td>
      <td>0.7%</td>
      <td>10,750,906</td>
    </tr>
    <tr>
      <td>South Africa</td>
      <td>4,008,164</td>
      <td></td>
      <td>101,982</td>
      <td></td>
      <td>2.5%</td>
      <td>45.6%</td>
      <td>0.7%</td>
      <td>60,887,198</td>
    </tr>
    <tr>
      <td>Switzerland</td>
      <td>3,975,537</td>
      <td></td>
      <td>14,096</td>
      <td></td>
      <td>0.4%</td>
      <td>3.5%</td>
      <td>0.7%</td>
      <td>8,788,213</td>
    </tr>
    <tr>
      <td>Philippines</td>
      <td>3,827,758</td>
      <td></td>
      <td>60,992</td>
      <td></td>
      <td>1.6%</td>
      <td>20.2%</td>
      <td>0.6%</td>
      <td>112,659,937</td>
    </tr>
    <tr>
      <td>Romania</td>
      <td>3,154,721</td>
      <td></td>
      <td>66,336</td>
      <td></td>
      <td>2.1%</td>
      <td>54.1%</td>
      <td>0.5%</td>
      <td>18,967,018</td>
    </tr>
    <tr>
      <td>Denmark</td>
      <td>3,076,642</td>
      <td></td>
      <td>6,792</td>
      <td></td>
      <td>0.2%</td>
      <td>30.1%</td>
      <td>0.5%</td>
      <td>5,835,249</td>
    </tr>
    <tr>
      <td>Sweden</td>
      <td>2,551,996</td>
      <td></td>
      <td>19,497</td>
      <td></td>
      <td>0.8%</td>
      <td>6.1%</td>
      <td>0.4%</td>
      <td>10,232,179</td>
    </tr>
    <tr>
      <td>Iraq</td>
      <td>2,451,178</td>
      <td></td>
      <td>25,326</td>
      <td></td>
      <td>1.0%</td>
      <td>28.3%</td>
      <td>0.4%</td>
      <td>42,127,937</td>
    </tr>
    <tr>
      <td>Serbia</td>
      <td>2,203,039</td>
      <td></td>
      <td>16,438</td>
      <td></td>
      <td>0.7%</td>
      <td>1.3%</td>
      <td>0.4%</td>
      <td>8,663,128</td>
    </tr>
    <tr>
      <td>Bangladesh</td>
      <td>2,008,644</td>
      <td></td>
      <td>29,312</td>
      <td></td>
      <td>1.5%</td>
      <td>20.9%</td>
      <td>0.3%</td>
      <td>168,152,797</td>
    </tr>
    <tr>
      <td>Hungary</td>
      <td>2,005,399</td>
      <td></td>
      <td>46,966</td>
      <td></td>
      <td>2.3%</td>
      <td>36.7%</td>
      <td>0.3%</td>
      <td>9,608,600</td>
    </tr>
    <tr>
      <td>Slovakia</td>
      <td>1,827,404</td>
      <td></td>
      <td>20,296</td>
      <td></td>
      <td>1.1%</td>
      <td>30.7%</td>
      <td>0.3%</td>
      <td>5,465,222</td>
    </tr>
    <tr>
      <td>Singapore</td>
      <td>1,791,046</td>
      <td></td>
      <td>1,556</td>
      <td></td>
      <td>0.1%</td>
      <td>17.2%</td>
      <td>0.3%</td>
      <td>5,947,459</td>
    </tr>
    <tr>
      <td>Jordan</td>
      <td>1,720,778</td>
      <td></td>
      <td>14,090</td>
      <td></td>
      <td>0.8%</td>
      <td>43.3%</td>
      <td>0.3%</td>
      <td>10,416,944</td>
    </tr>
    <tr>
      <td>Georgia</td>
      <td>1,710,749</td>
      <td></td>
      <td>16,877</td>
      <td></td>
      <td>1.0%</td>
      <td>34.2%</td>
      <td>0.3%</td>
      <td>3,973,012</td>
    </tr>
    <tr>
      <td>New Zealand</td>
      <td>1,687,705</td>
      <td>+2,759</td>
      <td>2,497</td>
      <td>+11</td>
      <td>0.1%</td>
      <td>33.4%</td>
      <td>0.3%</td>
      <td>5,002,100</td>
    </tr>
    <tr>
      <td>Ireland</td>
      <td>1,650,791</td>
      <td></td>
      <td>7,703</td>
      <td></td>
      <td>0.5%</td>
      <td>0.7%</td>
      <td>0.3%</td>
      <td>5,054,217</td>
    </tr>
    <tr>
      <td>Pakistan</td>
      <td>1,562,307</td>
      <td></td>
      <td>30,523</td>
      <td></td>
      <td>2.0%</td>
      <td>28.4%</td>
      <td>0.3%</td>
      <td>229,946,975</td>
    </tr>
    <tr>
      <td>Norway</td>
      <td>1,458,057</td>
      <td></td>
      <td>3,834</td>
      <td></td>
      <td>0.3%</td>
      <td>19.1%</td>
      <td>0.2%</td>
      <td>5,510,717</td>
    </tr>
    <tr>
      <td>Hong Kong</td>
      <td>1,412,043</td>
      <td></td>
      <td>9,562</td>
      <td></td>
      <td>0.7%</td>
      <td>7.3%</td>
      <td>0.2%</td>
      <td>7,625,364</td>
    </tr>
    <tr>
      <td>Kazakhstan</td>
      <td>1,375,729</td>
      <td></td>
      <td>13,673</td>
      <td></td>
      <td>1.0%</td>
      <td>3.6%</td>
      <td>0.2%</td>
      <td>19,250,815</td>
    </tr>
    <tr>
      <td>Morocco</td>
      <td>1,263,373</td>
      <td></td>
      <td>16,268</td>
      <td></td>
      <td>1.3%</td>
      <td>22.7%</td>
      <td>0.2%</td>
      <td>37,834,083</td>
    </tr>
    <tr>
      <td>Finland</td>
      <td>1,238,998</td>
      <td></td>
      <td>5,350</td>
      <td></td>
      <td>0.4%</td>
      <td>18.1%</td>
      <td>0.2%</td>
      <td>5,558,883</td>
    </tr>
    <tr>
      <td>Bulgaria</td>
      <td>1,226,064</td>
      <td></td>
      <td>37,486</td>
      <td></td>
      <td>3.1%</td>
      <td>30.3%</td>
      <td>0.2%</td>
      <td>6,838,129</td>
    </tr>
    <tr>
      <td>Croatia</td>
      <td>1,200,113</td>
      <td></td>
      <td>16,484</td>
      <td></td>
      <td>1.4%</td>
      <td>17.8%</td>
      <td>0.2%</td>
      <td>4,051,869</td>
    </tr>
    <tr>
      <td>Lebanon</td>
      <td>1,195,784</td>
      <td></td>
      <td>10,572</td>
      <td></td>
      <td>0.9%</td>
      <td>9.9%</td>
      <td>0.2%</td>
      <td>6,760,969</td>
    </tr>
    <tr>
      <td>Tunisia</td>
      <td>1,139,241</td>
      <td></td>
      <td>29,153</td>
      <td></td>
      <td>2.6%</td>
      <td>10.1%</td>
      <td>0.2%</td>
      <td>12,079,664</td>
    </tr>
    <tr>
      <td>Cuba</td>
      <td>1,109,360</td>
      <td></td>
      <td>8,529</td>
      <td></td>
      <td>0.8%</td>
      <td>53.3%</td>
      <td>0.2%</td>
      <td>11,312,029</td>
    </tr>
    <tr>
      <td>Slovenia</td>
      <td>1,102,935</td>
      <td></td>
      <td>6,743</td>
      <td></td>
      <td>0.6%</td>
      <td>41.7%</td>
      <td>0.2%</td>
      <td>2,079,541</td>
    </tr>
    <tr>
      <td>Lithuania</td>
      <td>1,097,367</td>
      <td></td>
      <td>9,229</td>
      <td></td>
      <td>0.8%</td>
      <td>9.1%</td>
      <td>0.2%</td>
      <td>2,642,216</td>
    </tr>
    <tr>
      <td>Bolivia</td>
      <td>1,079,371</td>
      <td></td>
      <td>22,126</td>
      <td></td>
      <td>2.0%</td>
      <td>5.8%</td>
      <td>0.2%</td>
      <td>12,009,151</td>
    </tr>
    <tr>
      <td>Guatemala</td>
      <td>1,072,241</td>
      <td></td>
      <td>19,223</td>
      <td></td>
      <td>1.8%</td>
      <td>20.7%</td>
      <td>0.2%</td>
      <td>18,615,186</td>
    </tr>
    <tr>
      <td>Costa Rica</td>
      <td>1,030,000</td>
      <td></td>
      <td>8,780</td>
      <td></td>
      <td>0.9%</td>
      <td>10.2%</td>
      <td>0.2%</td>
      <td>5,192,307</td>
    </tr>
    <tr>
      <td>UAE</td>
      <td>1,003,929</td>
      <td></td>
      <td>2,339</td>
      <td></td>
      <td>0.2%</td>
      <td>10.6%</td>
      <td>0.2%</td>
      <td>10,142,655</td>
    </tr>
    <tr>
      <td>Belarus</td>
      <td>994,037</td>
      <td></td>
      <td>7,118</td>
      <td></td>
      <td>0.7%</td>
      <td>3.3%</td>
      <td>0.2%</td>
      <td>9,442,765</td>
    </tr>
    <tr>
      <td>Nepal</td>
      <td>992,727</td>
      <td></td>
      <td>11,986</td>
      <td></td>
      <td>1.2%</td>
      <td>5.5%</td>
      <td>0.2%</td>
      <td>30,243,114</td>
    </tr>
    <tr>
      <td>Ecuador</td>
      <td>975,234</td>
      <td></td>
      <td>35,811</td>
      <td></td>
      <td>3.7%</td>
      <td>27.9%</td>
      <td>0.2%</td>
      <td>18,208,612</td>
    </tr>
    <tr>
      <td>Uruguay</td>
      <td>973,420</td>
      <td></td>
      <td>7,423</td>
      <td></td>
      <td>0.8%</td>
      <td>28.7%</td>
      <td>0.2%</td>
      <td>3,499,136</td>
    </tr>
    <tr>
      <td>Mongolia</td>
      <td>966,423</td>
      <td></td>
      <td>2,179</td>
      <td></td>
      <td>0.2%</td>
      <td>21.7%</td>
      <td>0.2%</td>
      <td>3,389,737</td>
    </tr>
    <tr>
      <td>Panama</td>
      <td>960,300</td>
      <td></td>
      <td>8,434</td>
      <td></td>
      <td>0.9%</td>
      <td>52.1%</td>
      <td>0.2%</td>
      <td>4,458,153</td>
    </tr>
    <tr>
      <td>Latvia</td>
      <td>881,020</td>
      <td></td>
      <td>5,909</td>
      <td></td>
      <td>0.7%</td>
      <td>2.5%</td>
      <td>0.1%</td>
      <td>1,842,228</td>
    </tr>
    <tr>
      <td>Saudi Arabia</td>
      <td>811,853</td>
      <td></td>
      <td>9,269</td>
      <td></td>
      <td>1.1%</td>
      <td>7.9%</td>
      <td>0.1%</td>
      <td>35,958,417</td>
    </tr>
    <tr>
      <td>Azerbaijan</td>
      <td>804,585</td>
      <td></td>
      <td>9,773</td>
      <td></td>
      <td>1.2%</td>
      <td>11.0%</td>
      <td>0.1%</td>
      <td>10,332,082</td>
    </tr>
    <tr>
      <td>Paraguay</td>
      <td>712,907</td>
      <td></td>
      <td>19,357</td>
      <td></td>
      <td>2.7%</td>
      <td>3.3%</td>
      <td>0.1%</td>
      <td>7,317,485</td>
    </tr>
    <tr>
      <td>Sri Lanka</td>
      <td>667,916</td>
      <td></td>
      <td>16,619</td>
      <td></td>
      <td>2.5%</td>
      <td>36.6%</td>
      <td>0.1%</td>
      <td>21,602,734</td>
    </tr>
    <tr>
      <td>Bahrain</td>
      <td>666,373</td>
      <td></td>
      <td>1,512</td>
      <td></td>
      <td>0.2%</td>
      <td>15.1%</td>
      <td>0.1%</td>
      <td>1,826,448</td>
    </tr>
    <tr>
      <td>Kuwait</td>
      <td>655,854</td>
      <td></td>
      <td>2,562</td>
      <td></td>
      <td>0.4%</td>
      <td>5.9%</td>
      <td>0.1%</td>
      <td>4,403,897</td>
    </tr>
    <tr>
      <td>Dominican Republic</td>
      <td>633,689</td>
      <td></td>
      <td>4,384</td>
      <td></td>
      <td>0.7%</td>
      <td>11.8%</td>
      <td>0.1%</td>
      <td>11,077,537</td>
    </tr>
    <tr>
      <td>Palestine</td>
      <td>616,364</td>
      <td></td>
      <td>5,390</td>
      <td></td>
      <td>0.9%</td>
      <td>1.1%</td>
      <td>0.1%</td>
      <td>5,351,765</td>
    </tr>
    <tr>
      <td>Myanmar</td>
      <td>614,360</td>
      <td></td>
      <td>19,435</td>
      <td></td>
      <td>3.2%</td>
      <td>46.2%</td>
      <td>0.1%</td>
      <td>55,179,675</td>
    </tr>
    <tr>
      <td>Estonia</td>
      <td>593,571</td>
      <td></td>
      <td>2,634</td>
      <td></td>
      <td>0.4%</td>
      <td>48.4%</td>
      <td>0.1%</td>
      <td>1,328,417</td>
    </tr>
    <tr>
      <td>Cyprus</td>
      <td>568,383</td>
      <td></td>
      <td>1,143</td>
      <td></td>
      <td>0.2%</td>
      <td>14.2%</td>
      <td>0.1%</td>
      <td>1,225,910</td>
    </tr>
    <tr>
      <td>Moldova</td>
      <td>551,862</td>
      <td></td>
      <td>11,662</td>
      <td></td>
      <td>2.1%</td>
      <td>2.0%</td>
      <td>0.1%</td>
      <td>4,014,183</td>
    </tr>
    <tr>
      <td>Venezuela</td>
      <td>540,102</td>
      <td></td>
      <td>5,775</td>
      <td></td>
      <td>1.1%</td>
      <td>0.5%</td>
      <td>0.1%</td>
      <td>28,265,963</td>
    </tr>
    <tr>
      <td>Egypt</td>
      <td>515,645</td>
      <td></td>
      <td>24,613</td>
      <td></td>
      <td>4.8%</td>
      <td>7.3%</td>
      <td>0.1%</td>
      <td>106,409,004</td>
    </tr>
    <tr>
      <td>Libya</td>
      <td>505,956</td>
      <td></td>
      <td>6,434</td>
      <td></td>
      <td>1.3%</td>
      <td>0.4%</td>
      <td>0.1%</td>
      <td>7,068,536</td>
    </tr>
    <tr>
      <td>Ethiopia</td>
      <td>492,738</td>
      <td></td>
      <td>7,569</td>
      <td></td>
      <td>1.5%</td>
      <td>4.8%</td>
      <td>0.1%</td>
      <td>120,975,273</td>
    </tr>
    <tr>
      <td>Honduras</td>
      <td>447,365</td>
      <td></td>
      <td>10,954</td>
      <td></td>
      <td>2.4%</td>
      <td>49.2%</td>
      <td>0.1%</td>
      <td>10,237,156</td>
    </tr>
    <tr>
      <td>Réunion</td>
      <td>445,337</td>
      <td></td>
      <td>853</td>
      <td></td>
      <td>0.2%</td>
      <td>15.0%</td>
      <td>0.1%</td>
      <td>908,798</td>
    </tr>
    <tr>
      <td>Armenia</td>
      <td>428,648</td>
      <td></td>
      <td>8,637</td>
      <td></td>
      <td>2.0%</td>
      <td>15.3%</td>
      <td>0.1%</td>
      <td>2,974,931</td>
    </tr>
    <tr>
      <td>Qatar</td>
      <td>418,622</td>
      <td></td>
      <td>681</td>
      <td></td>
      <td>0.2%</td>
      <td>7.8%</td>
      <td>0.1%</td>
      <td>2,807,805</td>
    </tr>
    <tr>
      <td>Oman</td>
      <td>397,231</td>
      <td></td>
      <td>4,260</td>
      <td></td>
      <td>1.1%</td>
      <td>12.3%</td>
      <td>0.1%</td>
      <td>5,380,805</td>
    </tr>
    <tr>
      <td>Bosnia and Herzegovina</td>
      <td>390,650</td>
      <td></td>
      <td>15,942</td>
      <td></td>
      <td>4.1%</td>
      <td>0.7%</td>
      <td>0.1%</td>
      <td>3,237,776</td>
    </tr>
    <tr>
      <td>Kenya</td>
      <td>337,938</td>
      <td></td>
      <td>5,673</td>
      <td></td>
      <td>1.7%</td>
      <td>16.2%</td>
      <td>0.1%</td>
      <td>56,271,724</td>
    </tr>
    <tr>
      <td>North Macedonia</td>
      <td>334,562</td>
      <td></td>
      <td>9,414</td>
      <td></td>
      <td>2.8%</td>
      <td>1.7%</td>
      <td>0.1%</td>
      <td>2,083,194</td>
    </tr>
    <tr>
      <td>Zambia</td>
      <td>331,925</td>
      <td></td>
      <td>4,016</td>
      <td></td>
      <td>1.2%</td>
      <td>13.5%</td>
      <td>0.1%</td>
      <td>19,470,887</td>
    </tr>
    <tr>
      <td>Botswana</td>
      <td>325,824</td>
      <td></td>
      <td>2,774</td>
      <td></td>
      <td>0.9%</td>
      <td>11.3%</td>
      <td>0.1%</td>
      <td>2,451,864</td>
    </tr>
    <tr>
      <td>Albania</td>
      <td>321,345</td>
      <td></td>
      <td>3,570</td>
      <td></td>
      <td>1.1%</td>
      <td>49.6%</td>
      <td>0.1%</td>
      <td>2,871,167</td>
    </tr>
    <tr>
      <td>Luxembourg</td>
      <td>284,931</td>
      <td></td>
      <td>1,114</td>
      <td></td>
      <td>0.4%</td>
      <td>45.4%</td>
      <td>0.0%</td>
      <td>647,477</td>
    </tr>
    <tr>
      <td>Montenegro</td>
      <td>269,213</td>
      <td></td>
      <td>2,758</td>
      <td></td>
      <td>1.0%</td>
      <td>0.6%</td>
      <td>0.0%</td>
      <td>628,234</td>
    </tr>
    <tr>
      <td>Algeria</td>
      <td>269,008</td>
      <td></td>
      <td>6,878</td>
      <td></td>
      <td>2.6%</td>
      <td>0.1%</td>
      <td>0.0%</td>
      <td>45,522,652</td>
    </tr>
    <tr>
      <td>Nigeria</td>
      <td>262,520</td>
      <td></td>
      <td>3,147</td>
      <td></td>
      <td>1.2%</td>
      <td>1.7%</td>
      <td>0.0%</td>
      <td>216,925,582</td>
    </tr>
    <tr>
      <td>Zimbabwe</td>
      <td>256,522</td>
      <td></td>
      <td>5,587</td>
      <td></td>
      <td>2.2%</td>
      <td>0.7%</td>
      <td>0.0%</td>
      <td>15,319,666</td>
    </tr>
    <tr>
      <td>Uzbekistan</td>
      <td>243,509</td>
      <td></td>
      <td>1,637</td>
      <td></td>
      <td>0.7%</td>
      <td>0.7%</td>
      <td>0.0%</td>
      <td>34,493,166</td>
    </tr>
    <tr>
      <td>Mozambique</td>
      <td>229,859</td>
      <td></td>
      <td>2,219</td>
      <td></td>
      <td>1.0%</td>
      <td>61.4%</td>
      <td>0.0%</td>
      <td>33,104,090</td>
    </tr>
    <tr>
      <td>Martinique</td>
      <td>216,335</td>
      <td></td>
      <td>1,022</td>
      <td></td>
      <td>0.5%</td>
      <td>48.5%</td>
      <td>0.0%</td>
      <td>374,651</td>
    </tr>
    <tr>
      <td>Brunei</td>
      <td>215,283</td>
      <td></td>
      <td>225</td>
      <td></td>
      <td>0.1%</td>
      <td>2.9%</td>
      <td>0.0%</td>
      <td>446,321</td>
    </tr>
    <tr>
      <td>Laos</td>
      <td>212,323</td>
      <td></td>
      <td>757</td>
      <td></td>
      <td>0.4%</td>
      <td>3.1%</td>
      <td>0.0%</td>
      <td>7,498,430</td>
    </tr>
    <tr>
      <td>Kyrgyzstan</td>
      <td>204,671</td>
      <td></td>
      <td>2,991</td>
      <td></td>
      <td>1.5%</td>
      <td>59.2%</td>
      <td>0.0%</td>
      <td>6,751,425</td>
    </tr>
    <tr>
      <td>Iceland</td>
      <td>203,162</td>
      <td></td>
      <td>179</td>
      <td></td>
      <td>0.1%</td>
      <td>3.1%</td>
      <td>0.0%</td>
      <td>345,917</td>
    </tr>
    <tr>
      <td>El Salvador</td>
      <td>190,818</td>
      <td></td>
      <td>4,217</td>
      <td></td>
      <td>2.2%</td>
      <td>0.5%</td>
      <td>0.0%</td>
      <td>6,555,278</td>
    </tr>
    <tr>
      <td>Afghanistan</td>
      <td>188,820</td>
      <td></td>
      <td>7,758</td>
      <td></td>
      <td>4.1%</td>
      <td>47.2%</td>
      <td>0.0%</td>
      <td>40,779,147</td>
    </tr>
    <tr>
      <td>Guadeloupe</td>
      <td>186,380</td>
      <td></td>
      <td>971</td>
      <td></td>
      <td>0.5%</td>
      <td>33.2%</td>
      <td>0.0%</td>
      <td>400,268</td>
    </tr>
    <tr>
      <td>Maldives</td>
      <td>184,591</td>
      <td></td>
      <td>307</td>
      <td></td>
      <td>0.2%</td>
      <td>13.1%</td>
      <td>0.0%</td>
      <td>560,642</td>
    </tr>
    <tr>
      <td>Trinidad and Tobago</td>
      <td>174,896</td>
      <td></td>
      <td>4,075</td>
      <td></td>
      <td>2.3%</td>
      <td>0.4%</td>
      <td>0.0%</td>
      <td>1,409,052</td>
    </tr>
    <tr>
      <td>Uganda</td>
      <td>169,396</td>
      <td></td>
      <td>3,628</td>
      <td></td>
      <td>2.1%</td>
      <td>6.4%</td>
      <td>0.0%</td>
      <td>48,790,720</td>
    </tr>
    <tr>
      <td>Namibia</td>
      <td>169,253</td>
      <td></td>
      <td>4,065</td>
      <td></td>
      <td>2.4%</td>
      <td>0.5%</td>
      <td>0.0%</td>
      <td>2,638,046</td>
    </tr>
    <tr>
      <td>Ghana</td>
      <td>168,350</td>
      <td></td>
      <td>1,458</td>
      <td></td>
      <td>0.9%</td>
      <td>5.6%</td>
      <td>0.0%</td>
      <td>32,442,210</td>
    </tr>
    <tr>
      <td>Jamaica</td>
      <td>147,908</td>
      <td></td>
      <td>3,221</td>
      <td></td>
      <td>2.2%</td>
      <td>0.9%</td>
      <td>0.0%</td>
      <td>2,988,444</td>
    </tr>
    <tr>
      <td>Cambodia</td>
      <td>137,207</td>
      <td></td>
      <td>3,056</td>
      <td></td>
      <td>2.2%</td>
      <td>1.0%</td>
      <td>0.0%</td>
      <td>17,207,410</td>
    </tr>
    <tr>
      <td>Rwanda</td>
      <td>132,354</td>
      <td></td>
      <td>1,466</td>
      <td></td>
      <td>1.1%</td>
      <td>0.5%</td>
      <td>0.0%</td>
      <td>13,630,026</td>
    </tr>
    <tr>
      <td>Cameroon</td>
      <td>120,967</td>
      <td></td>
      <td>1,933</td>
      <td></td>
      <td>1.6%</td>
      <td>27.2%</td>
      <td>0.0%</td>
      <td>27,940,849</td>
    </tr>
    <tr>
      <td>Malta</td>
      <td>113,501</td>
      <td></td>
      <td>797</td>
      <td></td>
      <td>0.7%</td>
      <td>0.3%</td>
      <td>0.0%</td>
      <td>444,025</td>
    </tr>
    <tr>
      <td>Angola</td>
      <td>102,636</td>
      <td></td>
      <td>1,917</td>
      <td></td>
      <td>1.9%</td>
      <td>35.6%</td>
      <td>0.0%</td>
      <td>35,024,665</td>
    </tr>
    <tr>
      <td>Barbados</td>
      <td>97,411</td>
      <td></td>
      <td>516</td>
      <td></td>
      <td>0.5%</td>
      <td>30.9%</td>
      <td>0.0%</td>
      <td>288,117</td>
    </tr>
    <tr>
      <td>French Guiana</td>
      <td>93,277</td>
      <td></td>
      <td>408</td>
      <td></td>
      <td>0.4%</td>
      <td>0.1%</td>
      <td>0.0%</td>
      <td>315,026</td>
    </tr>
    <tr>
      <td>DRC</td>
      <td>92,456</td>
      <td></td>
      <td>1,391</td>
      <td></td>
      <td>1.5%</td>
      <td>52.2%</td>
      <td>0.0%</td>
      <td>95,309,780</td>
    </tr>
    <tr>
      <td>Channel Islands</td>
      <td>88,901</td>
      <td></td>
      <td>197</td>
      <td></td>
      <td>0.2%</td>
      <td>0.5%</td>
      <td>0.0%</td>
      <td>177,246</td>
    </tr>
    <tr>
      <td>Senegal</td>
      <td>87,752</td>
      <td></td>
      <td>1,968</td>
      <td></td>
      <td>2.2%</td>
      <td>0.4%</td>
      <td>0.0%</td>
      <td>17,675,432</td>
    </tr>
    <tr>
      <td>Malawi</td>
      <td>87,710</td>
      <td></td>
      <td>2,673</td>
      <td></td>
      <td>3.0%</td>
      <td>0.3%</td>
      <td>0.0%</td>
      <td>20,173,522</td>
    </tr>
    <tr>
      <td>Ivory Coast</td>
      <td>86,092</td>
      <td></td>
      <td>815</td>
      <td></td>
      <td>0.9%</td>
      <td>14.4%</td>
      <td>0.0%</td>
      <td>27,757,245</td>
    </tr>
    <tr>
      <td>Suriname</td>
      <td>80,988</td>
      <td></td>
      <td>1,380</td>
      <td></td>
      <td>1.7%</td>
      <td>28.5%</td>
      <td>0.0%</td>
      <td>597,727</td>
    </tr>
    <tr>
      <td>French Polynesia</td>
      <td>76,139</td>
      <td></td>
      <td>649</td>
      <td></td>
      <td>0.9%</td>
      <td>6.4%</td>
      <td>0.0%</td>
      <td>284,335</td>
    </tr>
    <tr>
      <td>Eswatini</td>
      <td>73,326</td>
      <td></td>
      <td>1,419</td>
      <td></td>
      <td>1.9%</td>
      <td>25.2%</td>
      <td>0.0%</td>
      <td>1,185,521</td>
    </tr>
    <tr>
      <td>New Caledonia</td>
      <td>72,226</td>
      <td></td>
      <td>314</td>
      <td></td>
      <td>0.4%</td>
      <td>9.1%</td>
      <td>0.0%</td>
      <td>291,291</td>
    </tr>
    <tr>
      <td>Guyana</td>
      <td>70,439</td>
      <td></td>
      <td>1,275</td>
      <td></td>
      <td>1.8%</td>
      <td>7.7%</td>
      <td>0.0%</td>
      <td>794,562</td>
    </tr>
    <tr>
      <td>Fiji</td>
      <td>67,925</td>
      <td></td>
      <td>875</td>
      <td></td>
      <td>1.3%</td>
      <td>16.5%</td>
      <td>0.0%</td>
      <td>910,156</td>
    </tr>
    <tr>
      <td>Belize</td>
      <td>67,630</td>
      <td></td>
      <td>680</td>
      <td></td>
      <td>1.0%</td>
      <td>0.2%</td>
      <td>0.0%</td>
      <td>412,866</td>
    </tr>
    <tr>
      <td>Madagascar</td>
      <td>66,557</td>
      <td></td>
      <td>1,409</td>
      <td></td>
      <td>2.1%</td>
      <td>0.1%</td>
      <td>0.0%</td>
      <td>29,193,866</td>
    </tr>
    <tr>
      <td>Sudan</td>
      <td>63,128</td>
      <td></td>
      <td>4,960</td>
      <td></td>
      <td>7.9%</td>
      <td>1.3%</td>
      <td>0.0%</td>
      <td>46,010,607</td>
    </tr>
    <tr>
      <td>Mauritania</td>
      <td>62,705</td>
      <td></td>
      <td>992</td>
      <td></td>
      <td>1.6%</td>
      <td>11.0%</td>
      <td>0.0%</td>
      <td>4,907,672</td>
    </tr>
    <tr>
      <td>Cabo Verde</td>
      <td>62,253</td>
      <td></td>
      <td>410</td>
      <td></td>
      <td>0.7%</td>
      <td>7.9%</td>
      <td>0.0%</td>
      <td>568,734</td>
    </tr>
    <tr>
      <td>Bhutan</td>
      <td>60,663</td>
      <td></td>
      <td>21</td>
      <td></td>
      <td>0.0%</td>
      <td>0.3%</td>
      <td>0.0%</td>
      <td>789,543</td>
    </tr>
    <tr>
      <td>Syria</td>
      <td>56,700</td>
      <td></td>
      <td>3,157</td>
      <td></td>
      <td>5.6%</td>
      <td>2.4%</td>
      <td>0.0%</td>
      <td>18,398,151</td>
    </tr>
    <tr>
      <td>Gabon</td>
      <td>48,592</td>
      <td></td>
      <td>306</td>
      <td></td>
      <td>0.6%</td>
      <td>0.4%</td>
      <td>0.0%</td>
      <td>2,336,604</td>
    </tr>
    <tr>
      <td>Burundi</td>
      <td>48,002</td>
      <td></td>
      <td>38</td>
      <td></td>
      <td>0.1%</td>
      <td>61.9%</td>
      <td>0.0%</td>
      <td>12,638,433</td>
    </tr>
    <tr>
      <td>Andorra</td>
      <td>45,899</td>
      <td></td>
      <td>154</td>
      <td></td>
      <td>0.3%</td>
      <td>46.1%</td>
      <td>0.0%</td>
      <td>77,526</td>
    </tr>
    <tr>
      <td>Seychelles</td>
      <td>45,692</td>
      <td></td>
      <td>168</td>
      <td></td>
      <td>0.4%</td>
      <td>27.6%</td>
      <td>0.0%</td>
      <td>99,632</td>
    </tr>
    <tr>
      <td>Curaçao</td>
      <td>45,127</td>
      <td></td>
      <td>282</td>
      <td></td>
      <td>0.6%</td>
      <td>0.5%</td>
      <td>0.0%</td>
      <td>165,509</td>
    </tr>
    <tr>
      <td>Papua New Guinea</td>
      <td>44,820</td>
      <td></td>
      <td>663</td>
      <td></td>
      <td>1.5%</td>
      <td>41.6%</td>
      <td>0.0%</td>
      <td>9,304,808</td>
    </tr>
    <tr>
      <td>Aruba</td>
      <td>42,406</td>
      <td></td>
      <td>226</td>
      <td></td>
      <td>0.5%</td>
      <td>14.8%</td>
      <td>0.0%</td>
      <td>107,723</td>
    </tr>
    <tr>
      <td>Mayotte</td>
      <td>39,986</td>
      <td></td>
      <td>187</td>
      <td></td>
      <td>0.5%</td>
      <td>3.1%</td>
      <td>0.0%</td>
      <td>286,711</td>
    </tr>
    <tr>
      <td>Mauritius</td>
      <td>39,931</td>
      <td></td>
      <td>1,019</td>
      <td></td>
      <td>2.6%</td>
      <td>0.5%</td>
      <td>0.0%</td>
      <td>1,276,222</td>
    </tr>
    <tr>
      <td>Togo</td>
      <td>38,273</td>
      <td></td>
      <td>281</td>
      <td></td>
      <td>0.7%</td>
      <td>0.1%</td>
      <td>0.0%</td>
      <td>8,688,337</td>
    </tr>
    <tr>
      <td>Tanzania</td>
      <td>38,205</td>
      <td></td>
      <td>841</td>
      <td></td>
      <td>2.2%</td>
      <td>44.4%</td>
      <td>0.0%</td>
      <td>63,326,180</td>
    </tr>
    <tr>
      <td>Isle of Man</td>
      <td>37,794</td>
      <td></td>
      <td>114</td>
      <td></td>
      <td>0.3%</td>
      <td>0.3%</td>
      <td>0.0%</td>
      <td>85,983</td>
    </tr>
    <tr>
      <td>Guinea</td>
      <td>37,470</td>
      <td></td>
      <td>447</td>
      <td></td>
      <td>1.2%</td>
      <td>9.3%</td>
      <td>0.0%</td>
      <td>13,884,822</td>
    </tr>
    <tr>
      <td>Bahamas</td>
      <td>36,905</td>
      <td></td>
      <td>823</td>
      <td></td>
      <td>2.2%</td>
      <td>74.9%</td>
      <td>0.0%</td>
      <td>401,176</td>
    </tr>
    <tr>
      <td>Faeroe Islands</td>
      <td>34,658</td>
      <td></td>
      <td>28</td>
      <td></td>
      <td>0.1%</td>
      <td>1.6%</td>
      <td>0.0%</td>
      <td>49,255</td>
    </tr>
    <tr>
      <td>Lesotho</td>
      <td>34,206</td>
      <td></td>
      <td>704</td>
      <td></td>
      <td>2.1%</td>
      <td>0.3%</td>
      <td>0.0%</td>
      <td>2,178,094</td>
    </tr>
    <tr>
      <td>Haiti</td>
      <td>32,703</td>
      <td></td>
      <td>838</td>
      <td></td>
      <td>2.6%</td>
      <td>0.2%</td>
      <td>0.0%</td>
      <td>11,695,956</td>
    </tr>
    <tr>
      <td>Mali</td>
      <td>31,244</td>
      <td></td>
      <td>739</td>
      <td></td>
      <td>2.4%</td>
      <td>46.4%</td>
      <td>0.0%</td>
      <td>21,482,229</td>
    </tr>
    <tr>
      <td>Cayman Islands</td>
      <td>29,653</td>
      <td></td>
      <td>29</td>
      <td></td>
      <td>0.1%</td>
      <td>16.0%</td>
      <td>0.0%</td>
      <td>67,351</td>
    </tr>
    <tr>
      <td>Saint Lucia</td>
      <td>28,341</td>
      <td></td>
      <td>388</td>
      <td></td>
      <td>1.4%</td>
      <td>0.2%</td>
      <td>0.0%</td>
      <td>185,398</td>
    </tr>
    <tr>
      <td>Benin</td>
      <td>27,316</td>
      <td></td>
      <td>163</td>
      <td></td>
      <td>0.6%</td>
      <td>0.2%</td>
      <td>0.0%</td>
      <td>12,793,559</td>
    </tr>
    <tr>
      <td>Somalia</td>
      <td>27,020</td>
      <td></td>
      <td>1,350</td>
      <td></td>
      <td>5.0%</td>
      <td>0.5%</td>
      <td>0.0%</td>
      <td>16,829,313</td>
    </tr>
    <tr>
      <td>Congo</td>
      <td>24,837</td>
      <td></td>
      <td>386</td>
      <td></td>
      <td>1.6%</td>
      <td>1.8%</td>
      <td>0.0%</td>
      <td>5,804,820</td>
    </tr>
    <tr>
      <td>Timor-Leste</td>
      <td>23,036</td>
      <td></td>
      <td>134</td>
      <td></td>
      <td>0.6%</td>
      <td>3.2%</td>
      <td>0.0%</td>
      <td>1,371,457</td>
    </tr>
    <tr>
      <td>Solomon Islands</td>
      <td>21,544</td>
      <td></td>
      <td>153</td>
      <td></td>
      <td>0.7%</td>
      <td>0.1%</td>
      <td>0.0%</td>
      <td>722,444</td>
    </tr>
    <tr>
      <td>Burkina Faso</td>
      <td>21,128</td>
      <td></td>
      <td>387</td>
      <td></td>
      <td>1.8%</td>
      <td>62.0%</td>
      <td>0.0%</td>
      <td>22,113,338</td>
    </tr>
    <tr>
      <td>San Marino</td>
      <td>20,130</td>
      <td></td>
      <td>118</td>
      <td></td>
      <td>0.6%</td>
      <td>59.8%</td>
      <td>0.0%</td>
      <td>34,082</td>
    </tr>
    <tr>
      <td>Gibraltar</td>
      <td>20,034</td>
      <td></td>
      <td>106</td>
      <td></td>
      <td>0.5%</td>
      <td>52.2%</td>
      <td>0.0%</td>
      <td>33,670</td>
    </tr>
    <tr>
      <td>Liechtenstein</td>
      <td>18,907</td>
      <td></td>
      <td>86</td>
      <td></td>
      <td>0.5%</td>
      <td>16.6%</td>
      <td>0.0%</td>
      <td>38,359</td>
    </tr>
    <tr>
      <td>Grenada</td>
      <td>18,895</td>
      <td></td>
      <td>234</td>
      <td></td>
      <td>1.2%</td>
      <td>0.3%</td>
      <td>0.0%</td>
      <td>113,623</td>
    </tr>
    <tr>
      <td>Nicaragua</td>
      <td>18,491</td>
      <td></td>
      <td>225</td>
      <td></td>
      <td>1.2%</td>
      <td>0.2%</td>
      <td>0.0%</td>
      <td>6,790,929</td>
    </tr>
    <tr>
      <td>South Sudan</td>
      <td>17,823</td>
      <td></td>
      <td>138</td>
      <td></td>
      <td>0.8%</td>
      <td>0.2%</td>
      <td>0.0%</td>
      <td>11,470,756</td>
    </tr>
    <tr>
      <td>Tajikistan</td>
      <td>17,786</td>
      <td></td>
      <td>125</td>
      <td></td>
      <td>0.7%</td>
      <td>28.8%</td>
      <td>0.0%</td>
      <td>9,989,885</td>
    </tr>
    <tr>
      <td>Bermuda</td>
      <td>17,556</td>
      <td></td>
      <td>148</td>
      <td></td>
      <td>0.8%</td>
      <td>1.2%</td>
      <td>0.0%</td>
      <td>61,793</td>
    </tr>
    <tr>
      <td>Equatorial Guinea</td>
      <td>16,892</td>
      <td></td>
      <td>183</td>
      <td></td>
      <td>1.1%</td>
      <td>1.7%</td>
      <td>0.0%</td>
      <td>1,500,298</td>
    </tr>
    <tr>
      <td>Djibouti</td>
      <td>15,690</td>
      <td></td>
      <td>189</td>
      <td></td>
      <td>1.2%</td>
      <td>7.8%</td>
      <td>0.0%</td>
      <td>1,018,330</td>
    </tr>
    <tr>
      <td>Samoa</td>
      <td>15,405</td>
      <td></td>
      <td>29</td>
      <td></td>
      <td>0.2%</td>
      <td>21.3%</td>
      <td>0.0%</td>
      <td>201,197</td>
    </tr>
    <tr>
      <td>Dominica</td>
      <td>14,852</td>
      <td></td>
      <td>68</td>
      <td></td>
      <td>0.5%</td>
      <td>0.3%</td>
      <td>0.0%</td>
      <td>72,363</td>
    </tr>
    <tr>
      <td>CAR</td>
      <td>14,803</td>
      <td></td>
      <td>113</td>
      <td></td>
      <td>0.8%</td>
      <td>37.2%</td>
      <td>0.0%</td>
      <td>5,007,038</td>
    </tr>
    <tr>
      <td>Monaco</td>
      <td>14,277</td>
      <td></td>
      <td>57</td>
      <td></td>
      <td>0.4%</td>
      <td>13.2%</td>
      <td>0.0%</td>
      <td>39,829</td>
    </tr>
    <tr>
      <td>Tonga</td>
      <td>13,405</td>
      <td></td>
      <td>12</td>
      <td></td>
      <td>0.1%</td>
      <td>0.5%</td>
      <td>0.0%</td>
      <td>108,224</td>
    </tr>
    <tr>
      <td>Gambia</td>
      <td>12,238</td>
      <td></td>
      <td>368</td>
      <td></td>
      <td>3.0%</td>
      <td>21.5%</td>
      <td>0.0%</td>
      <td>2,560,000</td>
    </tr>
    <tr>
      <td>Greenland</td>
      <td>11,971</td>
      <td></td>
      <td>21</td>
      <td></td>
      <td>0.2%</td>
      <td>0.0%</td>
      <td>0.0%</td>
      <td>56,978</td>
    </tr>
    <tr>
      <td>Yemen</td>
      <td>11,903</td>
      <td></td>
      <td>2,152</td>
      <td></td>
      <td>18.1%</td>
      <td>3.7%</td>
      <td>0.0%</td>
      <td>31,212,719</td>
    </tr>
    <tr>
      <td>Vanuatu</td>
      <td>11,746</td>
      <td></td>
      <td>14</td>
      <td></td>
      <td>0.1%</td>
      <td>29.3%</td>
      <td>0.0%</td>
      <td>322,297</td>
    </tr>
    <tr>
      <td>Saint Martin</td>
      <td>11,667</td>
      <td></td>
      <td>63</td>
      <td></td>
      <td>0.5%</td>
      <td>43.6%</td>
      <td>0.0%</td>
      <td>40,058</td>
    </tr>
    <tr>
      <td>Caribbean Netherlands</td>
      <td>10,929</td>
      <td></td>
      <td>35</td>
      <td></td>
      <td>0.3%</td>
      <td>24.9%</td>
      <td>0.0%</td>
      <td>26,738</td>
    </tr>
    <tr>
      <td>Sint Maarten</td>
      <td>10,791</td>
      <td></td>
      <td>87</td>
      <td></td>
      <td>0.8%</td>
      <td>0.3%</td>
      <td>0.0%</td>
      <td>43,903</td>
    </tr>
    <tr>
      <td>Eritrea</td>
      <td>10,134</td>
      <td></td>
      <td>103</td>
      <td></td>
      <td>1.0%</td>
      <td>0.0%</td>
      <td>0.0%</td>
      <td>3,650,035</td>
    </tr>
    <tr>
      <td>Niger</td>
      <td>9,132</td>
      <td></td>
      <td>311</td>
      <td></td>
      <td>3.4%</td>
      <td>9.2%</td>
      <td>0.0%</td>
      <td>26,056,666</td>
    </tr>
    <tr>
      <td>Antigua and Barbuda</td>
      <td>8,820</td>
      <td></td>
      <td>144</td>
      <td></td>
      <td>1.6%</td>
      <td>0.4%</td>
      <td>0.0%</td>
      <td>99,640</td>
    </tr>
    <tr>
      <td>Guinea-Bissau</td>
      <td>8,452</td>
      <td></td>
      <td>174</td>
      <td></td>
      <td>2.1%</td>
      <td>0.9%</td>
      <td>0.0%</td>
      <td>2,066,195</td>
    </tr>
    <tr>
      <td>Comoros</td>
      <td>8,351</td>
      <td></td>
      <td>161</td>
      <td></td>
      <td>1.9%</td>
      <td>0.1%</td>
      <td>0.0%</td>
      <td>908,707</td>
    </tr>
    <tr>
      <td>Sierra Leone</td>
      <td>7,740</td>
      <td></td>
      <td>126</td>
      <td></td>
      <td>1.6%</td>
      <td>0.1%</td>
      <td>0.0%</td>
      <td>8,319,437</td>
    </tr>
    <tr>
      <td>Liberia</td>
      <td>7,578</td>
      <td></td>
      <td>294</td>
      <td></td>
      <td>3.9%</td>
      <td>0.0%</td>
      <td>0.0%</td>
      <td>5,308,635</td>
    </tr>
    <tr>
      <td>Chad</td>
      <td>7,444</td>
      <td></td>
      <td>193</td>
      <td></td>
      <td>2.6%</td>
      <td>6.3%</td>
      <td>0.0%</td>
      <td>17,420,926</td>
    </tr>
    <tr>
      <td>Micronesia</td>
      <td>7,136</td>
      <td></td>
      <td>19</td>
      <td></td>
      <td>0.3%</td>
      <td>23.3%</td>
      <td>0.0%</td>
      <td>117,568</td>
    </tr>
    <tr>
      <td>British Virgin Islands</td>
      <td>7,131</td>
      <td></td>
      <td>63</td>
      <td></td>
      <td>0.9%</td>
      <td>6.4%</td>
      <td>0.0%</td>
      <td>30,656</td>
    </tr>
    <tr>
      <td>St. Vincent Grenadines</td>
      <td>7,104</td>
      <td></td>
      <td>115</td>
      <td></td>
      <td>1.6%</td>
      <td>13.2%</td>
      <td>0.0%</td>
      <td>111,684</td>
    </tr>
    <tr>
      <td>Saint Kitts and Nevis</td>
      <td>6,485</td>
      <td></td>
      <td>46</td>
      <td></td>
      <td>0.7%</td>
      <td>16.3%</td>
      <td>0.0%</td>
      <td>53,993</td>
    </tr>
    <tr>
      <td>Turks and Caicos</td>
      <td>6,338</td>
      <td></td>
      <td>36</td>
      <td></td>
      <td>0.6%</td>
      <td>36.0%</td>
      <td>0.0%</td>
      <td>39,823</td>
    </tr>
    <tr>
      <td>Cook Islands</td>
      <td>6,209</td>
      <td></td>
      <td>1</td>
      <td></td>
      <td>0.0%</td>
      <td>2.7%</td>
      <td>0.0%</td>
      <td>17,598</td>
    </tr>
    <tr>
      <td>Sao Tome and Principe</td>
      <td>6,120</td>
      <td></td>
      <td>76</td>
      <td></td>
      <td>1.2%</td>
      <td>33.5%</td>
      <td>0.0%</td>
      <td>227,750</td>
    </tr>
    <tr>
      <td>Palau</td>
      <td>5,308</td>
      <td></td>
      <td>6</td>
      <td></td>
      <td>0.1%</td>
      <td>53.4%</td>
      <td>0.0%</td>
      <td>18,276</td>
    </tr>
    <tr>
      <td>St. Barth</td>
      <td>5,138</td>
      <td></td>
      <td>6</td>
      <td></td>
      <td>0.1%</td>
      <td>46.8%</td>
      <td>0.0%</td>
      <td>9,941</td>
    </tr>
    <tr>
      <td>Nauru</td>
      <td>4,606</td>
      <td></td>
      <td>1</td>
      <td></td>
      <td>0.0%</td>
      <td>30.1%</td>
      <td>0.0%</td>
      <td>10,968</td>
    </tr>
    <tr>
      <td>Anguilla</td>
      <td>3,620</td>
      <td></td>
      <td>10</td>
      <td></td>
      <td>0.3%</td>
      <td>2.9%</td>
      <td>0.0%</td>
      <td>15,286</td>
    </tr>
    <tr>
      <td>Kiribati</td>
      <td>3,430</td>
      <td></td>
      <td>13</td>
      <td></td>
      <td>0.4%</td>
      <td>59.8%</td>
      <td>0.0%</td>
      <td>123,318</td>
    </tr>
    <tr>
      <td>Saint Pierre Miquelon</td>
      <td>3,131</td>
      <td></td>
      <td>1</td>
      <td></td>
      <td>0.0%</td>
      <td>84.8%</td>
      <td>0.0%</td>
      <td>5,734</td>
    </tr>
    <tr>
      <td>Falkland Islands</td>
      <td>1,867</td>
      <td></td>
      <td></td>
      <td></td>
      <td>0.4%</td>
      <td>37.4%</td>
      <td>0.0%</td>
      <td>3,694</td>
    </tr>
    <tr>
      <td>Montserrat</td>
      <td>1,097</td>
      <td></td>
      <td>8</td>
      <td></td>
      <td>0.5%</td>
      <td>0.2%</td>
      <td>0.0%</td>
      <td>4,998</td>
    </tr>
    <tr>
      <td>Macao</td>
      <td>791</td>
      <td></td>
      <td>6</td>
      <td></td>
      <td>0.9%</td>
      <td>7.3%</td>
      <td>0.0%</td>
      <td>668,021</td>
    </tr>
    <tr>
      <td>Wallis and Futuna</td>
      <td>761</td>
      <td></td>
      <td>7</td>
      <td></td>
      <td>1.7%</td>
      <td>1.3%</td>
      <td>0.0%</td>
      <td>10,824</td>
    </tr>
    <tr>
      <td>Diamond Princess</td>
      <td>712</td>
      <td></td>
      <td>13</td>
      <td></td>
      <td>0.3%</td>
      <td>43.2%</td>
      <td>0.0%</td>
      <td></td>
    </tr>
    <tr>
      <td>Marshall Islands</td>
      <td>681</td>
      <td></td>
      <td>2</td>
      <td></td>
      <td>0.1%</td>
      <td>84.6%</td>
      <td>0.0%</td>
      <td>60,033</td>
    </tr>
    <tr>
      <td>Niue</td>
      <td>60</td>
      <td></td>
      <td></td>
      <td></td>
      <td>3.3%</td>
      <td>0.0%</td>
      <td>0.0%</td>
      <td>1,649</td>
    </tr>
    <tr>
      <td>Vatican City</td>
      <td>29</td>
      <td></td>
      <td></td>
      <td></td>
      <td>18020.7%</td>
      <td>0.2%</td>
      <td>0.0%</td>
      <td>805</td>
    </tr>
    <tr>
      <td>Western Sahara</td>
      <td>10</td>
      <td></td>
      <td>1</td>
      <td></td>
      <td>NaN</td>
      <td>0.2%</td>
      <td>0.0%</td>
      <td>628,343</td>
    </tr>
    <tr>
      <td>MS Zaandam</td>
      <td>9</td>
      <td></td>
      <td>2</td>
      <td></td>
      <td>NaN</td>
      <td>0.0%</td>
      <td>0.0%</td>
      <td></td>
    </tr>
    <tr>
      <td>Tuvalu</td>
      <td>8</td>
      <td></td>
      <td></td>
      <td></td>
      <td>NaN</td>
      <td>NaN</td>
      <td>0.0%</td>
      <td>12,099</td>
    </tr>
    <tr>
      <td>Saint Helena</td>
      <td>2</td>
      <td></td>
      <td></td>
      <td></td>
      <td>NaN</td>
      <td>NaN</td>
      <td>0.0%</td>
      <td>6,115</td>
    </tr>
    <tr>
      <td>China</td>
      <td>234,901</td>
      <td>+684</td>
      <td>5,226</td>
      <td></td>
      <td>NaN</td>
      <td>NaN</td>
      <td>0.0%</td>
      <td>1,439,323,776</td>
    </tr>
  </tbody>
</table>