<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: center;">
      <th style="min-width: 115px;">Country</th>
      <th style="min-width: 115px;">Total Cases</th>
      <th style="min-width: 115px;">New Cases</th>
      <th style="min-width: 115px;">Total Deaths</th>
      <th style="min-width: 115px;">New Deaths</th>
      <th style="min-width: 115px;">Fatality Rate</th>
      <th style="min-width: 115px;">% Infected</th>
      <th style="min-width: 115px;">% Total Cases</th>
      <th style="min-width: 115px;">Population</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>World</td>
      <td>564,597,230</td>
      <td>+598,700</td>
      <td>6,380,224</td>
      <td>+804</td>
      <td>1.1%</td>
      <td>7.4%</td>
      <td>100.0%</td>
      <td>7,603,249,343</td>
    </tr>
    <tr>
      <td>USA</td>
      <td>90,909,760</td>
      <td></td>
      <td>1,047,794</td>
      <td></td>
      <td>1.2%</td>
      <td>6.5%</td>
      <td>16.1%</td>
      <td></td>
    </tr>
    <tr>
      <td>India</td>
      <td>43,689,989</td>
      <td></td>
      <td>525,557</td>
      <td></td>
      <td>1.2%</td>
      <td>20.3%</td>
      <td>7.7%</td>
      <td>1,407,495,451</td>
    </tr>
    <tr>
      <td>Brazil</td>
      <td>33,076,779</td>
      <td></td>
      <td>674,554</td>
      <td></td>
      <td>2.0%</td>
      <td>50.4%</td>
      <td>5.9%</td>
      <td>215,620,823</td>
    </tr>
    <tr>
      <td>France</td>
      <td>32,795,874</td>
      <td>+119,285</td>
      <td>150,468</td>
      <td>+54</td>
      <td>0.5%</td>
      <td>38.9%</td>
      <td>5.8%</td>
      <td>65,566,112</td>
    </tr>
    <tr>
      <td>Germany</td>
      <td>29,460,249</td>
      <td></td>
      <td>142,284</td>
      <td></td>
      <td>0.5%</td>
      <td>42.9%</td>
      <td>5.2%</td>
      <td>84,326,684</td>
    </tr>
    <tr>
      <td>UK</td>
      <td>22,883,995</td>
      <td></td>
      <td>180,718</td>
      <td></td>
      <td>0.8%</td>
      <td>38.0%</td>
      <td>4.1%</td>
      <td>68,608,507</td>
    </tr>
    <tr>
      <td>Italy</td>
      <td>19,887,543</td>
      <td>+107,122</td>
      <td>169,601</td>
      <td>+105</td>
      <td>0.9%</td>
      <td>38.7%</td>
      <td>3.5%</td>
      <td>60,281,748</td>
    </tr>
    <tr>
      <td>S. Korea</td>
      <td>18,641,278</td>
      <td>+39,169</td>
      <td>24,696</td>
      <td>+16</td>
      <td>0.1%</td>
      <td>12.8%</td>
      <td>3.3%</td>
      <td>51,358,565</td>
    </tr>
    <tr>
      <td>Russia</td>
      <td>18,476,477</td>
      <td>+4,238</td>
      <td>381,754</td>
      <td>+43</td>
      <td>2.1%</td>
      <td>21.4%</td>
      <td>3.3%</td>
      <td>146,061,220</td>
    </tr>
    <tr>
      <td>Turkey</td>
      <td>15,180,444</td>
      <td></td>
      <td>99,057</td>
      <td></td>
      <td>0.7%</td>
      <td>32.4%</td>
      <td>2.7%</td>
      <td>86,177,943</td>
    </tr>
    <tr>
      <td>Spain</td>
      <td>13,032,841</td>
      <td></td>
      <td>108,948</td>
      <td></td>
      <td>0.8%</td>
      <td>13.1%</td>
      <td>2.3%</td>
      <td>46,791,462</td>
    </tr>
    <tr>
      <td>Vietnam</td>
      <td>10,758,189</td>
      <td>+932</td>
      <td>43,090</td>
      <td></td>
      <td>0.4%</td>
      <td>8.6%</td>
      <td>1.9%</td>
      <td>99,113,150</td>
    </tr>
    <tr>
      <td>Japan</td>
      <td>9,903,381</td>
      <td>+92,507</td>
      <td>31,494</td>
      <td>+29</td>
      <td>0.3%</td>
      <td>21.5%</td>
      <td>1.8%</td>
      <td>125,692,295</td>
    </tr>
    <tr>
      <td>Argentina</td>
      <td>9,426,171</td>
      <td></td>
      <td>129,145</td>
      <td></td>
      <td>1.4%</td>
      <td>36.1%</td>
      <td>1.7%</td>
      <td>46,036,096</td>
    </tr>
    <tr>
      <td>Australia</td>
      <td>8,653,018</td>
      <td>+47,205</td>
      <td>10,515</td>
      <td>+78</td>
      <td>0.1%</td>
      <td>50.3%</td>
      <td>1.5%</td>
      <td>26,099,386</td>
    </tr>
    <tr>
      <td>Netherlands</td>
      <td>8,267,718</td>
      <td>+7,062</td>
      <td>22,417</td>
      <td>+4</td>
      <td>0.3%</td>
      <td>9.6%</td>
      <td>1.5%</td>
      <td>17,211,678</td>
    </tr>
    <tr>
      <td>Iran</td>
      <td>7,265,251</td>
      <td>+5,234</td>
      <td>141,464</td>
      <td>+8</td>
      <td>1.9%</td>
      <td>5.5%</td>
      <td>1.3%</td>
      <td>86,171,331</td>
    </tr>
    <tr>
      <td>Mexico</td>
      <td>6,338,991</td>
      <td>+37,346</td>
      <td>326,261</td>
      <td>+72</td>
      <td>5.1%</td>
      <td>12.2%</td>
      <td>1.1%</td>
      <td>131,677,537</td>
    </tr>
    <tr>
      <td>Colombia</td>
      <td>6,198,848</td>
      <td></td>
      <td>140,202</td>
      <td></td>
      <td>2.3%</td>
      <td>2.2%</td>
      <td>1.1%</td>
      <td>51,981,807</td>
    </tr>
    <tr>
      <td>Indonesia</td>
      <td>6,123,753</td>
      <td>+3,584</td>
      <td>156,827</td>
      <td>+9</td>
      <td>2.6%</td>
      <td>16.2%</td>
      <td>1.1%</td>
      <td>279,384,182</td>
    </tr>
    <tr>
      <td>Poland</td>
      <td>6,027,974</td>
      <td>+1,840</td>
      <td>116,468</td>
      <td>+4</td>
      <td>1.9%</td>
      <td>59.5%</td>
      <td>1.1%</td>
      <td>37,762,651</td>
    </tr>
    <tr>
      <td>Portugal</td>
      <td>5,273,845</td>
      <td></td>
      <td>24,369</td>
      <td></td>
      <td>0.5%</td>
      <td>12.2%</td>
      <td>0.9%</td>
      <td>10,136,493</td>
    </tr>
    <tr>
      <td>Ukraine</td>
      <td>5,019,125</td>
      <td></td>
      <td>108,671</td>
      <td></td>
      <td>2.2%</td>
      <td>19.3%</td>
      <td>0.9%</td>
      <td>43,201,707</td>
    </tr>
    <tr>
      <td>DPRK</td>
      <td>4,769,900</td>
      <td>+570</td>
      <td>74</td>
      <td></td>
      <td>0.0%</td>
      <td>14.4%</td>
      <td>0.8%</td>
      <td>26,007,700</td>
    </tr>
    <tr>
      <td>Malaysia</td>
      <td>4,608,768</td>
      <td>+4,098</td>
      <td>35,836</td>
      <td>+8</td>
      <td>0.8%</td>
      <td>50.6%</td>
      <td>0.8%</td>
      <td>33,206,263</td>
    </tr>
    <tr>
      <td>Austria</td>
      <td>4,574,722</td>
      <td>+12,512</td>
      <td>18,916</td>
      <td>+7</td>
      <td>0.4%</td>
      <td>6.5%</td>
      <td>0.8%</td>
      <td>9,110,514</td>
    </tr>
    <tr>
      <td>Thailand</td>
      <td>4,553,181</td>
      <td>+2,257</td>
      <td>30,938</td>
      <td>+28</td>
      <td>0.7%</td>
      <td>48.8%</td>
      <td>0.8%</td>
      <td>70,154,798</td>
    </tr>
    <tr>
      <td>Israel</td>
      <td>4,489,396</td>
      <td>+7,301</td>
      <td>11,101</td>
      <td></td>
      <td>0.2%</td>
      <td>38.4%</td>
      <td>0.8%</td>
      <td>9,326,000</td>
    </tr>
    <tr>
      <td>Belgium</td>
      <td>4,320,107</td>
      <td></td>
      <td>32,015</td>
      <td></td>
      <td>0.7%</td>
      <td>18.1%</td>
      <td>0.8%</td>
      <td>11,691,811</td>
    </tr>
    <tr>
      <td>Taiwan</td>
      <td>4,189,929</td>
      <td>+27,684</td>
      <td>7,917</td>
      <td>+89</td>
      <td>0.2%</td>
      <td>21.5%</td>
      <td>0.7%</td>
      <td>23,904,101</td>
    </tr>
    <tr>
      <td>Chile</td>
      <td>4,113,288</td>
      <td>+9,698</td>
      <td>58,955</td>
      <td>+71</td>
      <td>1.4%</td>
      <td>6.8%</td>
      <td>0.7%</td>
      <td>19,448,682</td>
    </tr>
    <tr>
      <td>South Africa</td>
      <td>3,998,863</td>
      <td></td>
      <td>101,907</td>
      <td></td>
      <td>2.5%</td>
      <td>10.4%</td>
      <td>0.7%</td>
      <td>60,823,867</td>
    </tr>
    <tr>
      <td>Canada</td>
      <td>3,992,960</td>
      <td>+2,721</td>
      <td>42,278</td>
      <td>+24</td>
      <td>1.1%</td>
      <td>37.1%</td>
      <td>0.7%</td>
      <td>38,412,654</td>
    </tr>
    <tr>
      <td>Czechia</td>
      <td>3,947,772</td>
      <td>+1,984</td>
      <td>40,343</td>
      <td></td>
      <td>1.0%</td>
      <td>44.9%</td>
      <td>0.7%</td>
      <td>10,749,228</td>
    </tr>
    <tr>
      <td>Switzerland</td>
      <td>3,843,522</td>
      <td></td>
      <td>14,008</td>
      <td></td>
      <td>0.4%</td>
      <td>37.2%</td>
      <td>0.7%</td>
      <td>8,782,860</td>
    </tr>
    <tr>
      <td>Greece</td>
      <td>3,843,142</td>
      <td></td>
      <td>30,476</td>
      <td></td>
      <td>0.8%</td>
      <td>3.4%</td>
      <td>0.7%</td>
      <td>10,319,950</td>
    </tr>
    <tr>
      <td>Philippines</td>
      <td>3,725,382</td>
      <td>+2,371</td>
      <td>60,641</td>
      <td>+1</td>
      <td>1.6%</td>
      <td>11.0%</td>
      <td>0.7%</td>
      <td>112,536,391</td>
    </tr>
    <tr>
      <td>Peru</td>
      <td>3,703,751</td>
      <td></td>
      <td>213,731</td>
      <td></td>
      <td>5.8%</td>
      <td>63.5%</td>
      <td>0.7%</td>
      <td>33,902,525</td>
    </tr>
    <tr>
      <td>Denmark</td>
      <td>3,038,292</td>
      <td>+1,960</td>
      <td>6,543</td>
      <td>+13</td>
      <td>0.2%</td>
      <td>16.0%</td>
      <td>0.5%</td>
      <td>5,833,525</td>
    </tr>
    <tr>
      <td>Romania</td>
      <td>2,953,944</td>
      <td>+3,993</td>
      <td>65,802</td>
      <td>+1</td>
      <td>2.2%</td>
      <td>28.9%</td>
      <td>0.5%</td>
      <td>18,977,828</td>
    </tr>
    <tr>
      <td>Sweden</td>
      <td>2,528,166</td>
      <td></td>
      <td>19,170</td>
      <td></td>
      <td>0.8%</td>
      <td>6.0%</td>
      <td>0.4%</td>
      <td>10,226,855</td>
    </tr>
    <tr>
      <td>Iraq</td>
      <td>2,396,707</td>
      <td>+2,981</td>
      <td>25,261</td>
      <td>+2</td>
      <td>1.1%</td>
      <td>27.7%</td>
      <td>0.4%</td>
      <td>42,051,303</td>
    </tr>
    <tr>
      <td>Serbia</td>
      <td>2,049,388</td>
      <td>+2,218</td>
      <td>16,162</td>
      <td>+4</td>
      <td>0.8%</td>
      <td>1.2%</td>
      <td>0.4%</td>
      <td>8,666,095</td>
    </tr>
    <tr>
      <td>Bangladesh</td>
      <td>1,993,382</td>
      <td>+1,324</td>
      <td>29,223</td>
      <td>+6</td>
      <td>1.5%</td>
      <td>20.7%</td>
      <td>0.4%</td>
      <td>168,013,932</td>
    </tr>
    <tr>
      <td>Hungary</td>
      <td>1,940,824</td>
      <td></td>
      <td>46,696</td>
      <td></td>
      <td>2.4%</td>
      <td>35.5%</td>
      <td>0.3%</td>
      <td>9,610,669</td>
    </tr>
    <tr>
      <td>Slovakia</td>
      <td>1,803,688</td>
      <td>+822</td>
      <td>20,168</td>
      <td>+2</td>
      <td>1.1%</td>
      <td>17.3%</td>
      <td>0.3%</td>
      <td>5,464,999</td>
    </tr>
    <tr>
      <td>Jordan</td>
      <td>1,700,526</td>
      <td></td>
      <td>14,068</td>
      <td></td>
      <td>0.8%</td>
      <td>42.8%</td>
      <td>0.3%</td>
      <td>10,408,372</td>
    </tr>
    <tr>
      <td>Georgia</td>
      <td>1,662,299</td>
      <td></td>
      <td>16,844</td>
      <td></td>
      <td>1.0%</td>
      <td>32.9%</td>
      <td>0.3%</td>
      <td>3,973,658</td>
    </tr>
    <tr>
      <td>Ireland</td>
      <td>1,628,745</td>
      <td></td>
      <td>7,537</td>
      <td></td>
      <td>0.5%</td>
      <td>27.4%</td>
      <td>0.3%</td>
      <td>5,049,547</td>
    </tr>
    <tr>
      <td>Singapore</td>
      <td>1,557,648</td>
      <td></td>
      <td>1,440</td>
      <td></td>
      <td>0.1%</td>
      <td>0.7%</td>
      <td>0.3%</td>
      <td>5,943,567</td>
    </tr>
    <tr>
      <td>Pakistan</td>
      <td>1,544,131</td>
      <td>+390</td>
      <td>30,426</td>
      <td>+2</td>
      <td>2.0%</td>
      <td>30.9%</td>
      <td>0.3%</td>
      <td>229,583,088</td>
    </tr>
    <tr>
      <td>New Zealand</td>
      <td>1,473,955</td>
      <td>+11,698</td>
      <td>1,697</td>
      <td>+23</td>
      <td>0.1%</td>
      <td>26.8%</td>
      <td>0.3%</td>
      <td>5,002,100</td>
    </tr>
    <tr>
      <td>Norway</td>
      <td>1,451,854</td>
      <td></td>
      <td>3,504</td>
      <td></td>
      <td>0.2%</td>
      <td>7.5%</td>
      <td>0.3%</td>
      <td>5,507,131</td>
    </tr>
    <tr>
      <td>Kazakhstan</td>
      <td>1,312,294</td>
      <td>+1,924</td>
      <td>13,663</td>
      <td></td>
      <td>1.0%</td>
      <td>17.2%</td>
      <td>0.2%</td>
      <td>19,231,796</td>
    </tr>
    <tr>
      <td>Hong Kong</td>
      <td>1,283,514</td>
      <td>+3,674</td>
      <td>9,427</td>
      <td>+5</td>
      <td>0.7%</td>
      <td>3.4%</td>
      <td>0.2%</td>
      <td>7,620,218</td>
    </tr>
    <tr>
      <td>Morocco</td>
      <td>1,246,835</td>
      <td>+1,943</td>
      <td>16,167</td>
      <td>+2</td>
      <td>1.3%</td>
      <td>18.2%</td>
      <td>0.2%</td>
      <td>37,797,038</td>
    </tr>
    <tr>
      <td>Bulgaria</td>
      <td>1,181,657</td>
      <td></td>
      <td>37,281</td>
      <td></td>
      <td>3.2%</td>
      <td>21.3%</td>
      <td>0.2%</td>
      <td>6,842,534</td>
    </tr>
    <tr>
      <td>Finland</td>
      <td>1,171,034</td>
      <td>+12,549</td>
      <td>5,012</td>
      <td>+71</td>
      <td>0.4%</td>
      <td>28.9%</td>
      <td>0.2%</td>
      <td>5,558,156</td>
    </tr>
    <tr>
      <td>Croatia</td>
      <td>1,163,824</td>
      <td>+1,763</td>
      <td>16,135</td>
      <td>+5</td>
      <td>1.4%</td>
      <td>17.2%</td>
      <td>0.2%</td>
      <td>4,054,002</td>
    </tr>
    <tr>
      <td>Lebanon</td>
      <td>1,125,720</td>
      <td></td>
      <td>10,477</td>
      <td></td>
      <td>0.9%</td>
      <td>10.0%</td>
      <td>0.2%</td>
      <td>6,763,545</td>
    </tr>
    <tr>
      <td>Cuba</td>
      <td>1,106,602</td>
      <td>+49</td>
      <td>8,529</td>
      <td></td>
      <td>0.8%</td>
      <td>9.2%</td>
      <td>0.2%</td>
      <td>11,312,612</td>
    </tr>
    <tr>
      <td>Tunisia</td>
      <td>1,087,030</td>
      <td></td>
      <td>28,823</td>
      <td></td>
      <td>2.7%</td>
      <td>41.1%</td>
      <td>0.2%</td>
      <td>12,069,197</td>
    </tr>
    <tr>
      <td>Lithuania</td>
      <td>1,073,128</td>
      <td>+609</td>
      <td>9,188</td>
      <td>+1</td>
      <td>0.9%</td>
      <td>51.6%</td>
      <td>0.2%</td>
      <td>2,645,409</td>
    </tr>
    <tr>
      <td>Slovenia</td>
      <td>1,056,179</td>
      <td>+1,738</td>
      <td>6,665</td>
      <td>+3</td>
      <td>0.6%</td>
      <td>11.2%</td>
      <td>0.2%</td>
      <td>2,079,517</td>
    </tr>
    <tr>
      <td>Belarus</td>
      <td>994,037</td>
      <td></td>
      <td>7,118</td>
      <td></td>
      <td>0.7%</td>
      <td>3.3%</td>
      <td>0.2%</td>
      <td>9,443,027</td>
    </tr>
    <tr>
      <td>Nepal</td>
      <td>980,981</td>
      <td>+214</td>
      <td>11,952</td>
      <td></td>
      <td>1.2%</td>
      <td>9.7%</td>
      <td>0.2%</td>
      <td>30,198,670</td>
    </tr>
    <tr>
      <td>UAE</td>
      <td>969,097</td>
      <td>+1,500</td>
      <td>2,325</td>
      <td></td>
      <td>0.2%</td>
      <td>27.7%</td>
      <td>0.2%</td>
      <td>10,132,536</td>
    </tr>
    <tr>
      <td>Uruguay</td>
      <td>965,370</td>
      <td></td>
      <td>7,373</td>
      <td></td>
      <td>0.8%</td>
      <td>5.2%</td>
      <td>0.2%</td>
      <td>3,498,119</td>
    </tr>
    <tr>
      <td>Guatemala</td>
      <td>963,117</td>
      <td></td>
      <td>18,756</td>
      <td></td>
      <td>1.9%</td>
      <td>8.0%</td>
      <td>0.2%</td>
      <td>18,587,076</td>
    </tr>
    <tr>
      <td>Bolivia</td>
      <td>956,629</td>
      <td>+4,173</td>
      <td>21,977</td>
      <td>+4</td>
      <td>2.3%</td>
      <td>21.5%</td>
      <td>0.2%</td>
      <td>11,995,662</td>
    </tr>
    <tr>
      <td>Panama</td>
      <td>932,710</td>
      <td></td>
      <td>8,384</td>
      <td></td>
      <td>0.9%</td>
      <td>27.6%</td>
      <td>0.2%</td>
      <td>4,452,396</td>
    </tr>
    <tr>
      <td>Mongolia</td>
      <td>930,327</td>
      <td></td>
      <td>2,179</td>
      <td></td>
      <td>0.2%</td>
      <td>5.1%</td>
      <td>0.2%</td>
      <td>3,385,262</td>
    </tr>
    <tr>
      <td>Ecuador</td>
      <td>927,700</td>
      <td></td>
      <td>35,769</td>
      <td></td>
      <td>3.9%</td>
      <td>17.9%</td>
      <td>0.2%</td>
      <td>18,185,907</td>
    </tr>
    <tr>
      <td>Costa Rica</td>
      <td>904,934</td>
      <td></td>
      <td>8,525</td>
      <td></td>
      <td>0.9%</td>
      <td>49.1%</td>
      <td>0.2%</td>
      <td>5,188,371</td>
    </tr>
    <tr>
      <td>Latvia</td>
      <td>844,142</td>
      <td>+1,107</td>
      <td>5,873</td>
      <td>+2</td>
      <td>0.7%</td>
      <td>2.4%</td>
      <td>0.1%</td>
      <td>1,843,982</td>
    </tr>
    <tr>
      <td>Saudi Arabia</td>
      <td>801,935</td>
      <td>+586</td>
      <td>9,228</td>
      <td>+3</td>
      <td>1.2%</td>
      <td>7.8%</td>
      <td>0.1%</td>
      <td>35,912,464</td>
    </tr>
    <tr>
      <td>Azerbaijan</td>
      <td>793,827</td>
      <td></td>
      <td>9,719</td>
      <td></td>
      <td>1.2%</td>
      <td>10.9%</td>
      <td>0.1%</td>
      <td>10,324,349</td>
    </tr>
    <tr>
      <td>Paraguay</td>
      <td>673,829</td>
      <td></td>
      <td>19,036</td>
      <td></td>
      <td>2.8%</td>
      <td>3.1%</td>
      <td>0.1%</td>
      <td>7,310,066</td>
    </tr>
    <tr>
      <td>Sri Lanka</td>
      <td>664,364</td>
      <td>+19</td>
      <td>16,526</td>
      <td></td>
      <td>2.5%</td>
      <td>15.1%</td>
      <td>0.1%</td>
      <td>21,595,147</td>
    </tr>
    <tr>
      <td>Kuwait</td>
      <td>648,216</td>
      <td></td>
      <td>2,556</td>
      <td></td>
      <td>0.4%</td>
      <td>35.6%</td>
      <td>0.1%</td>
      <td>4,398,545</td>
    </tr>
    <tr>
      <td>Bahrain</td>
      <td>643,672</td>
      <td></td>
      <td>1,503</td>
      <td></td>
      <td>0.2%</td>
      <td>5.8%</td>
      <td>0.1%</td>
      <td>1,821,410</td>
    </tr>
    <tr>
      <td>Dominican Republic</td>
      <td>620,237</td>
      <td></td>
      <td>4,383</td>
      <td></td>
      <td>0.7%</td>
      <td>1.1%</td>
      <td>0.1%</td>
      <td>11,068,330</td>
    </tr>
    <tr>
      <td>Myanmar</td>
      <td>613,784</td>
      <td>+11</td>
      <td>19,434</td>
      <td></td>
      <td>3.2%</td>
      <td>11.5%</td>
      <td>0.1%</td>
      <td>55,148,831</td>
    </tr>
    <tr>
      <td>Palestine</td>
      <td>586,058</td>
      <td></td>
      <td>5,358</td>
      <td></td>
      <td>0.9%</td>
      <td>44.1%</td>
      <td>0.1%</td>
      <td>5,341,694</td>
    </tr>
    <tr>
      <td>Estonia</td>
      <td>585,143</td>
      <td></td>
      <td>2,608</td>
      <td></td>
      <td>0.4%</td>
      <td>47.8%</td>
      <td>0.1%</td>
      <td>1,328,342</td>
    </tr>
    <tr>
      <td>Cyprus</td>
      <td>530,510</td>
      <td></td>
      <td>1,079</td>
      <td></td>
      <td>0.2%</td>
      <td>1.9%</td>
      <td>0.1%</td>
      <td>1,225,167</td>
    </tr>
    <tr>
      <td>Venezuela</td>
      <td>528,785</td>
      <td></td>
      <td>5,742</td>
      <td></td>
      <td>1.1%</td>
      <td>13.2%</td>
      <td>0.1%</td>
      <td>28,272,758</td>
    </tr>
    <tr>
      <td>Moldova</td>
      <td>520,321</td>
      <td></td>
      <td>11,567</td>
      <td></td>
      <td>2.2%</td>
      <td>0.5%</td>
      <td>0.1%</td>
      <td>4,014,974</td>
    </tr>
    <tr>
      <td>Egypt</td>
      <td>515,645</td>
      <td></td>
      <td>24,613</td>
      <td></td>
      <td>4.8%</td>
      <td>7.3%</td>
      <td>0.1%</td>
      <td>106,245,277</td>
    </tr>
    <tr>
      <td>Libya</td>
      <td>502,289</td>
      <td></td>
      <td>6,430</td>
      <td></td>
      <td>1.3%</td>
      <td>0.4%</td>
      <td>0.1%</td>
      <td>7,060,621</td>
    </tr>
    <tr>
      <td>Ethiopia</td>
      <td>490,695</td>
      <td></td>
      <td>7,559</td>
      <td></td>
      <td>1.5%</td>
      <td>4.8%</td>
      <td>0.1%</td>
      <td>120,733,350</td>
    </tr>
    <tr>
      <td>Honduras</td>
      <td>430,672</td>
      <td></td>
      <td>10,912</td>
      <td></td>
      <td>2.5%</td>
      <td>47.4%</td>
      <td>0.1%</td>
      <td>10,223,803</td>
    </tr>
    <tr>
      <td>Réunion</td>
      <td>425,638</td>
      <td></td>
      <td>819</td>
      <td></td>
      <td>0.2%</td>
      <td>14.3%</td>
      <td>0.1%</td>
      <td>908,258</td>
    </tr>
    <tr>
      <td>Armenia</td>
      <td>423,771</td>
      <td></td>
      <td>8,629</td>
      <td></td>
      <td>2.0%</td>
      <td>15.1%</td>
      <td>0.1%</td>
      <td>2,974,463</td>
    </tr>
    <tr>
      <td>Qatar</td>
      <td>391,945</td>
      <td>+1,027</td>
      <td>680</td>
      <td></td>
      <td>0.2%</td>
      <td>7.3%</td>
      <td>0.1%</td>
      <td>2,807,805</td>
    </tr>
    <tr>
      <td>Oman</td>
      <td>391,641</td>
      <td></td>
      <td>4,260</td>
      <td></td>
      <td>1.1%</td>
      <td>12.1%</td>
      <td>0.1%</td>
      <td>5,369,769</td>
    </tr>
    <tr>
      <td>Bosnia and Herzegovina</td>
      <td>380,498</td>
      <td>+287</td>
      <td>15,814</td>
      <td>+2</td>
      <td>4.2%</td>
      <td>0.7%</td>
      <td>0.1%</td>
      <td>3,239,495</td>
    </tr>
    <tr>
      <td>Kenya</td>
      <td>336,445</td>
      <td>+153</td>
      <td>5,668</td>
      <td></td>
      <td>1.7%</td>
      <td>1.7%</td>
      <td>0.1%</td>
      <td>56,171,171</td>
    </tr>
    <tr>
      <td>Zambia</td>
      <td>327,102</td>
      <td></td>
      <td>4,008</td>
      <td></td>
      <td>1.2%</td>
      <td>13.4%</td>
      <td>0.1%</td>
      <td>19,427,110</td>
    </tr>
    <tr>
      <td>Botswana</td>
      <td>324,154</td>
      <td></td>
      <td>2,753</td>
      <td></td>
      <td>0.8%</td>
      <td>15.6%</td>
      <td>0.1%</td>
      <td>2,447,835</td>
    </tr>
    <tr>
      <td>North Macedonia</td>
      <td>317,634</td>
      <td>+494</td>
      <td>9,337</td>
      <td></td>
      <td>2.9%</td>
      <td>11.1%</td>
      <td>0.1%</td>
      <td>2,083,201</td>
    </tr>
    <tr>
      <td>Albania</td>
      <td>290,954</td>
      <td></td>
      <td>3,517</td>
      <td></td>
      <td>1.2%</td>
      <td>0.6%</td>
      <td>0.1%</td>
      <td>2,871,432</td>
    </tr>
    <tr>
      <td>Algeria</td>
      <td>266,328</td>
      <td></td>
      <td>6,875</td>
      <td></td>
      <td>2.6%</td>
      <td>41.2%</td>
      <td>0.0%</td>
      <td>45,455,496</td>
    </tr>
    <tr>
      <td>Luxembourg</td>
      <td>263,167</td>
      <td></td>
      <td>1,094</td>
      <td></td>
      <td>0.4%</td>
      <td>0.1%</td>
      <td>0.0%</td>
      <td>646,613</td>
    </tr>
    <tr>
      <td>Nigeria</td>
      <td>258,874</td>
      <td></td>
      <td>3,144</td>
      <td></td>
      <td>1.2%</td>
      <td>1.7%</td>
      <td>0.0%</td>
      <td>216,491,528</td>
    </tr>
    <tr>
      <td>Zimbabwe</td>
      <td>256,047</td>
      <td></td>
      <td>5,566</td>
      <td></td>
      <td>2.2%</td>
      <td>40.8%</td>
      <td>0.0%</td>
      <td>15,301,333</td>
    </tr>
    <tr>
      <td>Montenegro</td>
      <td>245,369</td>
      <td>+466</td>
      <td>2,730</td>
      <td></td>
      <td>1.1%</td>
      <td>0.7%</td>
      <td>0.0%</td>
      <td>628,227</td>
    </tr>
    <tr>
      <td>Uzbekistan</td>
      <td>241,953</td>
      <td>+71</td>
      <td>1,637</td>
      <td></td>
      <td>0.7%</td>
      <td>0.7%</td>
      <td>0.0%</td>
      <td>34,452,065</td>
    </tr>
    <tr>
      <td>Mozambique</td>
      <td>228,840</td>
      <td></td>
      <td>2,214</td>
      <td></td>
      <td>1.0%</td>
      <td>3.1%</td>
      <td>0.0%</td>
      <td>33,029,634</td>
    </tr>
    <tr>
      <td>Laos</td>
      <td>210,433</td>
      <td>+32</td>
      <td>757</td>
      <td></td>
      <td>0.4%</td>
      <td>56.2%</td>
      <td>0.0%</td>
      <td>7,489,484</td>
    </tr>
    <tr>
      <td>Martinique</td>
      <td>207,969</td>
      <td></td>
      <td>987</td>
      <td></td>
      <td>0.5%</td>
      <td>3.1%</td>
      <td>0.0%</td>
      <td>374,676</td>
    </tr>
    <tr>
      <td>Kyrgyzstan</td>
      <td>201,329</td>
      <td>+47</td>
      <td>2,991</td>
      <td></td>
      <td>1.5%</td>
      <td>58.2%</td>
      <td>0.0%</td>
      <td>6,742,300</td>
    </tr>
    <tr>
      <td>Iceland</td>
      <td>198,721</td>
      <td></td>
      <td>179</td>
      <td></td>
      <td>0.1%</td>
      <td>35.5%</td>
      <td>0.0%</td>
      <td>345,730</td>
    </tr>
    <tr>
      <td>Maldives</td>
      <td>183,491</td>
      <td></td>
      <td>307</td>
      <td></td>
      <td>0.2%</td>
      <td>0.5%</td>
      <td>0.0%</td>
      <td>559,835</td>
    </tr>
    <tr>
      <td>Afghanistan</td>
      <td>183,358</td>
      <td>+73</td>
      <td>7,728</td>
      <td></td>
      <td>4.2%</td>
      <td>2.8%</td>
      <td>0.0%</td>
      <td>40,704,709</td>
    </tr>
    <tr>
      <td>El Salvador</td>
      <td>180,970</td>
      <td></td>
      <td>4,165</td>
      <td></td>
      <td>2.3%</td>
      <td>40.6%</td>
      <td>0.0%</td>
      <td>6,552,512</td>
    </tr>
    <tr>
      <td>Brunei</td>
      <td>179,759</td>
      <td>+1,492</td>
      <td>225</td>
      <td></td>
      <td>0.1%</td>
      <td>44.9%</td>
      <td>0.0%</td>
      <td>445,967</td>
    </tr>
    <tr>
      <td>Guadeloupe</td>
      <td>175,348</td>
      <td></td>
      <td>958</td>
      <td></td>
      <td>0.5%</td>
      <td>6.7%</td>
      <td>0.0%</td>
      <td>400,263</td>
    </tr>
    <tr>
      <td>Namibia</td>
      <td>169,253</td>
      <td></td>
      <td>4,065</td>
      <td></td>
      <td>2.4%</td>
      <td>12.0%</td>
      <td>0.0%</td>
      <td>2,634,144</td>
    </tr>
    <tr>
      <td>Trinidad and Tobago</td>
      <td>168,617</td>
      <td></td>
      <td>4,033</td>
      <td></td>
      <td>2.4%</td>
      <td>0.3%</td>
      <td>0.0%</td>
      <td>1,408,669</td>
    </tr>
    <tr>
      <td>Uganda</td>
      <td>168,497</td>
      <td></td>
      <td>3,627</td>
      <td></td>
      <td>2.2%</td>
      <td>0.5%</td>
      <td>0.0%</td>
      <td>48,667,777</td>
    </tr>
    <tr>
      <td>Ghana</td>
      <td>167,215</td>
      <td></td>
      <td>1,456</td>
      <td></td>
      <td>0.9%</td>
      <td>5.6%</td>
      <td>0.0%</td>
      <td>32,387,162</td>
    </tr>
    <tr>
      <td>Jamaica</td>
      <td>144,213</td>
      <td></td>
      <td>3,161</td>
      <td></td>
      <td>2.2%</td>
      <td>0.8%</td>
      <td>0.0%</td>
      <td>2,987,352</td>
    </tr>
    <tr>
      <td>Cambodia</td>
      <td>136,407</td>
      <td>+17</td>
      <td>3,056</td>
      <td></td>
      <td>2.2%</td>
      <td>1.0%</td>
      <td>0.0%</td>
      <td>17,187,808</td>
    </tr>
    <tr>
      <td>Rwanda</td>
      <td>131,766</td>
      <td></td>
      <td>1,462</td>
      <td></td>
      <td>1.1%</td>
      <td>0.5%</td>
      <td>0.0%</td>
      <td>13,602,750</td>
    </tr>
    <tr>
      <td>Cameroon</td>
      <td>120,068</td>
      <td></td>
      <td>1,931</td>
      <td></td>
      <td>1.6%</td>
      <td>27.0%</td>
      <td>0.0%</td>
      <td>27,884,709</td>
    </tr>
    <tr>
      <td>Malta</td>
      <td>110,191</td>
      <td>+280</td>
      <td>768</td>
      <td>+2</td>
      <td>0.7%</td>
      <td>0.3%</td>
      <td>0.0%</td>
      <td>443,925</td>
    </tr>
    <tr>
      <td>Angola</td>
      <td>101,320</td>
      <td></td>
      <td>1,900</td>
      <td></td>
      <td>1.9%</td>
      <td>0.1%</td>
      <td>0.0%</td>
      <td>34,937,665</td>
    </tr>
    <tr>
      <td>DRC</td>
      <td>91,737</td>
      <td></td>
      <td>1,376</td>
      <td></td>
      <td>1.5%</td>
      <td>29.2%</td>
      <td>0.0%</td>
      <td>95,078,117</td>
    </tr>
    <tr>
      <td>French Guiana</td>
      <td>89,779</td>
      <td></td>
      <td>402</td>
      <td></td>
      <td>0.4%</td>
      <td>0.4%</td>
      <td>0.0%</td>
      <td>314,368</td>
    </tr>
    <tr>
      <td>Malawi</td>
      <td>86,823</td>
      <td></td>
      <td>2,651</td>
      <td></td>
      <td>3.1%</td>
      <td>30.1%</td>
      <td>0.0%</td>
      <td>20,131,515</td>
    </tr>
    <tr>
      <td>Barbados</td>
      <td>86,691</td>
      <td></td>
      <td>479</td>
      <td></td>
      <td>0.6%</td>
      <td>0.5%</td>
      <td>0.0%</td>
      <td>288,088</td>
    </tr>
    <tr>
      <td>Senegal</td>
      <td>86,631</td>
      <td>+37</td>
      <td>1,968</td>
      <td></td>
      <td>2.3%</td>
      <td>48.9%</td>
      <td>0.0%</td>
      <td>17,637,931</td>
    </tr>
    <tr>
      <td>Channel Islands</td>
      <td>84,518</td>
      <td></td>
      <td>181</td>
      <td></td>
      <td>0.2%</td>
      <td>0.3%</td>
      <td>0.0%</td>
      <td>177,110</td>
    </tr>
    <tr>
      <td>Ivory Coast</td>
      <td>84,248</td>
      <td></td>
      <td>806</td>
      <td></td>
      <td>1.0%</td>
      <td>14.1%</td>
      <td>0.0%</td>
      <td>27,701,752</td>
    </tr>
    <tr>
      <td>Suriname</td>
      <td>80,919</td>
      <td></td>
      <td>1,377</td>
      <td></td>
      <td>1.7%</td>
      <td>28.5%</td>
      <td>0.0%</td>
      <td>597,282</td>
    </tr>
    <tr>
      <td>French Polynesia</td>
      <td>73,858</td>
      <td></td>
      <td>649</td>
      <td></td>
      <td>0.9%</td>
      <td>6.2%</td>
      <td>0.0%</td>
      <td>284,198</td>
    </tr>
    <tr>
      <td>Eswatini</td>
      <td>73,229</td>
      <td></td>
      <td>1,417</td>
      <td></td>
      <td>1.9%</td>
      <td>9.2%</td>
      <td>0.0%</td>
      <td>1,184,504</td>
    </tr>
    <tr>
      <td>Guyana</td>
      <td>68,500</td>
      <td></td>
      <td>1,264</td>
      <td></td>
      <td>1.8%</td>
      <td>7.5%</td>
      <td>0.0%</td>
      <td>794,242</td>
    </tr>
    <tr>
      <td>Fiji</td>
      <td>66,713</td>
      <td>+79</td>
      <td>869</td>
      <td></td>
      <td>1.3%</td>
      <td>22.9%</td>
      <td>0.0%</td>
      <td>909,607</td>
    </tr>
    <tr>
      <td>New Caledonia</td>
      <td>66,596</td>
      <td></td>
      <td>314</td>
      <td></td>
      <td>0.5%</td>
      <td>0.2%</td>
      <td>0.0%</td>
      <td>291,059</td>
    </tr>
    <tr>
      <td>Madagascar</td>
      <td>66,098</td>
      <td></td>
      <td>1,403</td>
      <td></td>
      <td>2.1%</td>
      <td>16.0%</td>
      <td>0.0%</td>
      <td>29,133,373</td>
    </tr>
    <tr>
      <td>Belize</td>
      <td>65,508</td>
      <td></td>
      <td>680</td>
      <td></td>
      <td>1.0%</td>
      <td>0.1%</td>
      <td>0.0%</td>
      <td>412,254</td>
    </tr>
    <tr>
      <td>Sudan</td>
      <td>62,795</td>
      <td></td>
      <td>4,955</td>
      <td></td>
      <td>7.9%</td>
      <td>11.1%</td>
      <td>0.0%</td>
      <td>45,923,661</td>
    </tr>
    <tr>
      <td>Cabo Verde</td>
      <td>61,776</td>
      <td></td>
      <td>409</td>
      <td></td>
      <td>0.7%</td>
      <td>1.3%</td>
      <td>0.0%</td>
      <td>568,223</td>
    </tr>
    <tr>
      <td>Mauritania</td>
      <td>61,543</td>
      <td></td>
      <td>986</td>
      <td></td>
      <td>1.6%</td>
      <td>7.8%</td>
      <td>0.0%</td>
      <td>4,897,285</td>
    </tr>
    <tr>
      <td>Bhutan</td>
      <td>59,940</td>
      <td></td>
      <td>21</td>
      <td></td>
      <td>0.0%</td>
      <td>0.3%</td>
      <td>0.0%</td>
      <td>788,824</td>
    </tr>
    <tr>
      <td>Syria</td>
      <td>55,960</td>
      <td></td>
      <td>3,150</td>
      <td></td>
      <td>5.6%</td>
      <td>2.4%</td>
      <td>0.0%</td>
      <td>18,362,038</td>
    </tr>
    <tr>
      <td>Gabon</td>
      <td>48,157</td>
      <td></td>
      <td>305</td>
      <td></td>
      <td>0.6%</td>
      <td>48.4%</td>
      <td>0.0%</td>
      <td>2,332,144</td>
    </tr>
    <tr>
      <td>Seychelles</td>
      <td>45,000</td>
      <td></td>
      <td>167</td>
      <td></td>
      <td>0.4%</td>
      <td>27.2%</td>
      <td>0.0%</td>
      <td>99,581</td>
    </tr>
    <tr>
      <td>Curaçao</td>
      <td>44,782</td>
      <td></td>
      <td>280</td>
      <td></td>
      <td>0.6%</td>
      <td>0.5%</td>
      <td>0.0%</td>
      <td>165,453</td>
    </tr>
    <tr>
      <td>Papua New Guinea</td>
      <td>44,752</td>
      <td></td>
      <td>662</td>
      <td></td>
      <td>1.5%</td>
      <td>57.7%</td>
      <td>0.0%</td>
      <td>9,290,431</td>
    </tr>
    <tr>
      <td>Andorra</td>
      <td>44,671</td>
      <td></td>
      <td>153</td>
      <td></td>
      <td>0.3%</td>
      <td>0.4%</td>
      <td>0.0%</td>
      <td>77,515</td>
    </tr>
    <tr>
      <td>Burundi</td>
      <td>43,060</td>
      <td></td>
      <td>38</td>
      <td></td>
      <td>0.1%</td>
      <td>40.0%</td>
      <td>0.0%</td>
      <td>12,608,307</td>
    </tr>
    <tr>
      <td>Aruba</td>
      <td>41,448</td>
      <td></td>
      <td>224</td>
      <td></td>
      <td>0.5%</td>
      <td>3.2%</td>
      <td>0.0%</td>
      <td>107,684</td>
    </tr>
    <tr>
      <td>Mauritius</td>
      <td>38,737</td>
      <td></td>
      <td>1,008</td>
      <td></td>
      <td>2.6%</td>
      <td>13.5%</td>
      <td>0.0%</td>
      <td>1,276,043</td>
    </tr>
    <tr>
      <td>Mayotte</td>
      <td>37,958</td>
      <td></td>
      <td>187</td>
      <td></td>
      <td>0.5%</td>
      <td>0.4%</td>
      <td>0.0%</td>
      <td>286,152</td>
    </tr>
    <tr>
      <td>Togo</td>
      <td>37,671</td>
      <td></td>
      <td>275</td>
      <td></td>
      <td>0.7%</td>
      <td>0.3%</td>
      <td>0.0%</td>
      <td>8,671,859</td>
    </tr>
    <tr>
      <td>Guinea</td>
      <td>37,358</td>
      <td></td>
      <td>443</td>
      <td></td>
      <td>1.2%</td>
      <td>43.5%</td>
      <td>0.0%</td>
      <td>13,854,540</td>
    </tr>
    <tr>
      <td>Isle of Man</td>
      <td>37,239</td>
      <td></td>
      <td>110</td>
      <td></td>
      <td>0.3%</td>
      <td>9.3%</td>
      <td>0.0%</td>
      <td>85,945</td>
    </tr>
    <tr>
      <td>Bahamas</td>
      <td>36,299</td>
      <td></td>
      <td>822</td>
      <td></td>
      <td>2.3%</td>
      <td>0.1%</td>
      <td>0.0%</td>
      <td>400,858</td>
    </tr>
    <tr>
      <td>Tanzania</td>
      <td>36,174</td>
      <td></td>
      <td>841</td>
      <td></td>
      <td>2.3%</td>
      <td>73.5%</td>
      <td>0.0%</td>
      <td>63,181,494</td>
    </tr>
    <tr>
      <td>Faeroe Islands</td>
      <td>34,658</td>
      <td></td>
      <td>28</td>
      <td></td>
      <td>0.1%</td>
      <td>1.6%</td>
      <td>0.0%</td>
      <td>49,239</td>
    </tr>
    <tr>
      <td>Lesotho</td>
      <td>34,040</td>
      <td></td>
      <td>702</td>
      <td></td>
      <td>2.1%</td>
      <td>0.3%</td>
      <td>0.0%</td>
      <td>2,176,658</td>
    </tr>
    <tr>
      <td>Haiti</td>
      <td>31,980</td>
      <td></td>
      <td>837</td>
      <td></td>
      <td>2.6%</td>
      <td>0.1%</td>
      <td>0.0%</td>
      <td>11,684,184</td>
    </tr>
    <tr>
      <td>Mali</td>
      <td>31,195</td>
      <td></td>
      <td>737</td>
      <td></td>
      <td>2.4%</td>
      <td>46.4%</td>
      <td>0.0%</td>
      <td>21,432,623</td>
    </tr>
    <tr>
      <td>Cayman Islands</td>
      <td>27,594</td>
      <td></td>
      <td>29</td>
      <td></td>
      <td>0.1%</td>
      <td>14.9%</td>
      <td>0.0%</td>
      <td>67,286</td>
    </tr>
    <tr>
      <td>Saint Lucia</td>
      <td>27,408</td>
      <td></td>
      <td>385</td>
      <td></td>
      <td>1.4%</td>
      <td>0.2%</td>
      <td>0.0%</td>
      <td>185,327</td>
    </tr>
    <tr>
      <td>Benin</td>
      <td>27,216</td>
      <td></td>
      <td>163</td>
      <td></td>
      <td>0.6%</td>
      <td>0.2%</td>
      <td>0.0%</td>
      <td>12,766,573</td>
    </tr>
    <tr>
      <td>Somalia</td>
      <td>26,900</td>
      <td></td>
      <td>1,350</td>
      <td></td>
      <td>5.0%</td>
      <td>0.5%</td>
      <td>0.0%</td>
      <td>16,791,612</td>
    </tr>
    <tr>
      <td>Congo</td>
      <td>24,421</td>
      <td></td>
      <td>386</td>
      <td></td>
      <td>1.6%</td>
      <td>1.8%</td>
      <td>0.0%</td>
      <td>5,793,281</td>
    </tr>
    <tr>
      <td>Timor-Leste</td>
      <td>22,974</td>
      <td></td>
      <td>133</td>
      <td></td>
      <td>0.6%</td>
      <td>3.2%</td>
      <td>0.0%</td>
      <td>1,369,327</td>
    </tr>
    <tr>
      <td>Solomon Islands</td>
      <td>21,544</td>
      <td></td>
      <td>153</td>
      <td></td>
      <td>0.7%</td>
      <td>0.1%</td>
      <td>0.0%</td>
      <td>721,013</td>
    </tr>
    <tr>
      <td>Burkina Faso</td>
      <td>20,853</td>
      <td></td>
      <td>382</td>
      <td></td>
      <td>1.8%</td>
      <td>61.9%</td>
      <td>0.0%</td>
      <td>22,064,610</td>
    </tr>
    <tr>
      <td>Gibraltar</td>
      <td>19,796</td>
      <td></td>
      <td>105</td>
      <td></td>
      <td>0.5%</td>
      <td>58.1%</td>
      <td>0.0%</td>
      <td>33,671</td>
    </tr>
    <tr>
      <td>San Marino</td>
      <td>18,977</td>
      <td></td>
      <td>116</td>
      <td></td>
      <td>0.6%</td>
      <td>16.7%</td>
      <td>0.0%</td>
      <td>34,075</td>
    </tr>
    <tr>
      <td>Grenada</td>
      <td>18,592</td>
      <td></td>
      <td>233</td>
      <td></td>
      <td>1.3%</td>
      <td>0.3%</td>
      <td>0.0%</td>
      <td>113,579</td>
    </tr>
    <tr>
      <td>Nicaragua</td>
      <td>18,491</td>
      <td></td>
      <td>225</td>
      <td></td>
      <td>1.2%</td>
      <td>48.2%</td>
      <td>0.0%</td>
      <td>6,784,255</td>
    </tr>
    <tr>
      <td>Liechtenstein</td>
      <td>18,299</td>
      <td>+42</td>
      <td>85</td>
      <td></td>
      <td>0.5%</td>
      <td>0.2%</td>
      <td>0.0%</td>
      <td>38,350</td>
    </tr>
    <tr>
      <td>Tajikistan</td>
      <td>17,786</td>
      <td></td>
      <td>125</td>
      <td></td>
      <td>0.7%</td>
      <td>0.2%</td>
      <td>0.0%</td>
      <td>9,971,697</td>
    </tr>
    <tr>
      <td>South Sudan</td>
      <td>17,733</td>
      <td></td>
      <td>138</td>
      <td></td>
      <td>0.8%</td>
      <td>28.7%</td>
      <td>0.0%</td>
      <td>11,459,643</td>
    </tr>
    <tr>
      <td>Bermuda</td>
      <td>16,722</td>
      <td></td>
      <td>141</td>
      <td></td>
      <td>0.8%</td>
      <td>1.1%</td>
      <td>0.0%</td>
      <td>61,812</td>
    </tr>
    <tr>
      <td>Equatorial Guinea</td>
      <td>16,504</td>
      <td></td>
      <td>183</td>
      <td></td>
      <td>1.1%</td>
      <td>1.6%</td>
      <td>0.0%</td>
      <td>1,496,373</td>
    </tr>
    <tr>
      <td>Djibouti</td>
      <td>15,690</td>
      <td></td>
      <td>189</td>
      <td></td>
      <td>1.2%</td>
      <td>7.8%</td>
      <td>0.0%</td>
      <td>1,017,113</td>
    </tr>
    <tr>
      <td>Samoa</td>
      <td>15,134</td>
      <td></td>
      <td>29</td>
      <td></td>
      <td>0.2%</td>
      <td>20.9%</td>
      <td>0.0%</td>
      <td>201,085</td>
    </tr>
    <tr>
      <td>Dominica</td>
      <td>14,852</td>
      <td></td>
      <td>68</td>
      <td></td>
      <td>0.5%</td>
      <td>0.3%</td>
      <td>0.0%</td>
      <td>72,348</td>
    </tr>
    <tr>
      <td>CAR</td>
      <td>14,712</td>
      <td></td>
      <td>113</td>
      <td></td>
      <td>0.8%</td>
      <td>37.0%</td>
      <td>0.0%</td>
      <td>4,999,918</td>
    </tr>
    <tr>
      <td>Monaco</td>
      <td>13,645</td>
      <td></td>
      <td>57</td>
      <td></td>
      <td>0.4%</td>
      <td>12.6%</td>
      <td>0.0%</td>
      <td>39,806</td>
    </tr>
    <tr>
      <td>Tonga</td>
      <td>12,382</td>
      <td></td>
      <td>12</td>
      <td></td>
      <td>0.1%</td>
      <td>0.5%</td>
      <td>0.0%</td>
      <td>108,122</td>
    </tr>
    <tr>
      <td>Gambia</td>
      <td>12,009</td>
      <td></td>
      <td>365</td>
      <td></td>
      <td>3.0%</td>
      <td>21.1%</td>
      <td>0.0%</td>
      <td>2,554,227</td>
    </tr>
    <tr>
      <td>Greenland</td>
      <td>11,971</td>
      <td></td>
      <td>21</td>
      <td></td>
      <td>0.2%</td>
      <td>0.0%</td>
      <td>0.0%</td>
      <td>56,970</td>
    </tr>
    <tr>
      <td>Yemen</td>
      <td>11,832</td>
      <td></td>
      <td>2,149</td>
      <td></td>
      <td>18.2%</td>
      <td>3.7%</td>
      <td>0.0%</td>
      <td>31,156,951</td>
    </tr>
    <tr>
      <td>Vanuatu</td>
      <td>11,690</td>
      <td></td>
      <td>14</td>
      <td></td>
      <td>0.1%</td>
      <td>29.2%</td>
      <td>0.0%</td>
      <td>321,687</td>
    </tr>
    <tr>
      <td>Saint Martin</td>
      <td>11,224</td>
      <td></td>
      <td>63</td>
      <td></td>
      <td>0.6%</td>
      <td>25.6%</td>
      <td>0.0%</td>
      <td>40,002</td>
    </tr>
    <tr>
      <td>Sint Maarten</td>
      <td>10,656</td>
      <td></td>
      <td>87</td>
      <td></td>
      <td>0.8%</td>
      <td>39.9%</td>
      <td>0.0%</td>
      <td>43,862</td>
    </tr>
    <tr>
      <td>Caribbean Netherlands</td>
      <td>10,523</td>
      <td></td>
      <td>35</td>
      <td></td>
      <td>0.3%</td>
      <td>0.3%</td>
      <td>0.0%</td>
      <td>26,717</td>
    </tr>
    <tr>
      <td>Eritrea</td>
      <td>9,844</td>
      <td></td>
      <td>103</td>
      <td></td>
      <td>1.0%</td>
      <td>0.0%</td>
      <td>0.0%</td>
      <td>3,645,877</td>
    </tr>
    <tr>
      <td>Niger</td>
      <td>9,096</td>
      <td></td>
      <td>311</td>
      <td></td>
      <td>3.4%</td>
      <td>9.1%</td>
      <td>0.0%</td>
      <td>25,981,995</td>
    </tr>
    <tr>
      <td>Antigua and Barbuda</td>
      <td>8,686</td>
      <td></td>
      <td>143</td>
      <td></td>
      <td>1.6%</td>
      <td>0.4%</td>
      <td>0.0%</td>
      <td>99,572</td>
    </tr>
    <tr>
      <td>Guinea-Bissau</td>
      <td>8,400</td>
      <td></td>
      <td>171</td>
      <td></td>
      <td>2.0%</td>
      <td>0.9%</td>
      <td>0.0%</td>
      <td>2,062,245</td>
    </tr>
    <tr>
      <td>Comoros</td>
      <td>8,209</td>
      <td></td>
      <td>160</td>
      <td></td>
      <td>1.9%</td>
      <td>0.1%</td>
      <td>0.0%</td>
      <td>907,134</td>
    </tr>
    <tr>
      <td>Sierra Leone</td>
      <td>7,718</td>
      <td></td>
      <td>125</td>
      <td></td>
      <td>1.6%</td>
      <td>0.1%</td>
      <td>0.0%</td>
      <td>8,305,671</td>
    </tr>
    <tr>
      <td>Liberia</td>
      <td>7,502</td>
      <td></td>
      <td>294</td>
      <td></td>
      <td>3.9%</td>
      <td>0.0%</td>
      <td>0.0%</td>
      <td>5,298,539</td>
    </tr>
    <tr>
      <td>Chad</td>
      <td>7,427</td>
      <td></td>
      <td>193</td>
      <td></td>
      <td>2.6%</td>
      <td>24.2%</td>
      <td>0.0%</td>
      <td>17,380,842</td>
    </tr>
    <tr>
      <td>British Virgin Islands</td>
      <td>7,131</td>
      <td></td>
      <td>63</td>
      <td></td>
      <td>0.9%</td>
      <td>6.4%</td>
      <td>0.0%</td>
      <td>30,639</td>
    </tr>
    <tr>
      <td>St. Vincent Grenadines</td>
      <td>7,035</td>
      <td></td>
      <td>114</td>
      <td></td>
      <td>1.6%</td>
      <td>64.2%</td>
      <td>0.0%</td>
      <td>111,654</td>
    </tr>
    <tr>
      <td>Nauru</td>
      <td>6,930</td>
      <td></td>
      <td>1</td>
      <td></td>
      <td>0.0%</td>
      <td>12.8%</td>
      <td>0.0%</td>
      <td>10,962</td>
    </tr>
    <tr>
      <td>Saint Kitts and Nevis</td>
      <td>6,332</td>
      <td></td>
      <td>45</td>
      <td></td>
      <td>0.7%</td>
      <td>15.9%</td>
      <td>0.0%</td>
      <td>53,961</td>
    </tr>
    <tr>
      <td>Turks and Caicos</td>
      <td>6,234</td>
      <td></td>
      <td>36</td>
      <td></td>
      <td>0.6%</td>
      <td>2.7%</td>
      <td>0.0%</td>
      <td>39,778</td>
    </tr>
    <tr>
      <td>Sao Tome and Principe</td>
      <td>6,079</td>
      <td></td>
      <td>74</td>
      <td></td>
      <td>1.2%</td>
      <td>34.5%</td>
      <td>0.0%</td>
      <td>227,405</td>
    </tr>
    <tr>
      <td>Cook Islands</td>
      <td>5,814</td>
      <td></td>
      <td>1</td>
      <td></td>
      <td>0.0%</td>
      <td>31.8%</td>
      <td>0.0%</td>
      <td>17,597</td>
    </tr>
    <tr>
      <td>Palau</td>
      <td>5,308</td>
      <td></td>
      <td>6</td>
      <td></td>
      <td>0.1%</td>
      <td>53.4%</td>
      <td>0.0%</td>
      <td>18,269</td>
    </tr>
    <tr>
      <td>St. Barth</td>
      <td>4,845</td>
      <td></td>
      <td>6</td>
      <td></td>
      <td>0.1%</td>
      <td>31.7%</td>
      <td>0.0%</td>
      <td>9,938</td>
    </tr>
    <tr>
      <td>Anguilla</td>
      <td>3,496</td>
      <td></td>
      <td>9</td>
      <td></td>
      <td>0.3%</td>
      <td>2.8%</td>
      <td>0.0%</td>
      <td>15,274</td>
    </tr>
    <tr>
      <td>Kiribati</td>
      <td>3,236</td>
      <td></td>
      <td>13</td>
      <td></td>
      <td>0.4%</td>
      <td>56.4%</td>
      <td>0.0%</td>
      <td>123,162</td>
    </tr>
    <tr>
      <td>Saint Pierre Miquelon</td>
      <td>2,970</td>
      <td></td>
      <td>1</td>
      <td></td>
      <td>0.0%</td>
      <td>80.6%</td>
      <td>0.0%</td>
      <td>5,737</td>
    </tr>
    <tr>
      <td>Falkland Islands</td>
      <td>1,831</td>
      <td></td>
      <td></td>
      <td></td>
      <td>0.4%</td>
      <td>36.6%</td>
      <td>0.0%</td>
      <td>3,685</td>
    </tr>
    <tr>
      <td>Montserrat</td>
      <td>1,025</td>
      <td></td>
      <td>8</td>
      <td></td>
      <td>1.3%</td>
      <td>0.2%</td>
      <td>0.0%</td>
      <td>4,998</td>
    </tr>
    <tr>
      <td>Diamond Princess</td>
      <td>712</td>
      <td></td>
      <td>13</td>
      <td></td>
      <td>0.7%</td>
      <td>6.6%</td>
      <td>0.0%</td>
      <td></td>
    </tr>
    <tr>
      <td>Macao</td>
      <td>696</td>
      <td>+17</td>
      <td>5</td>
      <td>+1</td>
      <td>1.0%</td>
      <td>1.2%</td>
      <td>0.0%</td>
      <td>667,271</td>
    </tr>
    <tr>
      <td>Wallis and Futuna</td>
      <td>456</td>
      <td></td>
      <td>7</td>
      <td></td>
      <td>0.2%</td>
      <td>0.4%</td>
      <td>0.0%</td>
      <td>10,841</td>
    </tr>
    <tr>
      <td>Marshall Islands</td>
      <td>47</td>
      <td></td>
      <td></td>
      <td></td>
      <td>4.3%</td>
      <td>5.8%</td>
      <td>0.0%</td>
      <td>59,999</td>
    </tr>
    <tr>
      <td>Micronesia</td>
      <td>38</td>
      <td></td>
      <td></td>
      <td></td>
      <td>13752.6%</td>
      <td>2.3%</td>
      <td>0.0%</td>
      <td>117,466</td>
    </tr>
    <tr>
      <td>Vatican City</td>
      <td>29</td>
      <td></td>
      <td></td>
      <td></td>
      <td>NaN</td>
      <td>0.0%</td>
      <td>0.0%</td>
      <td>805</td>
    </tr>
    <tr>
      <td>Niue</td>
      <td>26</td>
      <td></td>
      <td></td>
      <td></td>
      <td>NaN</td>
      <td>0.2%</td>
      <td>0.0%</td>
      <td>1,648</td>
    </tr>
    <tr>
      <td>Western Sahara</td>
      <td>10</td>
      <td></td>
      <td>1</td>
      <td></td>
      <td>NaN</td>
      <td>0.2%</td>
      <td>0.0%</td>
      <td>627,096</td>
    </tr>
    <tr>
      <td>MS Zaandam</td>
      <td>9</td>
      <td></td>
      <td>2</td>
      <td></td>
      <td>NaN</td>
      <td>0.0%</td>
      <td>0.0%</td>
      <td></td>
    </tr>
    <tr>
      <td>Tuvalu</td>
      <td>3</td>
      <td></td>
      <td></td>
      <td></td>
      <td>NaN</td>
      <td>NaN</td>
      <td>0.0%</td>
      <td>12,087</td>
    </tr>
    <tr>
      <td>Saint Helena</td>
      <td>2</td>
      <td></td>
      <td></td>
      <td></td>
      <td>NaN</td>
      <td>NaN</td>
      <td>0.0%</td>
      <td>6,114</td>
    </tr>
    <tr>
      <td>China</td>
      <td>227,030</td>
      <td>+121</td>
      <td>5,226</td>
      <td></td>
      <td>NaN</td>
      <td>NaN</td>
      <td>0.0%</td>
      <td>1,439,323,776</td>
    </tr>
  </tbody>
</table>