<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: center;">
      <th style="min-width: 115px;">Country</th>
      <th style="min-width: 115px;">Total Cases</th>
      <th style="min-width: 115px;">New Cases</th>
      <th style="min-width: 115px;">Total Deaths</th>
      <th style="min-width: 115px;">New Deaths</th>
      <th style="min-width: 115px;">Fatality Rate</th>
      <th style="min-width: 115px;">% Infected</th>
      <th style="min-width: 115px;">% Total Cases</th>
      <th style="min-width: 115px;">Population</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>World</td>
      <td>587,365,542</td>
      <td>+778,355</td>
      <td>6,433,100</td>
      <td>+1,887</td>
      <td>1.1%</td>
      <td>7.7%</td>
      <td>100.0%</td>
      <td>7,607,644,701</td>
    </tr>
    <tr>
      <td>USA</td>
      <td>93,843,796</td>
      <td>+75,182</td>
      <td>1,058,525</td>
      <td>+379</td>
      <td>1.1%</td>
      <td>6.7%</td>
      <td>16.0%</td>
      <td></td>
    </tr>
    <tr>
      <td>India</td>
      <td>44,123,840</td>
      <td>+16,252</td>
      <td>526,600</td>
      <td></td>
      <td>1.2%</td>
      <td>67.3%</td>
      <td>7.5%</td>
      <td>1,408,310,338</td>
    </tr>
    <tr>
      <td>France</td>
      <td>34,024,522</td>
      <td>+30,592</td>
      <td>152,537</td>
      <td>+80</td>
      <td>0.4%</td>
      <td>15.8%</td>
      <td>5.8%</td>
      <td>65,574,769</td>
    </tr>
    <tr>
      <td>Brazil</td>
      <td>33,994,470</td>
      <td>+29,976</td>
      <td>679,802</td>
      <td>+208</td>
      <td>2.0%</td>
      <td>40.3%</td>
      <td>5.8%</td>
      <td>215,711,507</td>
    </tr>
    <tr>
      <td>Germany</td>
      <td>31,178,705</td>
      <td></td>
      <td>144,717</td>
      <td></td>
      <td>0.5%</td>
      <td>45.4%</td>
      <td>5.3%</td>
      <td>84,342,745</td>
    </tr>
    <tr>
      <td>UK</td>
      <td>23,368,899</td>
      <td></td>
      <td>185,052</td>
      <td></td>
      <td>0.8%</td>
      <td>38.8%</td>
      <td>4.0%</td>
      <td>68,629,899</td>
    </tr>
    <tr>
      <td>Italy</td>
      <td>21,251,774</td>
      <td>+38,215</td>
      <td>172,904</td>
      <td>+175</td>
      <td>0.8%</td>
      <td>41.4%</td>
      <td>3.6%</td>
      <td>60,276,425</td>
    </tr>
    <tr>
      <td>S. Korea</td>
      <td>20,273,011</td>
      <td>+112,857</td>
      <td>25,191</td>
      <td>+47</td>
      <td>0.1%</td>
      <td>13.9%</td>
      <td>3.5%</td>
      <td>51,361,209</td>
    </tr>
    <tr>
      <td>Russia</td>
      <td>18,672,422</td>
      <td>+18,555</td>
      <td>382,651</td>
      <td>+47</td>
      <td>2.0%</td>
      <td>21.7%</td>
      <td>3.2%</td>
      <td>146,064,968</td>
    </tr>
    <tr>
      <td>Turkey</td>
      <td>15,889,495</td>
      <td></td>
      <td>99,341</td>
      <td></td>
      <td>0.6%</td>
      <td>12.6%</td>
      <td>2.7%</td>
      <td>86,232,463</td>
    </tr>
    <tr>
      <td>Japan</td>
      <td>13,598,290</td>
      <td>+253,392</td>
      <td>33,159</td>
      <td>+183</td>
      <td>0.2%</td>
      <td>29.1%</td>
      <td>2.3%</td>
      <td>125,669,125</td>
    </tr>
    <tr>
      <td>Spain</td>
      <td>13,266,184</td>
      <td>+6,730</td>
      <td>111,094</td>
      <td>+127</td>
      <td>0.8%</td>
      <td>13.4%</td>
      <td>2.3%</td>
      <td>46,792,547</td>
    </tr>
    <tr>
      <td>Vietnam</td>
      <td>11,192,043</td>
      <td>+2,074</td>
      <td>43,094</td>
      <td></td>
      <td>0.4%</td>
      <td>42.9%</td>
      <td>1.9%</td>
      <td>99,165,741</td>
    </tr>
    <tr>
      <td>Australia</td>
      <td>9,586,984</td>
      <td>+32,580</td>
      <td>12,201</td>
      <td>+82</td>
      <td>0.1%</td>
      <td>20.8%</td>
      <td>1.6%</td>
      <td>26,117,164</td>
    </tr>
    <tr>
      <td>Argentina</td>
      <td>9,560,307</td>
      <td></td>
      <td>129,369</td>
      <td></td>
      <td>1.4%</td>
      <td>55.5%</td>
      <td>1.6%</td>
      <td>46,061,000</td>
    </tr>
    <tr>
      <td>Netherlands</td>
      <td>8,349,765</td>
      <td>+2,475</td>
      <td>22,511</td>
      <td>+2</td>
      <td>0.3%</td>
      <td>9.7%</td>
      <td>1.4%</td>
      <td>17,213,950</td>
    </tr>
    <tr>
      <td>Iran</td>
      <td>7,431,485</td>
      <td>+5,455</td>
      <td>142,337</td>
      <td>+47</td>
      <td>1.9%</td>
      <td>5.6%</td>
      <td>1.3%</td>
      <td>86,235,950</td>
    </tr>
    <tr>
      <td>Mexico</td>
      <td>6,821,746</td>
      <td>+18,556</td>
      <td>328,128</td>
      <td>+122</td>
      <td>4.8%</td>
      <td>13.1%</td>
      <td>1.2%</td>
      <td>131,758,912</td>
    </tr>
    <tr>
      <td>Colombia</td>
      <td>6,278,998</td>
      <td></td>
      <td>141,075</td>
      <td></td>
      <td>2.2%</td>
      <td>2.2%</td>
      <td>1.1%</td>
      <td>52,014,387</td>
    </tr>
    <tr>
      <td>Indonesia</td>
      <td>6,235,244</td>
      <td>+5,929</td>
      <td>157,072</td>
      <td>+12</td>
      <td>2.5%</td>
      <td>16.5%</td>
      <td>1.1%</td>
      <td>279,557,933</td>
    </tr>
    <tr>
      <td>Poland</td>
      <td>6,089,166</td>
      <td>+4,295</td>
      <td>116,645</td>
      <td>+17</td>
      <td>1.9%</td>
      <td>60.1%</td>
      <td>1.0%</td>
      <td>37,760,169</td>
    </tr>
    <tr>
      <td>Portugal</td>
      <td>5,359,624</td>
      <td>+3,339</td>
      <td>24,664</td>
      <td>+8</td>
      <td>0.5%</td>
      <td>12.4%</td>
      <td>0.9%</td>
      <td>10,134,714</td>
    </tr>
    <tr>
      <td>Ukraine</td>
      <td>5,026,496</td>
      <td></td>
      <td>108,727</td>
      <td></td>
      <td>2.2%</td>
      <td>55.2%</td>
      <td>0.9%</td>
      <td>43,185,997</td>
    </tr>
    <tr>
      <td>Austria</td>
      <td>4,776,787</td>
      <td>+6,271</td>
      <td>19,177</td>
      <td>+12</td>
      <td>0.4%</td>
      <td>18.4%</td>
      <td>0.8%</td>
      <td>9,113,597</td>
    </tr>
    <tr>
      <td>DPRK</td>
      <td>4,772,813</td>
      <td></td>
      <td>74</td>
      <td></td>
      <td>0.0%</td>
      <td>14.4%</td>
      <td>0.8%</td>
      <td>26,014,475</td>
    </tr>
    <tr>
      <td>Malaysia</td>
      <td>4,701,140</td>
      <td>+3,927</td>
      <td>36,009</td>
      <td>+6</td>
      <td>0.8%</td>
      <td>19.7%</td>
      <td>0.8%</td>
      <td>33,231,189</td>
    </tr>
    <tr>
      <td>Taiwan</td>
      <td>4,696,969</td>
      <td>+21,869</td>
      <td>9,136</td>
      <td>+54</td>
      <td>0.2%</td>
      <td>6.7%</td>
      <td>0.8%</td>
      <td>23,906,685</td>
    </tr>
    <tr>
      <td>Thailand</td>
      <td>4,600,978</td>
      <td>+2,253</td>
      <td>31,529</td>
      <td>+34</td>
      <td>0.7%</td>
      <td>49.3%</td>
      <td>0.8%</td>
      <td>70,165,297</td>
    </tr>
    <tr>
      <td>Israel</td>
      <td>4,598,476</td>
      <td>+3,908</td>
      <td>11,433</td>
      <td>+34</td>
      <td>0.2%</td>
      <td>44.6%</td>
      <td>0.8%</td>
      <td>9,326,000</td>
    </tr>
    <tr>
      <td>Greece</td>
      <td>4,474,616</td>
      <td></td>
      <td>31,377</td>
      <td></td>
      <td>0.7%</td>
      <td>38.3%</td>
      <td>0.8%</td>
      <td>10,316,905</td>
    </tr>
    <tr>
      <td>Belgium</td>
      <td>4,437,299</td>
      <td></td>
      <td>32,296</td>
      <td></td>
      <td>0.7%</td>
      <td>22.8%</td>
      <td>0.8%</td>
      <td>11,694,836</td>
    </tr>
    <tr>
      <td>Chile</td>
      <td>4,286,216</td>
      <td>+11,603</td>
      <td>59,741</td>
      <td>+43</td>
      <td>1.4%</td>
      <td>11.2%</td>
      <td>0.7%</td>
      <td>19,458,534</td>
    </tr>
    <tr>
      <td>Canada</td>
      <td>4,056,133</td>
      <td></td>
      <td>42,681</td>
      <td></td>
      <td>1.1%</td>
      <td>6.7%</td>
      <td>0.7%</td>
      <td>38,432,524</td>
    </tr>
    <tr>
      <td>South Africa</td>
      <td>4,004,555</td>
      <td></td>
      <td>101,982</td>
      <td></td>
      <td>2.5%</td>
      <td>37.3%</td>
      <td>0.7%</td>
      <td>60,868,811</td>
    </tr>
    <tr>
      <td>Czechia</td>
      <td>3,996,433</td>
      <td>+2,149</td>
      <td>40,544</td>
      <td>+5</td>
      <td>1.0%</td>
      <td>45.5%</td>
      <td>0.7%</td>
      <td>10,750,419</td>
    </tr>
    <tr>
      <td>Switzerland</td>
      <td>3,953,866</td>
      <td></td>
      <td>14,066</td>
      <td></td>
      <td>0.4%</td>
      <td>11.7%</td>
      <td>0.7%</td>
      <td>8,786,659</td>
    </tr>
    <tr>
      <td>Peru</td>
      <td>3,940,482</td>
      <td></td>
      <td>214,480</td>
      <td></td>
      <td>5.4%</td>
      <td>3.5%</td>
      <td>0.7%</td>
      <td>33,930,141</td>
    </tr>
    <tr>
      <td>Philippines</td>
      <td>3,795,008</td>
      <td>+4,701</td>
      <td>60,774</td>
      <td>+1</td>
      <td>1.6%</td>
      <td>20.0%</td>
      <td>0.6%</td>
      <td>112,624,069</td>
    </tr>
    <tr>
      <td>Romania</td>
      <td>3,106,033</td>
      <td>+7,765</td>
      <td>66,143</td>
      <td>+26</td>
      <td>2.1%</td>
      <td>53.2%</td>
      <td>0.5%</td>
      <td>18,970,156</td>
    </tr>
    <tr>
      <td>Denmark</td>
      <td>3,068,155</td>
      <td>+1,017</td>
      <td>6,701</td>
      <td>+1</td>
      <td>0.2%</td>
      <td>30.0%</td>
      <td>0.5%</td>
      <td>5,834,748</td>
    </tr>
    <tr>
      <td>Sweden</td>
      <td>2,545,671</td>
      <td></td>
      <td>19,402</td>
      <td></td>
      <td>0.8%</td>
      <td>6.0%</td>
      <td>0.4%</td>
      <td>10,230,633</td>
    </tr>
    <tr>
      <td>Iraq</td>
      <td>2,450,257</td>
      <td>+817</td>
      <td>25,323</td>
      <td>+1</td>
      <td>1.0%</td>
      <td>28.3%</td>
      <td>0.4%</td>
      <td>42,105,689</td>
    </tr>
    <tr>
      <td>Serbia</td>
      <td>2,154,973</td>
      <td>+6,358</td>
      <td>16,334</td>
      <td>+15</td>
      <td>0.8%</td>
      <td>1.3%</td>
      <td>0.4%</td>
      <td>8,663,990</td>
    </tr>
    <tr>
      <td>Bangladesh</td>
      <td>2,006,646</td>
      <td></td>
      <td>29,300</td>
      <td></td>
      <td>1.5%</td>
      <td>20.9%</td>
      <td>0.3%</td>
      <td>168,112,481</td>
    </tr>
    <tr>
      <td>Hungary</td>
      <td>1,987,321</td>
      <td></td>
      <td>46,886</td>
      <td></td>
      <td>2.4%</td>
      <td>36.4%</td>
      <td>0.3%</td>
      <td>9,609,201</td>
    </tr>
    <tr>
      <td>Slovakia</td>
      <td>1,821,908</td>
      <td>+947</td>
      <td>20,248</td>
      <td>+6</td>
      <td>1.1%</td>
      <td>30.6%</td>
      <td>0.3%</td>
      <td>5,465,157</td>
    </tr>
    <tr>
      <td>Singapore</td>
      <td>1,749,144</td>
      <td>+6,270</td>
      <td>1,534</td>
      <td>+3</td>
      <td>0.1%</td>
      <td>16.8%</td>
      <td>0.3%</td>
      <td>5,946,329</td>
    </tr>
    <tr>
      <td>Jordan</td>
      <td>1,715,296</td>
      <td></td>
      <td>14,083</td>
      <td></td>
      <td>0.8%</td>
      <td>43.2%</td>
      <td>0.3%</td>
      <td>10,414,456</td>
    </tr>
    <tr>
      <td>Georgia</td>
      <td>1,698,020</td>
      <td></td>
      <td>16,869</td>
      <td></td>
      <td>1.0%</td>
      <td>33.9%</td>
      <td>0.3%</td>
      <td>3,973,199</td>
    </tr>
    <tr>
      <td>New Zealand</td>
      <td>1,647,826</td>
      <td>+5,492</td>
      <td>2,338</td>
      <td>+17</td>
      <td>0.1%</td>
      <td>32.6%</td>
      <td>0.3%</td>
      <td>5,002,100</td>
    </tr>
    <tr>
      <td>Ireland</td>
      <td>1,647,605</td>
      <td></td>
      <td>7,662</td>
      <td></td>
      <td>0.5%</td>
      <td>0.7%</td>
      <td>0.3%</td>
      <td>5,052,861</td>
    </tr>
    <tr>
      <td>Pakistan</td>
      <td>1,557,984</td>
      <td>+750</td>
      <td>30,505</td>
      <td>+2</td>
      <td>2.0%</td>
      <td>28.3%</td>
      <td>0.3%</td>
      <td>229,841,331</td>
    </tr>
    <tr>
      <td>Norway</td>
      <td>1,456,851</td>
      <td>+179</td>
      <td>3,623</td>
      <td></td>
      <td>0.2%</td>
      <td>19.1%</td>
      <td>0.2%</td>
      <td>5,509,676</td>
    </tr>
    <tr>
      <td>Hong Kong</td>
      <td>1,376,366</td>
      <td>+4,428</td>
      <td>9,531</td>
      <td>+4</td>
      <td>0.7%</td>
      <td>7.2%</td>
      <td>0.2%</td>
      <td>7,623,870</td>
    </tr>
    <tr>
      <td>Kazakhstan</td>
      <td>1,362,647</td>
      <td>+2,579</td>
      <td>13,666</td>
      <td></td>
      <td>1.0%</td>
      <td>3.6%</td>
      <td>0.2%</td>
      <td>19,245,293</td>
    </tr>
    <tr>
      <td>Morocco</td>
      <td>1,262,300</td>
      <td>+218</td>
      <td>16,254</td>
      <td>+4</td>
      <td>1.3%</td>
      <td>22.7%</td>
      <td>0.2%</td>
      <td>37,823,328</td>
    </tr>
    <tr>
      <td>Finland</td>
      <td>1,218,216</td>
      <td></td>
      <td>5,251</td>
      <td></td>
      <td>0.4%</td>
      <td>17.8%</td>
      <td>0.2%</td>
      <td>5,558,672</td>
    </tr>
    <tr>
      <td>Bulgaria</td>
      <td>1,216,491</td>
      <td>+1,566</td>
      <td>37,429</td>
      <td>+5</td>
      <td>3.1%</td>
      <td>30.0%</td>
      <td>0.2%</td>
      <td>6,839,408</td>
    </tr>
    <tr>
      <td>Croatia</td>
      <td>1,192,305</td>
      <td>+1,226</td>
      <td>16,379</td>
      <td>+14</td>
      <td>1.4%</td>
      <td>17.6%</td>
      <td>0.2%</td>
      <td>4,052,488</td>
    </tr>
    <tr>
      <td>Lebanon</td>
      <td>1,183,450</td>
      <td>+1,836</td>
      <td>10,543</td>
      <td>+3</td>
      <td>0.9%</td>
      <td>9.8%</td>
      <td>0.2%</td>
      <td>6,761,717</td>
    </tr>
    <tr>
      <td>Tunisia</td>
      <td>1,134,660</td>
      <td></td>
      <td>29,105</td>
      <td></td>
      <td>2.6%</td>
      <td>10.0%</td>
      <td>0.2%</td>
      <td>12,076,625</td>
    </tr>
    <tr>
      <td>Cuba</td>
      <td>1,108,621</td>
      <td>+129</td>
      <td>8,529</td>
      <td></td>
      <td>0.8%</td>
      <td>53.3%</td>
      <td>0.2%</td>
      <td>11,312,198</td>
    </tr>
    <tr>
      <td>Slovenia</td>
      <td>1,091,371</td>
      <td>+1,450</td>
      <td>6,707</td>
      <td>+2</td>
      <td>0.6%</td>
      <td>41.3%</td>
      <td>0.2%</td>
      <td>2,079,534</td>
    </tr>
    <tr>
      <td>Lithuania</td>
      <td>1,089,998</td>
      <td>+973</td>
      <td>9,218</td>
      <td></td>
      <td>0.8%</td>
      <td>9.1%</td>
      <td>0.2%</td>
      <td>2,643,143</td>
    </tr>
    <tr>
      <td>Bolivia</td>
      <td>1,056,378</td>
      <td>+4,348</td>
      <td>22,083</td>
      <td>+3</td>
      <td>2.1%</td>
      <td>5.7%</td>
      <td>0.2%</td>
      <td>12,005,235</td>
    </tr>
    <tr>
      <td>Guatemala</td>
      <td>1,054,127</td>
      <td>+2,729</td>
      <td>19,096</td>
      <td>+14</td>
      <td>1.8%</td>
      <td>20.3%</td>
      <td>0.2%</td>
      <td>18,607,025</td>
    </tr>
    <tr>
      <td>Costa Rica</td>
      <td>1,005,223</td>
      <td></td>
      <td>8,720</td>
      <td></td>
      <td>0.9%</td>
      <td>9.9%</td>
      <td>0.2%</td>
      <td>5,191,164</td>
    </tr>
    <tr>
      <td>UAE</td>
      <td>996,775</td>
      <td>+998</td>
      <td>2,337</td>
      <td>+2</td>
      <td>0.2%</td>
      <td>10.6%</td>
      <td>0.2%</td>
      <td>10,139,717</td>
    </tr>
    <tr>
      <td>Belarus</td>
      <td>994,037</td>
      <td></td>
      <td>7,118</td>
      <td></td>
      <td>0.7%</td>
      <td>3.3%</td>
      <td>0.2%</td>
      <td>9,442,841</td>
    </tr>
    <tr>
      <td>Nepal</td>
      <td>989,350</td>
      <td>+529</td>
      <td>11,970</td>
      <td>+1</td>
      <td>1.2%</td>
      <td>5.4%</td>
      <td>0.2%</td>
      <td>30,230,211</td>
    </tr>
    <tr>
      <td>Ecuador</td>
      <td>975,234</td>
      <td></td>
      <td>35,811</td>
      <td></td>
      <td>3.7%</td>
      <td>27.9%</td>
      <td>0.2%</td>
      <td>18,202,020</td>
    </tr>
    <tr>
      <td>Uruguay</td>
      <td>971,728</td>
      <td></td>
      <td>7,415</td>
      <td></td>
      <td>0.8%</td>
      <td>21.8%</td>
      <td>0.2%</td>
      <td>3,498,841</td>
    </tr>
    <tr>
      <td>Panama</td>
      <td>954,369</td>
      <td></td>
      <td>8,425</td>
      <td></td>
      <td>0.9%</td>
      <td>28.2%</td>
      <td>0.2%</td>
      <td>4,456,481</td>
    </tr>
    <tr>
      <td>Mongolia</td>
      <td>954,305</td>
      <td>+2,570</td>
      <td>2,179</td>
      <td></td>
      <td>0.2%</td>
      <td>51.8%</td>
      <td>0.2%</td>
      <td>3,388,438</td>
    </tr>
    <tr>
      <td>Latvia</td>
      <td>871,181</td>
      <td>+1,605</td>
      <td>5,901</td>
      <td>+1</td>
      <td>0.7%</td>
      <td>2.4%</td>
      <td>0.1%</td>
      <td>1,842,737</td>
    </tr>
    <tr>
      <td>Saudi Arabia</td>
      <td>810,760</td>
      <td>+177</td>
      <td>9,257</td>
      <td></td>
      <td>1.1%</td>
      <td>7.8%</td>
      <td>0.1%</td>
      <td>35,945,076</td>
    </tr>
    <tr>
      <td>Azerbaijan</td>
      <td>801,018</td>
      <td>+540</td>
      <td>9,755</td>
      <td></td>
      <td>1.2%</td>
      <td>10.9%</td>
      <td>0.1%</td>
      <td>10,329,837</td>
    </tr>
    <tr>
      <td>Paraguay</td>
      <td>707,109</td>
      <td></td>
      <td>19,220</td>
      <td></td>
      <td>2.7%</td>
      <td>3.3%</td>
      <td>0.1%</td>
      <td>7,315,331</td>
    </tr>
    <tr>
      <td>Sri Lanka</td>
      <td>666,413</td>
      <td>+181</td>
      <td>16,578</td>
      <td>+4</td>
      <td>2.5%</td>
      <td>36.5%</td>
      <td>0.1%</td>
      <td>21,600,531</td>
    </tr>
    <tr>
      <td>Bahrain</td>
      <td>661,974</td>
      <td>+404</td>
      <td>1,511</td>
      <td></td>
      <td>0.2%</td>
      <td>15.0%</td>
      <td>0.1%</td>
      <td>1,824,986</td>
    </tr>
    <tr>
      <td>Kuwait</td>
      <td>653,730</td>
      <td></td>
      <td>2,559</td>
      <td></td>
      <td>0.4%</td>
      <td>5.9%</td>
      <td>0.1%</td>
      <td>4,402,343</td>
    </tr>
    <tr>
      <td>Dominican Republic</td>
      <td>631,040</td>
      <td></td>
      <td>4,383</td>
      <td></td>
      <td>0.7%</td>
      <td>1.1%</td>
      <td>0.1%</td>
      <td>11,074,864</td>
    </tr>
    <tr>
      <td>Myanmar</td>
      <td>614,170</td>
      <td>+12</td>
      <td>19,434</td>
      <td></td>
      <td>3.2%</td>
      <td>11.5%</td>
      <td>0.1%</td>
      <td>55,170,720</td>
    </tr>
    <tr>
      <td>Palestine</td>
      <td>598,019</td>
      <td></td>
      <td>5,368</td>
      <td></td>
      <td>0.9%</td>
      <td>45.0%</td>
      <td>0.1%</td>
      <td>5,348,841</td>
    </tr>
    <tr>
      <td>Estonia</td>
      <td>591,058</td>
      <td></td>
      <td>2,628</td>
      <td></td>
      <td>0.4%</td>
      <td>48.2%</td>
      <td>0.1%</td>
      <td>1,328,396</td>
    </tr>
    <tr>
      <td>Cyprus</td>
      <td>562,911</td>
      <td></td>
      <td>1,115</td>
      <td></td>
      <td>0.2%</td>
      <td>2.0%</td>
      <td>0.1%</td>
      <td>1,225,694</td>
    </tr>
    <tr>
      <td>Venezuela</td>
      <td>537,487</td>
      <td></td>
      <td>5,766</td>
      <td></td>
      <td>1.1%</td>
      <td>13.4%</td>
      <td>0.1%</td>
      <td>28,267,936</td>
    </tr>
    <tr>
      <td>Moldova</td>
      <td>532,187</td>
      <td></td>
      <td>11,608</td>
      <td></td>
      <td>2.2%</td>
      <td>0.5%</td>
      <td>0.1%</td>
      <td>4,014,413</td>
    </tr>
    <tr>
      <td>Egypt</td>
      <td>515,645</td>
      <td></td>
      <td>24,613</td>
      <td></td>
      <td>4.8%</td>
      <td>7.3%</td>
      <td>0.1%</td>
      <td>106,361,471</td>
    </tr>
    <tr>
      <td>Libya</td>
      <td>505,350</td>
      <td></td>
      <td>6,433</td>
      <td></td>
      <td>1.3%</td>
      <td>0.4%</td>
      <td>0.1%</td>
      <td>7,066,238</td>
    </tr>
    <tr>
      <td>Ethiopia</td>
      <td>492,461</td>
      <td>+49</td>
      <td>7,569</td>
      <td></td>
      <td>1.5%</td>
      <td>4.8%</td>
      <td>0.1%</td>
      <td>120,905,038</td>
    </tr>
    <tr>
      <td>Honduras</td>
      <td>444,152</td>
      <td></td>
      <td>10,940</td>
      <td></td>
      <td>2.5%</td>
      <td>48.9%</td>
      <td>0.1%</td>
      <td>10,233,279</td>
    </tr>
    <tr>
      <td>Réunion</td>
      <td>434,924</td>
      <td></td>
      <td>838</td>
      <td></td>
      <td>0.2%</td>
      <td>14.6%</td>
      <td>0.1%</td>
      <td>908,641</td>
    </tr>
    <tr>
      <td>Armenia</td>
      <td>426,799</td>
      <td></td>
      <td>8,635</td>
      <td></td>
      <td>2.0%</td>
      <td>15.2%</td>
      <td>0.1%</td>
      <td>2,974,795</td>
    </tr>
    <tr>
      <td>Qatar</td>
      <td>412,897</td>
      <td>+760</td>
      <td>681</td>
      <td></td>
      <td>0.2%</td>
      <td>7.7%</td>
      <td>0.1%</td>
      <td>2,807,805</td>
    </tr>
    <tr>
      <td>Oman</td>
      <td>395,737</td>
      <td></td>
      <td>4,260</td>
      <td></td>
      <td>1.1%</td>
      <td>12.2%</td>
      <td>0.1%</td>
      <td>5,377,601</td>
    </tr>
    <tr>
      <td>Bosnia and Herzegovina</td>
      <td>387,803</td>
      <td>+382</td>
      <td>15,902</td>
      <td>+10</td>
      <td>4.1%</td>
      <td>0.7%</td>
      <td>0.1%</td>
      <td>3,238,275</td>
    </tr>
    <tr>
      <td>Kenya</td>
      <td>337,808</td>
      <td>+40</td>
      <td>5,672</td>
      <td></td>
      <td>1.7%</td>
      <td>1.7%</td>
      <td>0.1%</td>
      <td>56,242,531</td>
    </tr>
    <tr>
      <td>Zambia</td>
      <td>331,074</td>
      <td>+185</td>
      <td>4,015</td>
      <td></td>
      <td>1.2%</td>
      <td>15.9%</td>
      <td>0.1%</td>
      <td>19,458,177</td>
    </tr>
    <tr>
      <td>North Macedonia</td>
      <td>330,755</td>
      <td>+739</td>
      <td>9,388</td>
      <td>+1</td>
      <td>2.8%</td>
      <td>13.5%</td>
      <td>0.1%</td>
      <td>2,083,196</td>
    </tr>
    <tr>
      <td>Botswana</td>
      <td>325,724</td>
      <td></td>
      <td>2,772</td>
      <td></td>
      <td>0.9%</td>
      <td>11.3%</td>
      <td>0.1%</td>
      <td>2,450,695</td>
    </tr>
    <tr>
      <td>Albania</td>
      <td>316,145</td>
      <td>+808</td>
      <td>3,557</td>
      <td>+3</td>
      <td>1.1%</td>
      <td>48.8%</td>
      <td>0.1%</td>
      <td>2,871,244</td>
    </tr>
    <tr>
      <td>Luxembourg</td>
      <td>279,354</td>
      <td></td>
      <td>1,108</td>
      <td></td>
      <td>0.4%</td>
      <td>0.6%</td>
      <td>0.0%</td>
      <td>647,226</td>
    </tr>
    <tr>
      <td>Algeria</td>
      <td>268,033</td>
      <td>+131</td>
      <td>6,878</td>
      <td>+1</td>
      <td>2.6%</td>
      <td>42.7%</td>
      <td>0.0%</td>
      <td>45,503,155</td>
    </tr>
    <tr>
      <td>Montenegro</td>
      <td>263,658</td>
      <td>+850</td>
      <td>2,753</td>
      <td></td>
      <td>1.0%</td>
      <td>0.1%</td>
      <td>0.0%</td>
      <td>628,232</td>
    </tr>
    <tr>
      <td>Nigeria</td>
      <td>261,473</td>
      <td></td>
      <td>3,147</td>
      <td></td>
      <td>1.2%</td>
      <td>1.7%</td>
      <td>0.0%</td>
      <td>216,799,566</td>
    </tr>
    <tr>
      <td>Zimbabwe</td>
      <td>256,444</td>
      <td></td>
      <td>5,581</td>
      <td></td>
      <td>2.2%</td>
      <td>0.7%</td>
      <td>0.0%</td>
      <td>15,314,344</td>
    </tr>
    <tr>
      <td>Uzbekistan</td>
      <td>243,232</td>
      <td></td>
      <td>1,637</td>
      <td></td>
      <td>0.7%</td>
      <td>0.7%</td>
      <td>0.0%</td>
      <td>34,481,234</td>
    </tr>
    <tr>
      <td>Mozambique</td>
      <td>229,696</td>
      <td>+22</td>
      <td>2,216</td>
      <td></td>
      <td>1.0%</td>
      <td>61.3%</td>
      <td>0.0%</td>
      <td>33,082,474</td>
    </tr>
    <tr>
      <td>Martinique</td>
      <td>215,140</td>
      <td></td>
      <td>1,017</td>
      <td></td>
      <td>0.5%</td>
      <td>2.9%</td>
      <td>0.0%</td>
      <td>374,658</td>
    </tr>
    <tr>
      <td>Laos</td>
      <td>211,643</td>
      <td>+106</td>
      <td>757</td>
      <td></td>
      <td>0.4%</td>
      <td>47.4%</td>
      <td>0.0%</td>
      <td>7,495,833</td>
    </tr>
    <tr>
      <td>Brunei</td>
      <td>211,157</td>
      <td></td>
      <td>225</td>
      <td></td>
      <td>0.1%</td>
      <td>61.1%</td>
      <td>0.0%</td>
      <td>446,218</td>
    </tr>
    <tr>
      <td>Iceland</td>
      <td>202,502</td>
      <td></td>
      <td>179</td>
      <td></td>
      <td>0.1%</td>
      <td>3.0%</td>
      <td>0.0%</td>
      <td>345,863</td>
    </tr>
    <tr>
      <td>Kyrgyzstan</td>
      <td>201,329</td>
      <td></td>
      <td>2,991</td>
      <td></td>
      <td>1.5%</td>
      <td>3.1%</td>
      <td>0.0%</td>
      <td>6,748,776</td>
    </tr>
    <tr>
      <td>El Salvador</td>
      <td>190,818</td>
      <td></td>
      <td>4,208</td>
      <td>+2</td>
      <td>2.2%</td>
      <td>0.5%</td>
      <td>0.0%</td>
      <td>6,554,475</td>
    </tr>
    <tr>
      <td>Afghanistan</td>
      <td>187,037</td>
      <td>+187</td>
      <td>7,752</td>
      <td></td>
      <td>4.1%</td>
      <td>46.7%</td>
      <td>0.0%</td>
      <td>40,757,536</td>
    </tr>
    <tr>
      <td>Guadeloupe</td>
      <td>186,380</td>
      <td></td>
      <td>971</td>
      <td></td>
      <td>0.5%</td>
      <td>33.3%</td>
      <td>0.0%</td>
      <td>400,267</td>
    </tr>
    <tr>
      <td>Maldives</td>
      <td>184,485</td>
      <td></td>
      <td>307</td>
      <td></td>
      <td>0.2%</td>
      <td>13.1%</td>
      <td>0.0%</td>
      <td>560,407</td>
    </tr>
    <tr>
      <td>Trinidad and Tobago</td>
      <td>172,576</td>
      <td>+309</td>
      <td>4,065</td>
      <td>+4</td>
      <td>2.4%</td>
      <td>0.4%</td>
      <td>0.0%</td>
      <td>1,408,941</td>
    </tr>
    <tr>
      <td>Uganda</td>
      <td>169,396</td>
      <td></td>
      <td>3,628</td>
      <td></td>
      <td>2.1%</td>
      <td>6.4%</td>
      <td>0.0%</td>
      <td>48,755,027</td>
    </tr>
    <tr>
      <td>Namibia</td>
      <td>169,253</td>
      <td></td>
      <td>4,065</td>
      <td></td>
      <td>2.4%</td>
      <td>0.5%</td>
      <td>0.0%</td>
      <td>2,636,913</td>
    </tr>
    <tr>
      <td>Ghana</td>
      <td>168,306</td>
      <td>+179</td>
      <td>1,458</td>
      <td>+1</td>
      <td>0.9%</td>
      <td>5.6%</td>
      <td>0.0%</td>
      <td>32,426,229</td>
    </tr>
    <tr>
      <td>Jamaica</td>
      <td>146,843</td>
      <td>+148</td>
      <td>3,201</td>
      <td>+2</td>
      <td>2.2%</td>
      <td>0.9%</td>
      <td>0.0%</td>
      <td>2,988,127</td>
    </tr>
    <tr>
      <td>Cambodia</td>
      <td>136,959</td>
      <td>+22</td>
      <td>3,056</td>
      <td></td>
      <td>2.2%</td>
      <td>1.0%</td>
      <td>0.0%</td>
      <td>17,201,719</td>
    </tr>
    <tr>
      <td>Rwanda</td>
      <td>132,280</td>
      <td>+4</td>
      <td>1,466</td>
      <td></td>
      <td>1.1%</td>
      <td>0.5%</td>
      <td>0.0%</td>
      <td>13,622,107</td>
    </tr>
    <tr>
      <td>Cameroon</td>
      <td>120,215</td>
      <td></td>
      <td>1,931</td>
      <td></td>
      <td>1.6%</td>
      <td>27.1%</td>
      <td>0.0%</td>
      <td>27,924,550</td>
    </tr>
    <tr>
      <td>Malta</td>
      <td>113,170</td>
      <td>+50</td>
      <td>795</td>
      <td></td>
      <td>0.7%</td>
      <td>0.3%</td>
      <td>0.0%</td>
      <td>443,996</td>
    </tr>
    <tr>
      <td>Angola</td>
      <td>102,636</td>
      <td>+335</td>
      <td>1,917</td>
      <td>+5</td>
      <td>1.9%</td>
      <td>35.6%</td>
      <td>0.0%</td>
      <td>34,999,407</td>
    </tr>
    <tr>
      <td>Barbados</td>
      <td>94,093</td>
      <td>+534</td>
      <td>498</td>
      <td>+2</td>
      <td>0.5%</td>
      <td>29.9%</td>
      <td>0.0%</td>
      <td>288,109</td>
    </tr>
    <tr>
      <td>French Guiana</td>
      <td>92,989</td>
      <td></td>
      <td>407</td>
      <td></td>
      <td>0.4%</td>
      <td>0.1%</td>
      <td>0.0%</td>
      <td>314,835</td>
    </tr>
    <tr>
      <td>DRC</td>
      <td>92,173</td>
      <td></td>
      <td>1,390</td>
      <td></td>
      <td>1.5%</td>
      <td>52.0%</td>
      <td>0.0%</td>
      <td>95,242,523</td>
    </tr>
    <tr>
      <td>Channel Islands</td>
      <td>88,529</td>
      <td></td>
      <td>195</td>
      <td></td>
      <td>0.2%</td>
      <td>0.4%</td>
      <td>0.0%</td>
      <td>177,206</td>
    </tr>
    <tr>
      <td>Malawi</td>
      <td>87,570</td>
      <td>+23</td>
      <td>2,670</td>
      <td></td>
      <td>3.0%</td>
      <td>0.5%</td>
      <td>0.0%</td>
      <td>20,161,327</td>
    </tr>
    <tr>
      <td>Senegal</td>
      <td>87,550</td>
      <td>+37</td>
      <td>1,968</td>
      <td></td>
      <td>2.2%</td>
      <td>0.3%</td>
      <td>0.0%</td>
      <td>17,664,545</td>
    </tr>
    <tr>
      <td>Ivory Coast</td>
      <td>85,676</td>
      <td>+75</td>
      <td>811</td>
      <td></td>
      <td>0.9%</td>
      <td>14.3%</td>
      <td>0.0%</td>
      <td>27,741,134</td>
    </tr>
    <tr>
      <td>Suriname</td>
      <td>80,982</td>
      <td></td>
      <td>1,380</td>
      <td></td>
      <td>1.7%</td>
      <td>28.5%</td>
      <td>0.0%</td>
      <td>597,598</td>
    </tr>
    <tr>
      <td>French Polynesia</td>
      <td>75,819</td>
      <td>+165</td>
      <td>649</td>
      <td></td>
      <td>0.9%</td>
      <td>6.4%</td>
      <td>0.0%</td>
      <td>284,295</td>
    </tr>
    <tr>
      <td>Eswatini</td>
      <td>73,297</td>
      <td>+3</td>
      <td>1,417</td>
      <td></td>
      <td>1.9%</td>
      <td>25.2%</td>
      <td>0.0%</td>
      <td>1,185,225</td>
    </tr>
    <tr>
      <td>New Caledonia</td>
      <td>70,937</td>
      <td></td>
      <td>314</td>
      <td></td>
      <td>0.4%</td>
      <td>8.9%</td>
      <td>0.0%</td>
      <td>291,224</td>
    </tr>
    <tr>
      <td>Guyana</td>
      <td>70,083</td>
      <td>+74</td>
      <td>1,271</td>
      <td></td>
      <td>1.8%</td>
      <td>7.7%</td>
      <td>0.0%</td>
      <td>794,469</td>
    </tr>
    <tr>
      <td>Fiji</td>
      <td>67,805</td>
      <td></td>
      <td>874</td>
      <td></td>
      <td>1.3%</td>
      <td>16.4%</td>
      <td>0.0%</td>
      <td>909,996</td>
    </tr>
    <tr>
      <td>Belize</td>
      <td>67,424</td>
      <td>+115</td>
      <td>680</td>
      <td></td>
      <td>1.0%</td>
      <td>0.2%</td>
      <td>0.0%</td>
      <td>412,689</td>
    </tr>
    <tr>
      <td>Madagascar</td>
      <td>66,491</td>
      <td></td>
      <td>1,408</td>
      <td></td>
      <td>2.1%</td>
      <td>0.1%</td>
      <td>0.0%</td>
      <td>29,176,303</td>
    </tr>
    <tr>
      <td>Sudan</td>
      <td>63,074</td>
      <td></td>
      <td>4,958</td>
      <td></td>
      <td>7.9%</td>
      <td>1.3%</td>
      <td>0.0%</td>
      <td>45,985,365</td>
    </tr>
    <tr>
      <td>Mauritania</td>
      <td>62,645</td>
      <td>+14</td>
      <td>992</td>
      <td></td>
      <td>1.6%</td>
      <td>11.0%</td>
      <td>0.0%</td>
      <td>4,904,656</td>
    </tr>
    <tr>
      <td>Cabo Verde</td>
      <td>62,200</td>
      <td>+9</td>
      <td>410</td>
      <td></td>
      <td>0.7%</td>
      <td>7.9%</td>
      <td>0.0%</td>
      <td>568,586</td>
    </tr>
    <tr>
      <td>Bhutan</td>
      <td>60,530</td>
      <td></td>
      <td>21</td>
      <td></td>
      <td>0.0%</td>
      <td>0.3%</td>
      <td>0.0%</td>
      <td>789,334</td>
    </tr>
    <tr>
      <td>Syria</td>
      <td>56,464</td>
      <td>+11</td>
      <td>3,150</td>
      <td></td>
      <td>5.6%</td>
      <td>2.4%</td>
      <td>0.0%</td>
      <td>18,387,666</td>
    </tr>
    <tr>
      <td>Gabon</td>
      <td>48,511</td>
      <td></td>
      <td>306</td>
      <td></td>
      <td>0.6%</td>
      <td>0.4%</td>
      <td>0.0%</td>
      <td>2,335,309</td>
    </tr>
    <tr>
      <td>Burundi</td>
      <td>46,275</td>
      <td></td>
      <td>38</td>
      <td></td>
      <td>0.1%</td>
      <td>59.7%</td>
      <td>0.0%</td>
      <td>12,629,687</td>
    </tr>
    <tr>
      <td>Andorra</td>
      <td>45,793</td>
      <td></td>
      <td>154</td>
      <td></td>
      <td>0.3%</td>
      <td>46.0%</td>
      <td>0.0%</td>
      <td>77,523</td>
    </tr>
    <tr>
      <td>Seychelles</td>
      <td>45,540</td>
      <td></td>
      <td>168</td>
      <td></td>
      <td>0.4%</td>
      <td>27.5%</td>
      <td>0.0%</td>
      <td>99,617</td>
    </tr>
    <tr>
      <td>Curaçao</td>
      <td>45,127</td>
      <td></td>
      <td>282</td>
      <td></td>
      <td>0.6%</td>
      <td>0.5%</td>
      <td>0.0%</td>
      <td>165,493</td>
    </tr>
    <tr>
      <td>Papua New Guinea</td>
      <td>44,800</td>
      <td>+2</td>
      <td>663</td>
      <td></td>
      <td>1.5%</td>
      <td>41.6%</td>
      <td>0.0%</td>
      <td>9,300,634</td>
    </tr>
    <tr>
      <td>Aruba</td>
      <td>42,217</td>
      <td></td>
      <td>226</td>
      <td></td>
      <td>0.5%</td>
      <td>3.3%</td>
      <td>0.0%</td>
      <td>107,712</td>
    </tr>
    <tr>
      <td>Mauritius</td>
      <td>39,751</td>
      <td>+216</td>
      <td>1,015</td>
      <td>+2</td>
      <td>2.6%</td>
      <td>13.9%</td>
      <td>0.0%</td>
      <td>1,276,170</td>
    </tr>
    <tr>
      <td>Mayotte</td>
      <td>39,344</td>
      <td></td>
      <td>187</td>
      <td></td>
      <td>0.5%</td>
      <td>0.5%</td>
      <td>0.0%</td>
      <td>286,549</td>
    </tr>
    <tr>
      <td>Togo</td>
      <td>38,158</td>
      <td>+13</td>
      <td>280</td>
      <td></td>
      <td>0.7%</td>
      <td>0.1%</td>
      <td>0.0%</td>
      <td>8,683,553</td>
    </tr>
    <tr>
      <td>Tanzania</td>
      <td>37,865</td>
      <td></td>
      <td>841</td>
      <td></td>
      <td>2.2%</td>
      <td>44.0%</td>
      <td>0.0%</td>
      <td>63,284,174</td>
    </tr>
    <tr>
      <td>Isle of Man</td>
      <td>37,794</td>
      <td></td>
      <td>114</td>
      <td></td>
      <td>0.3%</td>
      <td>0.3%</td>
      <td>0.0%</td>
      <td>85,972</td>
    </tr>
    <tr>
      <td>Guinea</td>
      <td>37,408</td>
      <td></td>
      <td>445</td>
      <td></td>
      <td>1.2%</td>
      <td>9.3%</td>
      <td>0.0%</td>
      <td>13,876,030</td>
    </tr>
    <tr>
      <td>Bahamas</td>
      <td>36,776</td>
      <td></td>
      <td>822</td>
      <td></td>
      <td>2.2%</td>
      <td>74.7%</td>
      <td>0.0%</td>
      <td>401,083</td>
    </tr>
    <tr>
      <td>Faeroe Islands</td>
      <td>34,658</td>
      <td></td>
      <td>28</td>
      <td></td>
      <td>0.1%</td>
      <td>1.6%</td>
      <td>0.0%</td>
      <td>49,250</td>
    </tr>
    <tr>
      <td>Lesotho</td>
      <td>34,040</td>
      <td></td>
      <td>702</td>
      <td></td>
      <td>2.1%</td>
      <td>0.3%</td>
      <td>0.0%</td>
      <td>2,177,677</td>
    </tr>
    <tr>
      <td>Haiti</td>
      <td>32,464</td>
      <td></td>
      <td>838</td>
      <td></td>
      <td>2.6%</td>
      <td>0.2%</td>
      <td>0.0%</td>
      <td>11,692,538</td>
    </tr>
    <tr>
      <td>Mali</td>
      <td>31,234</td>
      <td>+2</td>
      <td>739</td>
      <td></td>
      <td>2.4%</td>
      <td>46.4%</td>
      <td>0.0%</td>
      <td>21,467,827</td>
    </tr>
    <tr>
      <td>Cayman Islands</td>
      <td>29,419</td>
      <td></td>
      <td>29</td>
      <td></td>
      <td>0.1%</td>
      <td>15.9%</td>
      <td>0.0%</td>
      <td>67,332</td>
    </tr>
    <tr>
      <td>Saint Lucia</td>
      <td>28,062</td>
      <td></td>
      <td>386</td>
      <td></td>
      <td>1.4%</td>
      <td>0.2%</td>
      <td>0.0%</td>
      <td>185,378</td>
    </tr>
    <tr>
      <td>Benin</td>
      <td>27,316</td>
      <td></td>
      <td>163</td>
      <td></td>
      <td>0.6%</td>
      <td>0.2%</td>
      <td>0.0%</td>
      <td>12,785,725</td>
    </tr>
    <tr>
      <td>Somalia</td>
      <td>27,020</td>
      <td></td>
      <td>1,350</td>
      <td></td>
      <td>5.0%</td>
      <td>0.5%</td>
      <td>0.0%</td>
      <td>16,818,368</td>
    </tr>
    <tr>
      <td>Congo</td>
      <td>24,775</td>
      <td></td>
      <td>386</td>
      <td></td>
      <td>1.6%</td>
      <td>1.8%</td>
      <td>0.0%</td>
      <td>5,801,470</td>
    </tr>
    <tr>
      <td>Timor-Leste</td>
      <td>22,980</td>
      <td></td>
      <td>133</td>
      <td></td>
      <td>0.6%</td>
      <td>3.2%</td>
      <td>0.0%</td>
      <td>1,370,838</td>
    </tr>
    <tr>
      <td>Solomon Islands</td>
      <td>21,544</td>
      <td></td>
      <td>153</td>
      <td></td>
      <td>0.7%</td>
      <td>0.1%</td>
      <td>0.0%</td>
      <td>722,028</td>
    </tr>
    <tr>
      <td>Burkina Faso</td>
      <td>21,128</td>
      <td></td>
      <td>387</td>
      <td></td>
      <td>1.8%</td>
      <td>62.8%</td>
      <td>0.0%</td>
      <td>22,099,191</td>
    </tr>
    <tr>
      <td>Gibraltar</td>
      <td>19,999</td>
      <td></td>
      <td>106</td>
      <td></td>
      <td>0.5%</td>
      <td>58.7%</td>
      <td>0.0%</td>
      <td>33,670</td>
    </tr>
    <tr>
      <td>San Marino</td>
      <td>19,983</td>
      <td></td>
      <td>118</td>
      <td></td>
      <td>0.6%</td>
      <td>17.6%</td>
      <td>0.0%</td>
      <td>34,080</td>
    </tr>
    <tr>
      <td>Grenada</td>
      <td>18,822</td>
      <td></td>
      <td>234</td>
      <td></td>
      <td>1.2%</td>
      <td>49.1%</td>
      <td>0.0%</td>
      <td>113,611</td>
    </tr>
    <tr>
      <td>Liechtenstein</td>
      <td>18,805</td>
      <td>+29</td>
      <td>86</td>
      <td></td>
      <td>0.5%</td>
      <td>0.3%</td>
      <td>0.0%</td>
      <td>38,356</td>
    </tr>
    <tr>
      <td>Nicaragua</td>
      <td>18,491</td>
      <td></td>
      <td>225</td>
      <td></td>
      <td>1.2%</td>
      <td>0.2%</td>
      <td>0.0%</td>
      <td>6,788,992</td>
    </tr>
    <tr>
      <td>Tajikistan</td>
      <td>17,786</td>
      <td></td>
      <td>125</td>
      <td></td>
      <td>0.7%</td>
      <td>0.2%</td>
      <td>0.0%</td>
      <td>9,984,604</td>
    </tr>
    <tr>
      <td>South Sudan</td>
      <td>17,780</td>
      <td></td>
      <td>138</td>
      <td></td>
      <td>0.8%</td>
      <td>28.8%</td>
      <td>0.0%</td>
      <td>11,467,530</td>
    </tr>
    <tr>
      <td>Bermuda</td>
      <td>17,356</td>
      <td></td>
      <td>148</td>
      <td></td>
      <td>0.9%</td>
      <td>1.2%</td>
      <td>0.0%</td>
      <td>61,798</td>
    </tr>
    <tr>
      <td>Equatorial Guinea</td>
      <td>16,741</td>
      <td></td>
      <td>183</td>
      <td></td>
      <td>1.1%</td>
      <td>1.6%</td>
      <td>0.0%</td>
      <td>1,499,158</td>
    </tr>
    <tr>
      <td>Djibouti</td>
      <td>15,690</td>
      <td></td>
      <td>189</td>
      <td></td>
      <td>1.2%</td>
      <td>7.8%</td>
      <td>0.0%</td>
      <td>1,017,977</td>
    </tr>
    <tr>
      <td>Samoa</td>
      <td>15,405</td>
      <td></td>
      <td>29</td>
      <td></td>
      <td>0.2%</td>
      <td>21.3%</td>
      <td>0.0%</td>
      <td>201,164</td>
    </tr>
    <tr>
      <td>Dominica</td>
      <td>14,852</td>
      <td></td>
      <td>68</td>
      <td></td>
      <td>0.5%</td>
      <td>0.3%</td>
      <td>0.0%</td>
      <td>72,359</td>
    </tr>
    <tr>
      <td>CAR</td>
      <td>14,781</td>
      <td>+9</td>
      <td>113</td>
      <td></td>
      <td>0.8%</td>
      <td>37.1%</td>
      <td>0.0%</td>
      <td>5,004,971</td>
    </tr>
    <tr>
      <td>Monaco</td>
      <td>14,130</td>
      <td>+26</td>
      <td>57</td>
      <td></td>
      <td>0.4%</td>
      <td>13.1%</td>
      <td>0.0%</td>
      <td>39,822</td>
    </tr>
    <tr>
      <td>Tonga</td>
      <td>12,554</td>
      <td></td>
      <td>12</td>
      <td></td>
      <td>0.1%</td>
      <td>0.5%</td>
      <td>0.0%</td>
      <td>108,194</td>
    </tr>
    <tr>
      <td>Gambia</td>
      <td>12,149</td>
      <td></td>
      <td>368</td>
      <td></td>
      <td>3.0%</td>
      <td>21.3%</td>
      <td>0.0%</td>
      <td>2,558,324</td>
    </tr>
    <tr>
      <td>Greenland</td>
      <td>11,971</td>
      <td></td>
      <td>21</td>
      <td></td>
      <td>0.2%</td>
      <td>0.0%</td>
      <td>0.0%</td>
      <td>56,975</td>
    </tr>
    <tr>
      <td>Yemen</td>
      <td>11,895</td>
      <td></td>
      <td>2,152</td>
      <td></td>
      <td>18.1%</td>
      <td>3.7%</td>
      <td>0.0%</td>
      <td>31,196,528</td>
    </tr>
    <tr>
      <td>Vanuatu</td>
      <td>11,723</td>
      <td></td>
      <td>14</td>
      <td></td>
      <td>0.1%</td>
      <td>29.3%</td>
      <td>0.0%</td>
      <td>322,120</td>
    </tr>
    <tr>
      <td>Saint Martin</td>
      <td>11,667</td>
      <td></td>
      <td>63</td>
      <td></td>
      <td>0.5%</td>
      <td>43.6%</td>
      <td>0.0%</td>
      <td>40,042</td>
    </tr>
    <tr>
      <td>Caribbean Netherlands</td>
      <td>10,888</td>
      <td></td>
      <td>35</td>
      <td></td>
      <td>0.3%</td>
      <td>24.8%</td>
      <td>0.0%</td>
      <td>26,732</td>
    </tr>
    <tr>
      <td>Sint Maarten</td>
      <td>10,765</td>
      <td></td>
      <td>87</td>
      <td></td>
      <td>0.8%</td>
      <td>0.3%</td>
      <td>0.0%</td>
      <td>43,892</td>
    </tr>
    <tr>
      <td>Eritrea</td>
      <td>10,095</td>
      <td></td>
      <td>103</td>
      <td></td>
      <td>1.0%</td>
      <td>0.0%</td>
      <td>0.0%</td>
      <td>3,648,828</td>
    </tr>
    <tr>
      <td>Niger</td>
      <td>9,119</td>
      <td>+4</td>
      <td>311</td>
      <td></td>
      <td>3.4%</td>
      <td>9.2%</td>
      <td>0.0%</td>
      <td>26,034,987</td>
    </tr>
    <tr>
      <td>Antigua and Barbuda</td>
      <td>8,773</td>
      <td></td>
      <td>144</td>
      <td></td>
      <td>1.6%</td>
      <td>0.4%</td>
      <td>0.0%</td>
      <td>99,621</td>
    </tr>
    <tr>
      <td>Guinea-Bissau</td>
      <td>8,440</td>
      <td></td>
      <td>174</td>
      <td></td>
      <td>2.1%</td>
      <td>0.9%</td>
      <td>0.0%</td>
      <td>2,065,048</td>
    </tr>
    <tr>
      <td>Comoros</td>
      <td>8,340</td>
      <td>+11</td>
      <td>160</td>
      <td></td>
      <td>1.9%</td>
      <td>0.1%</td>
      <td>0.0%</td>
      <td>908,250</td>
    </tr>
    <tr>
      <td>Sierra Leone</td>
      <td>7,737</td>
      <td>+1</td>
      <td>125</td>
      <td></td>
      <td>1.6%</td>
      <td>0.1%</td>
      <td>0.0%</td>
      <td>8,315,441</td>
    </tr>
    <tr>
      <td>Liberia</td>
      <td>7,548</td>
      <td>+10</td>
      <td>294</td>
      <td></td>
      <td>3.9%</td>
      <td>0.0%</td>
      <td>0.0%</td>
      <td>5,305,704</td>
    </tr>
    <tr>
      <td>Chad</td>
      <td>7,437</td>
      <td></td>
      <td>193</td>
      <td></td>
      <td>2.6%</td>
      <td>24.3%</td>
      <td>0.0%</td>
      <td>17,409,288</td>
    </tr>
    <tr>
      <td>British Virgin Islands</td>
      <td>7,131</td>
      <td></td>
      <td>63</td>
      <td></td>
      <td>0.9%</td>
      <td>6.4%</td>
      <td>0.0%</td>
      <td>30,651</td>
    </tr>
    <tr>
      <td>St. Vincent Grenadines</td>
      <td>7,098</td>
      <td></td>
      <td>115</td>
      <td></td>
      <td>1.6%</td>
      <td>6.0%</td>
      <td>0.0%</td>
      <td>111,675</td>
    </tr>
    <tr>
      <td>Micronesia</td>
      <td>6,507</td>
      <td>+216</td>
      <td>12</td>
      <td>+1</td>
      <td>0.2%</td>
      <td>12.1%</td>
      <td>0.0%</td>
      <td>117,538</td>
    </tr>
    <tr>
      <td>Saint Kitts and Nevis</td>
      <td>6,470</td>
      <td></td>
      <td>46</td>
      <td></td>
      <td>0.7%</td>
      <td>16.3%</td>
      <td>0.0%</td>
      <td>53,984</td>
    </tr>
    <tr>
      <td>Turks and Caicos</td>
      <td>6,328</td>
      <td></td>
      <td>36</td>
      <td></td>
      <td>0.6%</td>
      <td>36.0%</td>
      <td>0.0%</td>
      <td>39,810</td>
    </tr>
    <tr>
      <td>Cook Islands</td>
      <td>6,122</td>
      <td></td>
      <td>1</td>
      <td></td>
      <td>0.0%</td>
      <td>2.7%</td>
      <td>0.0%</td>
      <td>17,598</td>
    </tr>
    <tr>
      <td>Sao Tome and Principe</td>
      <td>6,115</td>
      <td></td>
      <td>75</td>
      <td></td>
      <td>1.2%</td>
      <td>33.5%</td>
      <td>0.0%</td>
      <td>227,650</td>
    </tr>
    <tr>
      <td>Palau</td>
      <td>5,308</td>
      <td></td>
      <td>6</td>
      <td></td>
      <td>0.1%</td>
      <td>53.4%</td>
      <td>0.0%</td>
      <td>18,274</td>
    </tr>
    <tr>
      <td>St. Barth</td>
      <td>5,138</td>
      <td></td>
      <td>6</td>
      <td></td>
      <td>0.1%</td>
      <td>46.9%</td>
      <td>0.0%</td>
      <td>9,940</td>
    </tr>
    <tr>
      <td>Nauru</td>
      <td>4,603</td>
      <td></td>
      <td>1</td>
      <td></td>
      <td>0.0%</td>
      <td>30.1%</td>
      <td>0.0%</td>
      <td>10,966</td>
    </tr>
    <tr>
      <td>Anguilla</td>
      <td>3,620</td>
      <td></td>
      <td>10</td>
      <td></td>
      <td>0.3%</td>
      <td>2.9%</td>
      <td>0.0%</td>
      <td>15,282</td>
    </tr>
    <tr>
      <td>Kiribati</td>
      <td>3,430</td>
      <td></td>
      <td>13</td>
      <td></td>
      <td>0.4%</td>
      <td>59.8%</td>
      <td>0.0%</td>
      <td>123,273</td>
    </tr>
    <tr>
      <td>Saint Pierre Miquelon</td>
      <td>3,112</td>
      <td></td>
      <td>1</td>
      <td></td>
      <td>0.0%</td>
      <td>84.3%</td>
      <td>0.0%</td>
      <td>5,735</td>
    </tr>
    <tr>
      <td>Falkland Islands</td>
      <td>1,835</td>
      <td></td>
      <td></td>
      <td></td>
      <td>0.4%</td>
      <td>36.7%</td>
      <td>0.0%</td>
      <td>3,691</td>
    </tr>
    <tr>
      <td>Montserrat</td>
      <td>1,068</td>
      <td></td>
      <td>8</td>
      <td></td>
      <td>0.6%</td>
      <td>0.2%</td>
      <td>0.0%</td>
      <td>4,998</td>
    </tr>
    <tr>
      <td>Macao</td>
      <td>791</td>
      <td></td>
      <td>6</td>
      <td></td>
      <td>0.9%</td>
      <td>7.3%</td>
      <td>0.0%</td>
      <td>667,803</td>
    </tr>
    <tr>
      <td>Wallis and Futuna</td>
      <td>761</td>
      <td></td>
      <td>7</td>
      <td></td>
      <td>1.7%</td>
      <td>1.3%</td>
      <td>0.0%</td>
      <td>10,829</td>
    </tr>
    <tr>
      <td>Diamond Princess</td>
      <td>712</td>
      <td></td>
      <td>13</td>
      <td></td>
      <td>0.1%</td>
      <td>43.2%</td>
      <td>0.0%</td>
      <td></td>
    </tr>
    <tr>
      <td>Marshall Islands</td>
      <td>68</td>
      <td></td>
      <td></td>
      <td></td>
      <td>2.9%</td>
      <td>8.4%</td>
      <td>0.0%</td>
      <td>60,023</td>
    </tr>
    <tr>
      <td>Niue</td>
      <td>56</td>
      <td></td>
      <td></td>
      <td></td>
      <td>9332.1%</td>
      <td>0.0%</td>
      <td>0.0%</td>
      <td>1,649</td>
    </tr>
    <tr>
      <td>Vatican City</td>
      <td>29</td>
      <td></td>
      <td></td>
      <td></td>
      <td>NaN</td>
      <td>0.2%</td>
      <td>0.0%</td>
      <td>805</td>
    </tr>
    <tr>
      <td>Western Sahara</td>
      <td>10</td>
      <td></td>
      <td>1</td>
      <td></td>
      <td>NaN</td>
      <td>0.2%</td>
      <td>0.0%</td>
      <td>627,981</td>
    </tr>
    <tr>
      <td>MS Zaandam</td>
      <td>9</td>
      <td></td>
      <td>2</td>
      <td></td>
      <td>NaN</td>
      <td>0.0%</td>
      <td>0.0%</td>
      <td></td>
    </tr>
    <tr>
      <td>Tuvalu</td>
      <td>8</td>
      <td></td>
      <td></td>
      <td></td>
      <td>NaN</td>
      <td>NaN</td>
      <td>0.0%</td>
      <td>12,096</td>
    </tr>
    <tr>
      <td>Saint Helena</td>
      <td>2</td>
      <td></td>
      <td></td>
      <td></td>
      <td>NaN</td>
      <td>NaN</td>
      <td>0.0%</td>
      <td>6,115</td>
    </tr>
    <tr>
      <td>China</td>
      <td>230,135</td>
      <td>+222</td>
      <td>5,226</td>
      <td></td>
      <td>NaN</td>
      <td>NaN</td>
      <td>0.0%</td>
      <td>1,439,323,776</td>
    </tr>
  </tbody>
</table>