<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: center;">
      <th style="min-width: 120px;">County</th>
      <th style="min-width: 120px;">Total Cases</th>
      <th style="min-width: 120px;">New Cases</th>
      <th style="min-width: 120px;">Total Deaths</th>
      <th style="min-width: 120px;">New Deaths</th>
      <th style="min-width: 120px;">Active Cases</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>New York Total</td>
      <td>5,671,552</td>
      <td></td>
      <td>69,743</td>
      <td></td>
      <td>69,874</td>
    </tr>
    <tr>
      <td>Kings</td>
      <td>761,504</td>
      <td></td>
      <td>12,936</td>
      <td></td>
      <td>N/A</td>
    </tr>
    <tr>
      <td>Queens</td>
      <td>696,275</td>
      <td></td>
      <td>11,942</td>
      <td></td>
      <td>N/A</td>
    </tr>
    <tr>
      <td>Suffolk</td>
      <td>561,056</td>
      <td></td>
      <td>4,458</td>
      <td></td>
      <td>N/A</td>
    </tr>
    <tr>
      <td>Manhattan</td>
      <td>469,141</td>
      <td></td>
      <td>5,501</td>
      <td></td>
      <td>N/A</td>
    </tr>
    <tr>
      <td>Nassau</td>
      <td>446,053</td>
      <td></td>
      <td>3,885</td>
      <td></td>
      <td>N/A</td>
    </tr>
    <tr>
      <td>Bronx</td>
      <td>431,549</td>
      <td></td>
      <td>7,779</td>
      <td></td>
      <td>N/A</td>
    </tr>
    <tr>
      <td>Westchester</td>
      <td>276,868</td>
      <td></td>
      <td>2,734</td>
      <td></td>
      <td>N/A</td>
    </tr>
    <tr>
      <td>Erie</td>
      <td>245,512</td>
      <td></td>
      <td>2,823</td>
      <td></td>
      <td>N/A</td>
    </tr>
    <tr>
      <td>Richmond</td>
      <td>180,445</td>
      <td></td>
      <td>2,354</td>
      <td></td>
      <td>N/A</td>
    </tr>
    <tr>
      <td>Monroe</td>
      <td>178,539</td>
      <td></td>
      <td>1,880</td>
      <td></td>
      <td>N/A</td>
    </tr>
    <tr>
      <td>Onondaga</td>
      <td>124,343</td>
      <td></td>
      <td>1,136</td>
      <td></td>
      <td>N/A</td>
    </tr>
    <tr>
      <td>Orange</td>
      <td>120,275</td>
      <td></td>
      <td>1,171</td>
      <td></td>
      <td>N/A</td>
    </tr>
    <tr>
      <td>Rockland</td>
      <td>99,402</td>
      <td></td>
      <td>1,188</td>
      <td></td>
      <td>N/A</td>
    </tr>
    <tr>
      <td>Dutchess</td>
      <td>69,978</td>
      <td></td>
      <td>664</td>
      <td></td>
      <td>N/A</td>
    </tr>
    <tr>
      <td>Albany</td>
      <td>66,636</td>
      <td></td>
      <td>563</td>
      <td></td>
      <td>N/A</td>
    </tr>
    <tr>
      <td>Oneida</td>
      <td>60,013</td>
      <td></td>
      <td>814</td>
      <td></td>
      <td>N/A</td>
    </tr>
    <tr>
      <td>Niagara</td>
      <td>52,884</td>
      <td></td>
      <td>595</td>
      <td></td>
      <td>N/A</td>
    </tr>
    <tr>
      <td>Saratoga</td>
      <td>52,329</td>
      <td></td>
      <td>345</td>
      <td></td>
      <td>N/A</td>
    </tr>
    <tr>
      <td>Broome</td>
      <td>50,662</td>
      <td></td>
      <td>531</td>
      <td></td>
      <td>N/A</td>
    </tr>
    <tr>
      <td>Ulster</td>
      <td>43,650</td>
      <td></td>
      <td>385</td>
      <td></td>
      <td>181</td>
    </tr>
    <tr>
      <td>Schenectady</td>
      <td>37,248</td>
      <td></td>
      <td>314</td>
      <td></td>
      <td>N/A</td>
    </tr>
    <tr>
      <td>Rensselaer</td>
      <td>35,547</td>
      <td></td>
      <td>272</td>
      <td></td>
      <td>13,817</td>
    </tr>
    <tr>
      <td>St. Lawrence</td>
      <td>30,361</td>
      <td></td>
      <td>196</td>
      <td></td>
      <td>N/A</td>
    </tr>
    <tr>
      <td>Oswego</td>
      <td>29,449</td>
      <td></td>
      <td>198</td>
      <td></td>
      <td>N/A</td>
    </tr>
    <tr>
      <td>Chautauqua</td>
      <td>28,456</td>
      <td></td>
      <td>323</td>
      <td></td>
      <td>N/A</td>
    </tr>
    <tr>
      <td>Steuben</td>
      <td>27,199</td>
      <td></td>
      <td>302</td>
      <td></td>
      <td>N/A</td>
    </tr>
    <tr>
      <td>Putnam</td>
      <td>26,013</td>
      <td></td>
      <td>125</td>
      <td></td>
      <td>N/A</td>
    </tr>
    <tr>
      <td>Jefferson</td>
      <td>25,841</td>
      <td></td>
      <td>165</td>
      <td></td>
      <td>200</td>
    </tr>
    <tr>
      <td>Ontario</td>
      <td>23,504</td>
      <td></td>
      <td>197</td>
      <td></td>
      <td>N/A</td>
    </tr>
    <tr>
      <td>Chemung</td>
      <td>23,246</td>
      <td></td>
      <td>236</td>
      <td></td>
      <td>N/A</td>
    </tr>
    <tr>
      <td>Tompkins</td>
      <td>22,284</td>
      <td></td>
      <td>86</td>
      <td></td>
      <td>N/A</td>
    </tr>
    <tr>
      <td>Sullivan</td>
      <td>21,024</td>
      <td></td>
      <td>156</td>
      <td></td>
      <td>N/A</td>
    </tr>
    <tr>
      <td>Cattaraugus</td>
      <td>20,525</td>
      <td></td>
      <td>250</td>
      <td></td>
      <td>155</td>
    </tr>
    <tr>
      <td>Warren</td>
      <td>19,483</td>
      <td></td>
      <td>130</td>
      <td></td>
      <td>N/A</td>
    </tr>
    <tr>
      <td>Wayne</td>
      <td>18,965</td>
      <td></td>
      <td>183</td>
      <td></td>
      <td>N/A</td>
    </tr>
    <tr>
      <td>Clinton</td>
      <td>18,887</td>
      <td></td>
      <td>92</td>
      <td></td>
      <td>N/A</td>
    </tr>
    <tr>
      <td>Cayuga</td>
      <td>17,714</td>
      <td></td>
      <td>157</td>
      <td></td>
      <td>N/A</td>
    </tr>
    <tr>
      <td>Herkimer</td>
      <td>15,236</td>
      <td></td>
      <td>197</td>
      <td></td>
      <td>15,039</td>
    </tr>
    <tr>
      <td>Genesee</td>
      <td>14,798</td>
      <td></td>
      <td>191</td>
      <td></td>
      <td>N/A</td>
    </tr>
    <tr>
      <td>Cortland</td>
      <td>14,776</td>
      <td></td>
      <td>123</td>
      <td></td>
      <td>N/A</td>
    </tr>
    <tr>
      <td>Madison</td>
      <td>14,660</td>
      <td></td>
      <td>128</td>
      <td></td>
      <td>2,453</td>
    </tr>
    <tr>
      <td>Otsego</td>
      <td>14,313</td>
      <td></td>
      <td>113</td>
      <td></td>
      <td>N/A</td>
    </tr>
    <tr>
      <td>Fulton</td>
      <td>13,925</td>
      <td></td>
      <td>172</td>
      <td></td>
      <td>N/A</td>
    </tr>
    <tr>
      <td>Washington</td>
      <td>13,467</td>
      <td></td>
      <td>117</td>
      <td></td>
      <td>N/A</td>
    </tr>
    <tr>
      <td>Montgomery</td>
      <td>12,930</td>
      <td></td>
      <td>207</td>
      <td></td>
      <td>N/A</td>
    </tr>
    <tr>
      <td>Columbia</td>
      <td>12,793</td>
      <td></td>
      <td>146</td>
      <td></td>
      <td>N/A</td>
    </tr>
    <tr>
      <td>Livingston</td>
      <td>12,663</td>
      <td></td>
      <td>121</td>
      <td></td>
      <td>N/A</td>
    </tr>
    <tr>
      <td>Tioga</td>
      <td>12,093</td>
      <td></td>
      <td>85</td>
      <td></td>
      <td>N/A</td>
    </tr>
    <tr>
      <td>Allegany</td>
      <td>11,986</td>
      <td></td>
      <td>156</td>
      <td></td>
      <td>N/A</td>
    </tr>
    <tr>
      <td>Franklin</td>
      <td>10,377</td>
      <td></td>
      <td>47</td>
      <td></td>
      <td>N/A</td>
    </tr>
    <tr>
      <td>Chenango</td>
      <td>10,189</td>
      <td></td>
      <td>123</td>
      <td></td>
      <td>N/A</td>
    </tr>
    <tr>
      <td>Greene</td>
      <td>9,397</td>
      <td></td>
      <td>133</td>
      <td></td>
      <td>N/A</td>
    </tr>
    <tr>
      <td>Orleans</td>
      <td>9,369</td>
      <td></td>
      <td>119</td>
      <td></td>
      <td>N/A</td>
    </tr>
    <tr>
      <td>Wyoming</td>
      <td>8,951</td>
      <td></td>
      <td>85</td>
      <td></td>
      <td>N/A</td>
    </tr>
    <tr>
      <td>Seneca</td>
      <td>8,925</td>
      <td></td>
      <td>105</td>
      <td></td>
      <td>72</td>
    </tr>
    <tr>
      <td>Delaware</td>
      <td>8,662</td>
      <td></td>
      <td>85</td>
      <td></td>
      <td>3,345</td>
    </tr>
    <tr>
      <td>Lewis</td>
      <td>7,362</td>
      <td></td>
      <td>52</td>
      <td></td>
      <td>N/A</td>
    </tr>
    <tr>
      <td>Essex</td>
      <td>6,432</td>
      <td></td>
      <td>63</td>
      <td></td>
      <td>N/A</td>
    </tr>
    <tr>
      <td>Schoharie</td>
      <td>5,531</td>
      <td></td>
      <td>36</td>
      <td></td>
      <td>N/A</td>
    </tr>
    <tr>
      <td>Yates</td>
      <td>5,067</td>
      <td></td>
      <td>40</td>
      <td></td>
      <td>N/A</td>
    </tr>
    <tr>
      <td>Schuyler</td>
      <td>3,852</td>
      <td></td>
      <td>28</td>
      <td></td>
      <td>N/A</td>
    </tr>
    <tr>
      <td>Hamilton</td>
      <td>938</td>
      <td></td>
      <td>5</td>
      <td></td>
      <td>N/A</td>
    </tr>
  </tbody>
</table>