<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: center;">
      <th style="min-width: 120px;">County</th>
      <th style="min-width: 120px;">Total Cases</th>
      <th style="min-width: 120px;">New Cases</th>
      <th style="min-width: 120px;">Total Deaths</th>
      <th style="min-width: 120px;">New Deaths</th>
      <th style="min-width: 120px;">Active Cases</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>New York Total</td>
      <td>5,162,220</td>
      <td>+1,052</td>
      <td>68,525</td>
      <td>+2</td>
      <td>566,160</td>
    </tr>
    <tr>
      <td>Kings</td>
      <td>697,621</td>
      <td>+273</td>
      <td>12,787</td>
      <td>+1</td>
      <td>N/A</td>
    </tr>
    <tr>
      <td>Queens</td>
      <td>641,243</td>
      <td>+199</td>
      <td>11,840</td>
      <td></td>
      <td>N/A</td>
    </tr>
    <tr>
      <td>Suffolk</td>
      <td>523,628</td>
      <td>+88</td>
      <td>4,367</td>
      <td></td>
      <td>N/A</td>
    </tr>
    <tr>
      <td>Manhattan</td>
      <td>415,281</td>
      <td>+338</td>
      <td>5,436</td>
      <td></td>
      <td>N/A</td>
    </tr>
    <tr>
      <td>Bronx</td>
      <td>407,601</td>
      <td>+113</td>
      <td>7,722</td>
      <td></td>
      <td>N/A</td>
    </tr>
    <tr>
      <td>Nassau</td>
      <td>403,647</td>
      <td></td>
      <td>3,822</td>
      <td></td>
      <td>N/A</td>
    </tr>
    <tr>
      <td>Westchester</td>
      <td>250,974</td>
      <td></td>
      <td>2,705</td>
      <td></td>
      <td>N/A</td>
    </tr>
    <tr>
      <td>Erie</td>
      <td>214,949</td>
      <td></td>
      <td>2,738</td>
      <td></td>
      <td>N/A</td>
    </tr>
    <tr>
      <td>Richmond</td>
      <td>165,917</td>
      <td>+41</td>
      <td>2,311</td>
      <td>+1</td>
      <td>N/A</td>
    </tr>
    <tr>
      <td>Monroe</td>
      <td>157,058</td>
      <td></td>
      <td>1,815</td>
      <td></td>
      <td>N/A</td>
    </tr>
    <tr>
      <td>Onondaga</td>
      <td>113,021</td>
      <td></td>
      <td>1,094</td>
      <td></td>
      <td>N/A</td>
    </tr>
    <tr>
      <td>Orange</td>
      <td>109,950</td>
      <td></td>
      <td>1,142</td>
      <td></td>
      <td>N/A</td>
    </tr>
    <tr>
      <td>Rockland</td>
      <td>92,377</td>
      <td></td>
      <td>1,166</td>
      <td></td>
      <td>N/A</td>
    </tr>
    <tr>
      <td>Dutchess</td>
      <td>63,960</td>
      <td></td>
      <td>655</td>
      <td></td>
      <td>N/A</td>
    </tr>
    <tr>
      <td>Albany</td>
      <td>59,004</td>
      <td></td>
      <td>538</td>
      <td></td>
      <td>N/A</td>
    </tr>
    <tr>
      <td>Oneida</td>
      <td>53,357</td>
      <td></td>
      <td>782</td>
      <td></td>
      <td>N/A</td>
    </tr>
    <tr>
      <td>Niagara</td>
      <td>47,858</td>
      <td></td>
      <td>569</td>
      <td></td>
      <td>N/A</td>
    </tr>
    <tr>
      <td>Saratoga</td>
      <td>46,089</td>
      <td></td>
      <td>326</td>
      <td></td>
      <td>N/A</td>
    </tr>
    <tr>
      <td>Broome</td>
      <td>45,231</td>
      <td></td>
      <td>513</td>
      <td></td>
      <td>N/A</td>
    </tr>
    <tr>
      <td>Ulster</td>
      <td>37,927</td>
      <td></td>
      <td>373</td>
      <td></td>
      <td>192</td>
    </tr>
    <tr>
      <td>Schenectady</td>
      <td>32,923</td>
      <td></td>
      <td>297</td>
      <td></td>
      <td>N/A</td>
    </tr>
    <tr>
      <td>Rensselaer</td>
      <td>31,408</td>
      <td></td>
      <td>248</td>
      <td></td>
      <td>9,702</td>
    </tr>
    <tr>
      <td>St. Lawrence</td>
      <td>28,301</td>
      <td></td>
      <td>183</td>
      <td></td>
      <td>N/A</td>
    </tr>
    <tr>
      <td>Chautauqua</td>
      <td>27,113</td>
      <td></td>
      <td>323</td>
      <td></td>
      <td>365</td>
    </tr>
    <tr>
      <td>Oswego</td>
      <td>26,301</td>
      <td></td>
      <td>184</td>
      <td></td>
      <td>N/A</td>
    </tr>
    <tr>
      <td>Jefferson</td>
      <td>25,196</td>
      <td></td>
      <td>163</td>
      <td></td>
      <td>52</td>
    </tr>
    <tr>
      <td>Steuben</td>
      <td>23,697</td>
      <td></td>
      <td>300</td>
      <td></td>
      <td>N/A</td>
    </tr>
    <tr>
      <td>Putnam</td>
      <td>23,628</td>
      <td></td>
      <td>121</td>
      <td></td>
      <td>N/A</td>
    </tr>
    <tr>
      <td>Chemung</td>
      <td>21,324</td>
      <td></td>
      <td>230</td>
      <td></td>
      <td>N/A</td>
    </tr>
    <tr>
      <td>Ontario</td>
      <td>20,776</td>
      <td></td>
      <td>189</td>
      <td></td>
      <td>N/A</td>
    </tr>
    <tr>
      <td>Sullivan</td>
      <td>19,049</td>
      <td></td>
      <td>136</td>
      <td></td>
      <td>N/A</td>
    </tr>
    <tr>
      <td>Tompkins</td>
      <td>18,967</td>
      <td></td>
      <td>84</td>
      <td></td>
      <td>N/A</td>
    </tr>
    <tr>
      <td>Cattaraugus</td>
      <td>18,168</td>
      <td></td>
      <td>247</td>
      <td></td>
      <td>78</td>
    </tr>
    <tr>
      <td>Wayne</td>
      <td>17,234</td>
      <td></td>
      <td>171</td>
      <td></td>
      <td>N/A</td>
    </tr>
    <tr>
      <td>Clinton</td>
      <td>16,757</td>
      <td></td>
      <td>86</td>
      <td></td>
      <td>N/A</td>
    </tr>
    <tr>
      <td>Cayuga</td>
      <td>16,302</td>
      <td></td>
      <td>147</td>
      <td></td>
      <td>N/A</td>
    </tr>
    <tr>
      <td>Warren</td>
      <td>16,058</td>
      <td></td>
      <td>125</td>
      <td></td>
      <td>N/A</td>
    </tr>
    <tr>
      <td>Herkimer</td>
      <td>13,811</td>
      <td></td>
      <td>190</td>
      <td></td>
      <td>13,621</td>
    </tr>
    <tr>
      <td>Genesee</td>
      <td>13,649</td>
      <td></td>
      <td>184</td>
      <td></td>
      <td>N/A</td>
    </tr>
    <tr>
      <td>Madison</td>
      <td>13,178</td>
      <td></td>
      <td>126</td>
      <td></td>
      <td>973</td>
    </tr>
    <tr>
      <td>Cortland</td>
      <td>13,019</td>
      <td></td>
      <td>116</td>
      <td></td>
      <td>N/A</td>
    </tr>
    <tr>
      <td>Fulton</td>
      <td>12,613</td>
      <td></td>
      <td>169</td>
      <td></td>
      <td>N/A</td>
    </tr>
    <tr>
      <td>Otsego</td>
      <td>12,196</td>
      <td></td>
      <td>111</td>
      <td></td>
      <td>N/A</td>
    </tr>
    <tr>
      <td>Washington</td>
      <td>12,070</td>
      <td></td>
      <td>113</td>
      <td></td>
      <td>N/A</td>
    </tr>
    <tr>
      <td>Montgomery</td>
      <td>11,892</td>
      <td></td>
      <td>203</td>
      <td></td>
      <td>N/A</td>
    </tr>
    <tr>
      <td>Livingston</td>
      <td>11,617</td>
      <td></td>
      <td>115</td>
      <td></td>
      <td>N/A</td>
    </tr>
    <tr>
      <td>Columbia</td>
      <td>11,300</td>
      <td></td>
      <td>141</td>
      <td></td>
      <td>N/A</td>
    </tr>
    <tr>
      <td>Tioga</td>
      <td>10,729</td>
      <td></td>
      <td>82</td>
      <td></td>
      <td>N/A</td>
    </tr>
    <tr>
      <td>Allegany</td>
      <td>10,699</td>
      <td></td>
      <td>154</td>
      <td></td>
      <td>N/A</td>
    </tr>
    <tr>
      <td>Franklin</td>
      <td>9,503</td>
      <td></td>
      <td>44</td>
      <td></td>
      <td>N/A</td>
    </tr>
    <tr>
      <td>Chenango</td>
      <td>9,299</td>
      <td></td>
      <td>119</td>
      <td></td>
      <td>N/A</td>
    </tr>
    <tr>
      <td>Greene</td>
      <td>8,630</td>
      <td></td>
      <td>126</td>
      <td></td>
      <td>N/A</td>
    </tr>
    <tr>
      <td>Orleans</td>
      <td>8,606</td>
      <td></td>
      <td>113</td>
      <td></td>
      <td>N/A</td>
    </tr>
    <tr>
      <td>Wyoming</td>
      <td>8,269</td>
      <td></td>
      <td>82</td>
      <td></td>
      <td>N/A</td>
    </tr>
    <tr>
      <td>Delaware</td>
      <td>7,769</td>
      <td></td>
      <td>85</td>
      <td></td>
      <td>2,452</td>
    </tr>
    <tr>
      <td>Seneca</td>
      <td>7,381</td>
      <td></td>
      <td>104</td>
      <td></td>
      <td>73</td>
    </tr>
    <tr>
      <td>Lewis</td>
      <td>6,747</td>
      <td></td>
      <td>51</td>
      <td></td>
      <td>N/A</td>
    </tr>
    <tr>
      <td>Essex</td>
      <td>5,691</td>
      <td></td>
      <td>58</td>
      <td></td>
      <td>N/A</td>
    </tr>
    <tr>
      <td>Schoharie</td>
      <td>5,004</td>
      <td></td>
      <td>35</td>
      <td></td>
      <td>N/A</td>
    </tr>
    <tr>
      <td>Yates</td>
      <td>4,306</td>
      <td></td>
      <td>39</td>
      <td></td>
      <td>N/A</td>
    </tr>
    <tr>
      <td>Schuyler</td>
      <td>3,475</td>
      <td></td>
      <td>25</td>
      <td></td>
      <td>N/A</td>
    </tr>
    <tr>
      <td>Hamilton</td>
      <td>872</td>
      <td></td>
      <td>5</td>
      <td></td>
      <td>N/A</td>
    </tr>
  </tbody>
</table>