<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: center;">
      <th style="min-width: 62px;">Date</th>
      <th style="min-width: 62px;">Patients Currently</th>
      <th style="min-width: 62px;">Patients Admitted</th>
      <th style="min-width: 62px;">Patients In ICU</th>
      <th style="min-width: 62px;">Patients Expired</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>May 25</td>
      <td>20</td>
      <td>3</td>
      <td>1</td>
      <td>0</td>
    </tr>
    <tr>
      <td>May 26</td>
      <td>20</td>
      <td>3</td>
      <td>2</td>
      <td>0</td>
    </tr>
    <tr>
      <td>May 27</td>
      <td>19</td>
      <td>3</td>
      <td>2</td>
      <td>2</td>
    </tr>
    <tr>
      <td>May 31</td>
      <td>12</td>
      <td>8</td>
      <td>1</td>
      <td>0</td>
    </tr>
    <tr>
      <td>Jun 1</td>
      <td>13</td>
      <td>3</td>
      <td>1</td>
      <td>0</td>
    </tr>
    <tr>
      <td>Jun 2</td>
      <td>15</td>
      <td>2</td>
      <td>1</td>
      <td>0</td>
    </tr>
    <tr>
      <td>Jun 3</td>
      <td>16</td>
      <td>3</td>
      <td>2</td>
      <td>0</td>
    </tr>
  </tbody>
</table>