<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: center;">
      <th style="min-width: 70px;">Date</th>
      <th style="min-width: 70px;">Patients Currently</th>
      <th style="min-width: 70px;">Patients Admitted</th>
      <th style="min-width: 70px;">Patients In ICU</th>
      <th style="min-width: 70px;">Patients Expired</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Feb 4</td>
      <td>23</td>
      <td>1</td>
      <td>6</td>
      <td>1</td>
    </tr>
    <tr>
      <td>Feb 3</td>
      <td>27</td>
      <td>2</td>
      <td>7</td>
      <td>3</td>
    </tr>
    <tr>
      <td>Feb 2</td>
      <td>32</td>
      <td>3</td>
      <td>7</td>
      <td>1</td>
    </tr>
    <tr>
      <td>Feb 1</td>
      <td>35</td>
      <td>2</td>
      <td>9</td>
      <td>2</td>
    </tr>
    <tr>
      <td>Jan 31</td>
      <td>40</td>
      <td>4</td>
      <td>10</td>
      <td>2</td>
    </tr>
  </tbody>
</table>