<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: center;">
      <th style="min-width: 62px;">Date</th>
      <th style="min-width: 62px;">Patients Currently</th>
      <th style="min-width: 62px;">Patients Admitted</th>
      <th style="min-width: 62px;">Patients In ICU</th>
      <th style="min-width: 62px;">Patients Expired</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>May 14</td>
      <td>27</td>
      <td>3</td>
      <td>2</td>
      <td>1</td>
    </tr>
    <tr>
      <td>May 15</td>
      <td>29</td>
      <td>5</td>
      <td>2</td>
      <td>0</td>
    </tr>
    <tr>
      <td>May 16</td>
      <td>29</td>
      <td>3</td>
      <td>1</td>
      <td>0</td>
    </tr>
    <tr>
      <td>May 17</td>
      <td>28</td>
      <td>4</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <td>May 18</td>
      <td>24</td>
      <td>3</td>
      <td>1</td>
      <td>0</td>
    </tr>
    <tr>
      <td>May 19</td>
      <td>19</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
    </tr>
    <tr>
      <td>May 20</td>
      <td>20</td>
      <td>6</td>
      <td>2</td>
      <td>0</td>
    </tr>
  </tbody>
</table>