<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: center;">
      <th style="min-width: 115px;">Date</th>
      <th style="min-width: 115px;">State</th>
      <th style="min-width: 115px;">Total Cases</th>
      <th style="min-width: 115px;">New Cases</th>
      <th style="min-width: 115px;">Total Deaths</th>
      <th style="min-width: 115px;">New Deaths</th>
      <th style="min-width: 115px;">Fatality Rate</th>
      <th style="min-width: 115px;">% Infected</th>
      <th style="min-width: 115px;">% US Cases</th>
      <th style="min-width: 115px;">Population</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2/5/2022</td>
      <td>USA Total</td>
      <td>77,550,053</td>
      <td>+53,193</td>
      <td>925,257</td>
      <td>+727</td>
      <td>1.2%</td>
      <td>23.2%</td>
      <td></td>
      <td>334,093,583</td>
    </tr>
    <tr>
      <td>2/5/2022</td>
      <td>California</td>
      <td>8,259,554</td>
      <td></td>
      <td>81,265</td>
      <td></td>
      <td>1.0%</td>
      <td>20.9%</td>
      <td>10.7%</td>
      <td>39,512,223</td>
    </tr>
    <tr>
      <td>2/5/2022</td>
      <td>Texas</td>
      <td>6,413,368</td>
      <td>+17,141</td>
      <td>80,990</td>
      <td>+185</td>
      <td>1.3%</td>
      <td>22.1%</td>
      <td>8.3%</td>
      <td>28,995,881</td>
    </tr>
    <tr>
      <td>2/5/2022</td>
      <td>Florida</td>
      <td>5,658,664</td>
      <td></td>
      <td>66,001</td>
      <td></td>
      <td>1.2%</td>
      <td>26.3%</td>
      <td>7.3%</td>
      <td>21,477,737</td>
    </tr>
    <tr>
      <td>2/5/2022</td>
      <td>New York</td>
      <td>4,982,929</td>
      <td></td>
      <td>66,009</td>
      <td></td>
      <td>1.3%</td>
      <td>25.6%</td>
      <td>6.4%</td>
      <td>19,453,561</td>
    </tr>
    <tr>
      <td>2/5/2022</td>
      <td>Illinois</td>
      <td>2,957,563</td>
      <td></td>
      <td>35,157</td>
      <td></td>
      <td>1.2%</td>
      <td>23.3%</td>
      <td>3.8%</td>
      <td>12,671,821</td>
    </tr>
    <tr>
      <td>2/5/2022</td>
      <td>Pennsylvania</td>
      <td>2,697,242</td>
      <td>+8,434</td>
      <td>41,524</td>
      <td>+165</td>
      <td>1.5%</td>
      <td>21.1%</td>
      <td>3.5%</td>
      <td>12,801,989</td>
    </tr>
    <tr>
      <td>2/5/2022</td>
      <td>Ohio</td>
      <td>2,608,055</td>
      <td>+2,810</td>
      <td>34,217</td>
      <td></td>
      <td>1.3%</td>
      <td>22.3%</td>
      <td>3.4%</td>
      <td>11,689,100</td>
    </tr>
    <tr>
      <td>2/5/2022</td>
      <td>North Carolina</td>
      <td>2,470,242</td>
      <td></td>
      <td>21,097</td>
      <td></td>
      <td>0.9%</td>
      <td>23.6%</td>
      <td>3.2%</td>
      <td>10,488,084</td>
    </tr>
    <tr>
      <td>2/5/2022</td>
      <td>Georgia</td>
      <td>2,403,125</td>
      <td></td>
      <td>33,402</td>
      <td></td>
      <td>1.4%</td>
      <td>22.6%</td>
      <td>3.1%</td>
      <td>10,617,423</td>
    </tr>
    <tr>
      <td>2/5/2022</td>
      <td>Michigan</td>
      <td>2,295,050</td>
      <td></td>
      <td>32,873</td>
      <td></td>
      <td>1.4%</td>
      <td>23.0%</td>
      <td>3.0%</td>
      <td>9,986,857</td>
    </tr>
    <tr>
      <td>2/5/2022</td>
      <td>New Jersey</td>
      <td>2,129,191</td>
      <td>+2,961</td>
      <td>31,948</td>
      <td>+80</td>
      <td>1.5%</td>
      <td>24.0%</td>
      <td>2.7%</td>
      <td>8,882,190</td>
    </tr>
    <tr>
      <td>2/5/2022</td>
      <td>Arizona</td>
      <td>1,911,655</td>
      <td>+8,243</td>
      <td>26,628</td>
      <td>+98</td>
      <td>1.4%</td>
      <td>26.3%</td>
      <td>2.5%</td>
      <td>7,278,717</td>
    </tr>
    <tr>
      <td>2/5/2022</td>
      <td>Tennessee</td>
      <td>1,905,280</td>
      <td></td>
      <td>22,920</td>
      <td></td>
      <td>1.2%</td>
      <td>27.9%</td>
      <td>2.5%</td>
      <td>6,829,174</td>
    </tr>
    <tr>
      <td>2/5/2022</td>
      <td>Indiana</td>
      <td>1,646,937</td>
      <td></td>
      <td>21,712</td>
      <td></td>
      <td>1.3%</td>
      <td>24.5%</td>
      <td>2.1%</td>
      <td>6,732,219</td>
    </tr>
    <tr>
      <td>2/5/2022</td>
      <td>Massachusetts</td>
      <td>1,630,462</td>
      <td></td>
      <td>22,379</td>
      <td></td>
      <td>1.4%</td>
      <td>23.7%</td>
      <td>2.1%</td>
      <td>6,892,503</td>
    </tr>
    <tr>
      <td>2/5/2022</td>
      <td>Virginia</td>
      <td>1,572,022</td>
      <td></td>
      <td>16,703</td>
      <td></td>
      <td>1.1%</td>
      <td>18.4%</td>
      <td>2.0%</td>
      <td>8,535,519</td>
    </tr>
    <tr>
      <td>2/5/2022</td>
      <td>Wisconsin</td>
      <td>1,535,404</td>
      <td></td>
      <td>12,600</td>
      <td></td>
      <td>0.8%</td>
      <td>26.4%</td>
      <td>2.0%</td>
      <td>5,822,434</td>
    </tr>
    <tr>
      <td>2/5/2022</td>
      <td>South Carolina</td>
      <td>1,406,933</td>
      <td></td>
      <td>15,791</td>
      <td></td>
      <td>1.1%</td>
      <td>27.3%</td>
      <td>1.8%</td>
      <td>5,148,714</td>
    </tr>
    <tr>
      <td>2/5/2022</td>
      <td>Washington</td>
      <td>1,367,769</td>
      <td></td>
      <td>11,030</td>
      <td></td>
      <td>0.8%</td>
      <td>18.0%</td>
      <td>1.8%</td>
      <td>7,614,893</td>
    </tr>
    <tr>
      <td>2/5/2022</td>
      <td>Missouri</td>
      <td>1,351,751</td>
      <td></td>
      <td>17,586</td>
      <td></td>
      <td>1.3%</td>
      <td>22.0%</td>
      <td>1.7%</td>
      <td>6,137,428</td>
    </tr>
    <tr>
      <td>2/5/2022</td>
      <td>Minnesota</td>
      <td>1,306,305</td>
      <td></td>
      <td>11,749</td>
      <td></td>
      <td>0.9%</td>
      <td>23.2%</td>
      <td>1.7%</td>
      <td>5,639,632</td>
    </tr>
    <tr>
      <td>2/5/2022</td>
      <td>Colorado</td>
      <td>1,270,138</td>
      <td></td>
      <td>11,718</td>
      <td></td>
      <td>0.9%</td>
      <td>22.1%</td>
      <td>1.6%</td>
      <td>5,758,736</td>
    </tr>
    <tr>
      <td>2/5/2022</td>
      <td>Alabama</td>
      <td>1,242,420</td>
      <td>+1,924</td>
      <td>17,371</td>
      <td></td>
      <td>1.4%</td>
      <td>25.3%</td>
      <td>1.6%</td>
      <td>4,903,185</td>
    </tr>
    <tr>
      <td>2/5/2022</td>
      <td>Kentucky</td>
      <td>1,193,783</td>
      <td></td>
      <td>13,063</td>
      <td></td>
      <td>1.1%</td>
      <td>26.7%</td>
      <td>1.5%</td>
      <td>4,467,673</td>
    </tr>
    <tr>
      <td>2/5/2022</td>
      <td>Louisiana</td>
      <td>1,192,375</td>
      <td></td>
      <td>15,905</td>
      <td></td>
      <td>1.3%</td>
      <td>25.6%</td>
      <td>1.5%</td>
      <td>4,648,794</td>
    </tr>
    <tr>
      <td>2/5/2022</td>
      <td>Oklahoma</td>
      <td>992,932</td>
      <td></td>
      <td>12,193</td>
      <td></td>
      <td>1.2%</td>
      <td>25.1%</td>
      <td>1.3%</td>
      <td>3,956,971</td>
    </tr>
    <tr>
      <td>2/5/2022</td>
      <td>Maryland</td>
      <td>963,432</td>
      <td>+1,627</td>
      <td>13,691</td>
      <td>+36</td>
      <td>1.4%</td>
      <td>15.9%</td>
      <td>1.2%</td>
      <td>6,045,680</td>
    </tr>
    <tr>
      <td>2/5/2022</td>
      <td>Utah</td>
      <td>898,267</td>
      <td></td>
      <td>4,173</td>
      <td></td>
      <td>0.5%</td>
      <td>28.0%</td>
      <td>1.2%</td>
      <td>3,205,958</td>
    </tr>
    <tr>
      <td>2/5/2022</td>
      <td>Iowa</td>
      <td>799,304</td>
      <td></td>
      <td>8,657</td>
      <td></td>
      <td>1.1%</td>
      <td>25.3%</td>
      <td>1.0%</td>
      <td>3,155,070</td>
    </tr>
    <tr>
      <td>2/5/2022</td>
      <td>Arkansas</td>
      <td>791,730</td>
      <td></td>
      <td>9,762</td>
      <td></td>
      <td>1.2%</td>
      <td>26.2%</td>
      <td>1.0%</td>
      <td>3,017,804</td>
    </tr>
    <tr>
      <td>2/5/2022</td>
      <td>Mississippi</td>
      <td>751,862</td>
      <td></td>
      <td>11,250</td>
      <td></td>
      <td>1.5%</td>
      <td>25.3%</td>
      <td>1.0%</td>
      <td>2,976,149</td>
    </tr>
    <tr>
      <td>2/5/2022</td>
      <td>Kansas</td>
      <td>744,493</td>
      <td></td>
      <td>7,716</td>
      <td></td>
      <td>1.0%</td>
      <td>25.6%</td>
      <td>1.0%</td>
      <td>2,913,314</td>
    </tr>
    <tr>
      <td>2/5/2022</td>
      <td>Connecticut</td>
      <td>706,140</td>
      <td></td>
      <td>10,083</td>
      <td></td>
      <td>1.4%</td>
      <td>19.8%</td>
      <td>0.9%</td>
      <td>3,565,287</td>
    </tr>
    <tr>
      <td>2/5/2022</td>
      <td>Nevada</td>
      <td>665,211</td>
      <td></td>
      <td>9,144</td>
      <td></td>
      <td>1.4%</td>
      <td>21.6%</td>
      <td>0.9%</td>
      <td>3,080,156</td>
    </tr>
    <tr>
      <td>2/5/2022</td>
      <td>Oregon</td>
      <td>654,343</td>
      <td></td>
      <td>6,214</td>
      <td></td>
      <td>0.9%</td>
      <td>15.5%</td>
      <td>0.8%</td>
      <td>4,217,737</td>
    </tr>
    <tr>
      <td>2/5/2022</td>
      <td>New Mexico</td>
      <td>489,701</td>
      <td></td>
      <td>6,535</td>
      <td></td>
      <td>1.3%</td>
      <td>23.4%</td>
      <td>0.6%</td>
      <td>2,096,829</td>
    </tr>
    <tr>
      <td>2/5/2022</td>
      <td>West Virginia</td>
      <td>461,846</td>
      <td>+3,734</td>
      <td>5,846</td>
      <td></td>
      <td>1.3%</td>
      <td>25.8%</td>
      <td>0.6%</td>
      <td>1,792,147</td>
    </tr>
    <tr>
      <td>2/5/2022</td>
      <td>Nebraska</td>
      <td>445,793</td>
      <td></td>
      <td>3,755</td>
      <td></td>
      <td>0.8%</td>
      <td>23.0%</td>
      <td>0.6%</td>
      <td>1,934,408</td>
    </tr>
    <tr>
      <td>2/5/2022</td>
      <td>Idaho</td>
      <td>389,715</td>
      <td></td>
      <td>4,478</td>
      <td></td>
      <td>1.1%</td>
      <td>21.8%</td>
      <td>0.5%</td>
      <td>1,787,065</td>
    </tr>
    <tr>
      <td>2/5/2022</td>
      <td>Rhode Island</td>
      <td>347,901</td>
      <td></td>
      <td>3,354</td>
      <td></td>
      <td>1.0%</td>
      <td>32.8%</td>
      <td>0.4%</td>
      <td>1,059,361</td>
    </tr>
    <tr>
      <td>2/5/2022</td>
      <td>New Hampshire</td>
      <td>281,300</td>
      <td></td>
      <td>2,246</td>
      <td></td>
      <td>0.8%</td>
      <td>20.7%</td>
      <td>0.4%</td>
      <td>1,359,711</td>
    </tr>
    <tr>
      <td>2/5/2022</td>
      <td>Delaware</td>
      <td>250,756</td>
      <td>+445</td>
      <td>2,576</td>
      <td>+13</td>
      <td>1.0%</td>
      <td>25.8%</td>
      <td>0.3%</td>
      <td>973,764</td>
    </tr>
    <tr>
      <td>2/5/2022</td>
      <td>Montana</td>
      <td>250,029</td>
      <td></td>
      <td>3,031</td>
      <td></td>
      <td>1.2%</td>
      <td>23.4%</td>
      <td>0.3%</td>
      <td>1,068,778</td>
    </tr>
    <tr>
      <td>2/5/2022</td>
      <td>South Dakota</td>
      <td>230,240</td>
      <td></td>
      <td>2,687</td>
      <td></td>
      <td>1.2%</td>
      <td>26.0%</td>
      <td>0.3%</td>
      <td>884,659</td>
    </tr>
    <tr>
      <td>2/5/2022</td>
      <td>North Dakota</td>
      <td>230,163</td>
      <td>+892</td>
      <td>2,130</td>
      <td>+3</td>
      <td>0.9%</td>
      <td>30.2%</td>
      <td>0.3%</td>
      <td>762,062</td>
    </tr>
    <tr>
      <td>2/5/2022</td>
      <td>Hawaii</td>
      <td>225,535</td>
      <td>+1,278</td>
      <td>1,222</td>
      <td>+18</td>
      <td>0.5%</td>
      <td>15.9%</td>
      <td>0.3%</td>
      <td>1,415,872</td>
    </tr>
    <tr>
      <td>2/5/2022</td>
      <td>Alaska</td>
      <td>217,366</td>
      <td></td>
      <td>1,060</td>
      <td></td>
      <td>0.5%</td>
      <td>29.7%</td>
      <td>0.3%</td>
      <td>731,545</td>
    </tr>
    <tr>
      <td>2/5/2022</td>
      <td>Maine</td>
      <td>181,010</td>
      <td>+1,095</td>
      <td>1,804</td>
      <td>+4</td>
      <td>1.0%</td>
      <td>13.5%</td>
      <td>0.2%</td>
      <td>1,344,212</td>
    </tr>
    <tr>
      <td>2/5/2022</td>
      <td>Wyoming</td>
      <td>149,842</td>
      <td></td>
      <td>1,650</td>
      <td></td>
      <td>1.1%</td>
      <td>25.9%</td>
      <td>0.2%</td>
      <td>578,759</td>
    </tr>
    <tr>
      <td>2/5/2022</td>
      <td>District Of Columbia</td>
      <td>131,543</td>
      <td></td>
      <td>1,293</td>
      <td></td>
      <td>1.0%</td>
      <td>18.6%</td>
      <td>0.2%</td>
      <td>705,749</td>
    </tr>
    <tr>
      <td>2/5/2022</td>
      <td>Vermont</td>
      <td>106,690</td>
      <td></td>
      <td>553</td>
      <td></td>
      <td>0.5%</td>
      <td>17.1%</td>
      <td>0.1%</td>
      <td>623,989</td>
    </tr>
  </tbody>
</table>