<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: center;">
      <th style="min-width: 115px;">State</th>
      <th style="min-width: 115px;">Total Cases</th>
      <th style="min-width: 115px;">New Cases</th>
      <th style="min-width: 115px;">Total Deaths</th>
      <th style="min-width: 115px;">New Deaths</th>
      <th style="min-width: 115px;">Fatality Rate</th>
      <th style="min-width: 115px;">% Infected</th>
      <th style="min-width: 115px;">% US Cases</th>
      <th style="min-width: 115px;">Population</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>USA Total</td>
      <td>102,203,321</td>
      <td></td>
      <td>1,115,913</td>
      <td></td>
      <td>1.1%</td>
      <td>30.6%</td>
      <td>100.0%</td>
      <td>334,141,223</td>
    </tr>
    <tr>
      <td>California</td>
      <td>11,657,845</td>
      <td></td>
      <td>98,185</td>
      <td></td>
      <td>0.8%</td>
      <td>29.5%</td>
      <td>11.4%</td>
      <td>39,512,223</td>
    </tr>
    <tr>
      <td>Texas</td>
      <td>8,161,111</td>
      <td></td>
      <td>92,220</td>
      <td></td>
      <td>1.1%</td>
      <td>28.1%</td>
      <td>8.0%</td>
      <td>28,995,881</td>
    </tr>
    <tr>
      <td>Florida</td>
      <td>7,312,663</td>
      <td></td>
      <td>83,606</td>
      <td></td>
      <td>1.1%</td>
      <td>34.0%</td>
      <td>7.2%</td>
      <td>21,477,737</td>
    </tr>
    <tr>
      <td>New York</td>
      <td>6,704,695</td>
      <td></td>
      <td>75,055</td>
      <td></td>
      <td>1.1%</td>
      <td>34.5%</td>
      <td>6.6%</td>
      <td>19,453,561</td>
    </tr>
    <tr>
      <td>Illinois</td>
      <td>3,953,928</td>
      <td></td>
      <td>40,610</td>
      <td></td>
      <td>1.0%</td>
      <td>31.2%</td>
      <td>3.9%</td>
      <td>12,671,821</td>
    </tr>
    <tr>
      <td>Pennsylvania</td>
      <td>3,403,177</td>
      <td></td>
      <td>48,798</td>
      <td></td>
      <td>1.4%</td>
      <td>26.6%</td>
      <td>3.3%</td>
      <td>12,801,989</td>
    </tr>
    <tr>
      <td>North Carolina</td>
      <td>3,316,814</td>
      <td></td>
      <td>27,629</td>
      <td></td>
      <td>0.8%</td>
      <td>31.6%</td>
      <td>3.2%</td>
      <td>10,488,084</td>
    </tr>
    <tr>
      <td>Ohio</td>
      <td>3,294,521</td>
      <td></td>
      <td>40,840</td>
      <td></td>
      <td>1.2%</td>
      <td>28.2%</td>
      <td>3.2%</td>
      <td>11,689,100</td>
    </tr>
    <tr>
      <td>Michigan</td>
      <td>2,977,727</td>
      <td></td>
      <td>40,657</td>
      <td></td>
      <td>1.4%</td>
      <td>29.8%</td>
      <td>2.9%</td>
      <td>9,986,857</td>
    </tr>
    <tr>
      <td>Georgia</td>
      <td>2,974,619</td>
      <td></td>
      <td>41,361</td>
      <td></td>
      <td>1.4%</td>
      <td>28.0%</td>
      <td>2.9%</td>
      <td>10,617,423</td>
    </tr>
    <tr>
      <td>New Jersey</td>
      <td>2,908,732</td>
      <td></td>
      <td>35,425</td>
      <td></td>
      <td>1.2%</td>
      <td>32.7%</td>
      <td>2.8%</td>
      <td>8,882,190</td>
    </tr>
    <tr>
      <td>Tennessee</td>
      <td>2,399,246</td>
      <td></td>
      <td>28,406</td>
      <td></td>
      <td>1.2%</td>
      <td>35.1%</td>
      <td>2.3%</td>
      <td>6,829,174</td>
    </tr>
    <tr>
      <td>Arizona</td>
      <td>2,373,361</td>
      <td></td>
      <td>32,038</td>
      <td></td>
      <td>1.3%</td>
      <td>32.6%</td>
      <td>2.3%</td>
      <td>7,278,717</td>
    </tr>
    <tr>
      <td>Virginia</td>
      <td>2,190,699</td>
      <td></td>
      <td>22,649</td>
      <td></td>
      <td>1.0%</td>
      <td>25.7%</td>
      <td>2.1%</td>
      <td>8,535,519</td>
    </tr>
    <tr>
      <td>Massachusetts</td>
      <td>2,144,967</td>
      <td></td>
      <td>22,793</td>
      <td></td>
      <td>1.1%</td>
      <td>31.1%</td>
      <td>2.1%</td>
      <td>6,892,503</td>
    </tr>
    <tr>
      <td>Indiana</td>
      <td>1,996,253</td>
      <td></td>
      <td>25,390</td>
      <td></td>
      <td>1.3%</td>
      <td>29.7%</td>
      <td>2.0%</td>
      <td>6,732,219</td>
    </tr>
    <tr>
      <td>Wisconsin</td>
      <td>1,954,475</td>
      <td></td>
      <td>15,767</td>
      <td></td>
      <td>0.8%</td>
      <td>33.6%</td>
      <td>1.9%</td>
      <td>5,822,434</td>
    </tr>
    <tr>
      <td>Washington</td>
      <td>1,879,139</td>
      <td></td>
      <td>14,991</td>
      <td></td>
      <td>0.8%</td>
      <td>24.7%</td>
      <td>1.8%</td>
      <td>7,614,893</td>
    </tr>
    <tr>
      <td>South Carolina</td>
      <td>1,760,204</td>
      <td></td>
      <td>18,811</td>
      <td></td>
      <td>1.1%</td>
      <td>34.2%</td>
      <td>1.7%</td>
      <td>5,148,714</td>
    </tr>
    <tr>
      <td>Minnesota</td>
      <td>1,731,172</td>
      <td></td>
      <td>14,273</td>
      <td></td>
      <td>0.8%</td>
      <td>30.7%</td>
      <td>1.7%</td>
      <td>5,639,632</td>
    </tr>
    <tr>
      <td>Colorado</td>
      <td>1,725,972</td>
      <td></td>
      <td>14,500</td>
      <td></td>
      <td>0.8%</td>
      <td>30.0%</td>
      <td>1.7%</td>
      <td>5,758,736</td>
    </tr>
    <tr>
      <td>Missouri</td>
      <td>1,724,955</td>
      <td></td>
      <td>22,208</td>
      <td></td>
      <td>1.3%</td>
      <td>28.1%</td>
      <td>1.7%</td>
      <td>6,137,428</td>
    </tr>
    <tr>
      <td>Kentucky</td>
      <td>1,653,425</td>
      <td></td>
      <td>17,625</td>
      <td></td>
      <td>1.1%</td>
      <td>37.0%</td>
      <td>1.6%</td>
      <td>4,467,673</td>
    </tr>
    <tr>
      <td>Alabama</td>
      <td>1,568,934</td>
      <td></td>
      <td>20,737</td>
      <td></td>
      <td>1.3%</td>
      <td>32.0%</td>
      <td>1.5%</td>
      <td>4,903,185</td>
    </tr>
    <tr>
      <td>Louisiana</td>
      <td>1,507,707</td>
      <td></td>
      <td>18,345</td>
      <td></td>
      <td>1.2%</td>
      <td>32.4%</td>
      <td>1.5%</td>
      <td>4,648,794</td>
    </tr>
    <tr>
      <td>Maryland</td>
      <td>1,311,398</td>
      <td></td>
      <td>15,905</td>
      <td></td>
      <td>1.2%</td>
      <td>21.7%</td>
      <td>1.3%</td>
      <td>6,045,680</td>
    </tr>
    <tr>
      <td>Oklahoma</td>
      <td>1,244,121</td>
      <td></td>
      <td>15,374</td>
      <td></td>
      <td>1.2%</td>
      <td>31.4%</td>
      <td>1.2%</td>
      <td>3,956,971</td>
    </tr>
    <tr>
      <td>Utah</td>
      <td>1,072,581</td>
      <td></td>
      <td>5,177</td>
      <td></td>
      <td>0.5%</td>
      <td>33.5%</td>
      <td>1.0%</td>
      <td>3,205,958</td>
    </tr>
    <tr>
      <td>Iowa</td>
      <td>1,021,743</td>
      <td></td>
      <td>10,387</td>
      <td></td>
      <td>1.0%</td>
      <td>32.4%</td>
      <td>1.0%</td>
      <td>3,155,070</td>
    </tr>
    <tr>
      <td>Arkansas</td>
      <td>981,276</td>
      <td></td>
      <td>12,682</td>
      <td></td>
      <td>1.3%</td>
      <td>32.5%</td>
      <td>1.0%</td>
      <td>3,017,804</td>
    </tr>
    <tr>
      <td>Mississippi</td>
      <td>951,070</td>
      <td></td>
      <td>13,083</td>
      <td></td>
      <td>1.4%</td>
      <td>32.0%</td>
      <td>0.9%</td>
      <td>2,976,149</td>
    </tr>
    <tr>
      <td>Connecticut</td>
      <td>943,284</td>
      <td></td>
      <td>11,733</td>
      <td></td>
      <td>1.2%</td>
      <td>26.5%</td>
      <td>0.9%</td>
      <td>3,565,287</td>
    </tr>
    <tr>
      <td>Oregon</td>
      <td>936,721</td>
      <td></td>
      <td>8,948</td>
      <td></td>
      <td>1.0%</td>
      <td>22.2%</td>
      <td>0.9%</td>
      <td>4,217,737</td>
    </tr>
    <tr>
      <td>Kansas</td>
      <td>914,047</td>
      <td></td>
      <td>9,709</td>
      <td></td>
      <td>1.1%</td>
      <td>31.4%</td>
      <td>0.9%</td>
      <td>2,913,314</td>
    </tr>
    <tr>
      <td>Nevada</td>
      <td>874,117</td>
      <td></td>
      <td>11,705</td>
      <td></td>
      <td>1.3%</td>
      <td>28.4%</td>
      <td>0.9%</td>
      <td>3,080,156</td>
    </tr>
    <tr>
      <td>New Mexico</td>
      <td>657,140</td>
      <td></td>
      <td>8,788</td>
      <td></td>
      <td>1.3%</td>
      <td>31.3%</td>
      <td>0.6%</td>
      <td>2,096,829</td>
    </tr>
    <tr>
      <td>West Virginia</td>
      <td>621,614</td>
      <td></td>
      <td>7,661</td>
      <td></td>
      <td>1.2%</td>
      <td>34.7%</td>
      <td>0.6%</td>
      <td>1,792,147</td>
    </tr>
    <tr>
      <td>Nebraska</td>
      <td>553,378</td>
      <td></td>
      <td>4,684</td>
      <td></td>
      <td>0.8%</td>
      <td>28.6%</td>
      <td>0.5%</td>
      <td>1,934,408</td>
    </tr>
    <tr>
      <td>Idaho</td>
      <td>510,535</td>
      <td></td>
      <td>5,303</td>
      <td></td>
      <td>1.0%</td>
      <td>28.6%</td>
      <td>0.5%</td>
      <td>1,787,065</td>
    </tr>
    <tr>
      <td>Rhode Island</td>
      <td>441,692</td>
      <td></td>
      <td>3,777</td>
      <td></td>
      <td>0.9%</td>
      <td>41.7%</td>
      <td>0.4%</td>
      <td>1,059,361</td>
    </tr>
    <tr>
      <td>Hawaii</td>
      <td>371,103</td>
      <td></td>
      <td>1,758</td>
      <td></td>
      <td>0.5%</td>
      <td>26.2%</td>
      <td>0.4%</td>
      <td>1,415,872</td>
    </tr>
    <tr>
      <td>New Hampshire</td>
      <td>366,166</td>
      <td></td>
      <td>2,851</td>
      <td></td>
      <td>0.8%</td>
      <td>26.9%</td>
      <td>0.4%</td>
      <td>1,359,711</td>
    </tr>
    <tr>
      <td>Montana</td>
      <td>322,270</td>
      <td></td>
      <td>3,617</td>
      <td></td>
      <td>1.1%</td>
      <td>30.2%</td>
      <td>0.3%</td>
      <td>1,068,778</td>
    </tr>
    <tr>
      <td>Delaware</td>
      <td>320,581</td>
      <td></td>
      <td>3,205</td>
      <td></td>
      <td>1.0%</td>
      <td>32.9%</td>
      <td>0.3%</td>
      <td>973,764</td>
    </tr>
    <tr>
      <td>Maine</td>
      <td>305,446</td>
      <td></td>
      <td>2,779</td>
      <td></td>
      <td>0.9%</td>
      <td>22.7%</td>
      <td>0.3%</td>
      <td>1,344,212</td>
    </tr>
    <tr>
      <td>Alaska</td>
      <td>288,500</td>
      <td></td>
      <td>1,397</td>
      <td></td>
      <td>0.5%</td>
      <td>39.4%</td>
      <td>0.3%</td>
      <td>731,545</td>
    </tr>
    <tr>
      <td>North Dakota</td>
      <td>279,330</td>
      <td></td>
      <td>2,414</td>
      <td></td>
      <td>0.9%</td>
      <td>36.7%</td>
      <td>0.3%</td>
      <td>762,062</td>
    </tr>
    <tr>
      <td>South Dakota</td>
      <td>271,433</td>
      <td></td>
      <td>3,116</td>
      <td></td>
      <td>1.1%</td>
      <td>30.7%</td>
      <td>0.3%</td>
      <td>884,659</td>
    </tr>
    <tr>
      <td>Wyoming</td>
      <td>182,198</td>
      <td></td>
      <td>1,950</td>
      <td></td>
      <td>1.1%</td>
      <td>31.5%</td>
      <td>0.2%</td>
      <td>578,759</td>
    </tr>
    <tr>
      <td>District Of Columbia</td>
      <td>173,386</td>
      <td></td>
      <td>1,411</td>
      <td></td>
      <td>0.8%</td>
      <td>24.6%</td>
      <td>0.2%</td>
      <td>705,749</td>
    </tr>
    <tr>
      <td>Vermont</td>
      <td>147,657</td>
      <td></td>
      <td>781</td>
      <td></td>
      <td>0.5%</td>
      <td>23.7%</td>
      <td>0.1%</td>
      <td>623,989</td>
    </tr>
  </tbody>
</table>