<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: center;">
      <th style="min-width: 115px;">State</th>
      <th style="min-width: 115px;">Total Cases</th>
      <th style="min-width: 115px;">New Cases</th>
      <th style="min-width: 115px;">Total Deaths</th>
      <th style="min-width: 115px;">New Deaths</th>
      <th style="min-width: 115px;">Fatality Rate</th>
      <th style="min-width: 115px;">% Infected</th>
      <th style="min-width: 115px;">% US Cases</th>
      <th style="min-width: 115px;">Population</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>USA Total</td>
      <td>105,777,422</td>
      <td>+3,545</td>
      <td>1,150,622</td>
      <td>+28</td>
      <td>1.1%</td>
      <td>31.7%</td>
      <td>100.0%</td>
      <td>334,141,223</td>
    </tr>
    <tr>
      <td>California</td>
      <td>12,101,518</td>
      <td>+950</td>
      <td>101,358</td>
      <td>+15</td>
      <td>0.8%</td>
      <td>30.6%</td>
      <td>11.4%</td>
      <td>39,512,223</td>
    </tr>
    <tr>
      <td>Texas</td>
      <td>8,431,095</td>
      <td>+747</td>
      <td>93,857</td>
      <td>+4</td>
      <td>1.1%</td>
      <td>29.1%</td>
      <td>8.0%</td>
      <td>28,995,881</td>
    </tr>
    <tr>
      <td>Florida</td>
      <td>7,528,420</td>
      <td></td>
      <td>86,460</td>
      <td></td>
      <td>1.1%</td>
      <td>35.1%</td>
      <td>7.1%</td>
      <td>21,477,737</td>
    </tr>
    <tr>
      <td>New York</td>
      <td>6,974,938</td>
      <td>+1,011</td>
      <td>77,232</td>
      <td>+1</td>
      <td>1.1%</td>
      <td>35.9%</td>
      <td>6.6%</td>
      <td>19,453,561</td>
    </tr>
    <tr>
      <td>Illinois</td>
      <td>4,083,292</td>
      <td></td>
      <td>41,496</td>
      <td></td>
      <td>1.0%</td>
      <td>32.2%</td>
      <td>3.9%</td>
      <td>12,671,821</td>
    </tr>
    <tr>
      <td>Pennsylvania</td>
      <td>3,533,937</td>
      <td></td>
      <td>50,517</td>
      <td></td>
      <td>1.4%</td>
      <td>27.6%</td>
      <td>3.3%</td>
      <td>12,801,989</td>
    </tr>
    <tr>
      <td>North Carolina</td>
      <td>3,477,321</td>
      <td></td>
      <td>28,475</td>
      <td></td>
      <td>0.8%</td>
      <td>33.2%</td>
      <td>3.3%</td>
      <td>10,488,084</td>
    </tr>
    <tr>
      <td>Ohio</td>
      <td>3,408,238</td>
      <td></td>
      <td>41,869</td>
      <td></td>
      <td>1.2%</td>
      <td>29.2%</td>
      <td>3.2%</td>
      <td>11,689,100</td>
    </tr>
    <tr>
      <td>Michigan</td>
      <td>3,071,563</td>
      <td></td>
      <td>42,278</td>
      <td></td>
      <td>1.4%</td>
      <td>30.8%</td>
      <td>2.9%</td>
      <td>9,986,857</td>
    </tr>
    <tr>
      <td>Georgia</td>
      <td>3,070,296</td>
      <td></td>
      <td>42,533</td>
      <td></td>
      <td>1.4%</td>
      <td>28.9%</td>
      <td>2.9%</td>
      <td>10,617,423</td>
    </tr>
    <tr>
      <td>New Jersey</td>
      <td>3,054,372</td>
      <td>+671</td>
      <td>36,040</td>
      <td>+3</td>
      <td>1.2%</td>
      <td>34.4%</td>
      <td>2.9%</td>
      <td>8,882,190</td>
    </tr>
    <tr>
      <td>Tennessee</td>
      <td>2,519,078</td>
      <td></td>
      <td>29,299</td>
      <td></td>
      <td>1.2%</td>
      <td>36.9%</td>
      <td>2.4%</td>
      <td>6,829,174</td>
    </tr>
    <tr>
      <td>Arizona</td>
      <td>2,448,406</td>
      <td></td>
      <td>33,158</td>
      <td></td>
      <td>1.4%</td>
      <td>33.6%</td>
      <td>2.3%</td>
      <td>7,278,717</td>
    </tr>
    <tr>
      <td>Virginia</td>
      <td>2,294,840</td>
      <td></td>
      <td>23,678</td>
      <td></td>
      <td>1.0%</td>
      <td>26.9%</td>
      <td>2.2%</td>
      <td>8,535,519</td>
    </tr>
    <tr>
      <td>Massachusetts</td>
      <td>2,227,610</td>
      <td></td>
      <td>24,391</td>
      <td></td>
      <td>1.1%</td>
      <td>32.3%</td>
      <td>2.1%</td>
      <td>6,892,503</td>
    </tr>
    <tr>
      <td>Indiana</td>
      <td>2,051,104</td>
      <td></td>
      <td>26,115</td>
      <td></td>
      <td>1.3%</td>
      <td>30.5%</td>
      <td>1.9%</td>
      <td>6,732,219</td>
    </tr>
    <tr>
      <td>Wisconsin</td>
      <td>2,010,405</td>
      <td></td>
      <td>16,392</td>
      <td></td>
      <td>0.8%</td>
      <td>34.5%</td>
      <td>1.9%</td>
      <td>5,822,434</td>
    </tr>
    <tr>
      <td>Washington</td>
      <td>1,915,286</td>
      <td></td>
      <td>15,510</td>
      <td></td>
      <td>0.8%</td>
      <td>25.2%</td>
      <td>1.8%</td>
      <td>7,614,893</td>
    </tr>
    <tr>
      <td>South Carolina</td>
      <td>1,838,468</td>
      <td></td>
      <td>19,654</td>
      <td></td>
      <td>1.1%</td>
      <td>35.7%</td>
      <td>1.7%</td>
      <td>5,148,714</td>
    </tr>
    <tr>
      <td>Minnesota</td>
      <td>1,781,651</td>
      <td></td>
      <td>14,918</td>
      <td></td>
      <td>0.8%</td>
      <td>31.6%</td>
      <td>1.7%</td>
      <td>5,639,632</td>
    </tr>
    <tr>
      <td>Colorado</td>
      <td>1,767,185</td>
      <td></td>
      <td>14,975</td>
      <td></td>
      <td>0.8%</td>
      <td>30.7%</td>
      <td>1.7%</td>
      <td>5,758,736</td>
    </tr>
    <tr>
      <td>Missouri</td>
      <td>1,752,734</td>
      <td></td>
      <td>22,546</td>
      <td></td>
      <td>1.3%</td>
      <td>28.6%</td>
      <td>1.7%</td>
      <td>6,137,428</td>
    </tr>
    <tr>
      <td>Kentucky</td>
      <td>1,720,528</td>
      <td></td>
      <td>18,177</td>
      <td></td>
      <td>1.1%</td>
      <td>38.5%</td>
      <td>1.6%</td>
      <td>4,467,673</td>
    </tr>
    <tr>
      <td>Alabama</td>
      <td>1,644,533</td>
      <td></td>
      <td>21,032</td>
      <td></td>
      <td>1.3%</td>
      <td>33.5%</td>
      <td>1.6%</td>
      <td>4,903,185</td>
    </tr>
    <tr>
      <td>Louisiana</td>
      <td>1,573,810</td>
      <td></td>
      <td>18,766</td>
      <td></td>
      <td>1.2%</td>
      <td>33.9%</td>
      <td>1.5%</td>
      <td>4,648,794</td>
    </tr>
    <tr>
      <td>Maryland</td>
      <td>1,367,596</td>
      <td></td>
      <td>16,575</td>
      <td></td>
      <td>1.2%</td>
      <td>22.6%</td>
      <td>1.3%</td>
      <td>6,045,680</td>
    </tr>
    <tr>
      <td>Oklahoma</td>
      <td>1,293,792</td>
      <td></td>
      <td>15,845</td>
      <td></td>
      <td>1.2%</td>
      <td>32.7%</td>
      <td>1.2%</td>
      <td>3,956,971</td>
    </tr>
    <tr>
      <td>Utah</td>
      <td>1,090,346</td>
      <td></td>
      <td>5,298</td>
      <td></td>
      <td>0.5%</td>
      <td>34.0%</td>
      <td>1.0%</td>
      <td>3,205,958</td>
    </tr>
    <tr>
      <td>Iowa</td>
      <td>1,053,470</td>
      <td></td>
      <td>10,742</td>
      <td></td>
      <td>1.0%</td>
      <td>33.4%</td>
      <td>1.0%</td>
      <td>3,155,070</td>
    </tr>
    <tr>
      <td>Arkansas</td>
      <td>1,007,474</td>
      <td></td>
      <td>13,032</td>
      <td></td>
      <td>1.3%</td>
      <td>33.4%</td>
      <td>1.0%</td>
      <td>3,017,804</td>
    </tr>
    <tr>
      <td>Mississippi</td>
      <td>991,967</td>
      <td></td>
      <td>13,385</td>
      <td></td>
      <td>1.3%</td>
      <td>33.3%</td>
      <td>0.9%</td>
      <td>2,976,149</td>
    </tr>
    <tr>
      <td>Connecticut</td>
      <td>977,572</td>
      <td></td>
      <td>12,258</td>
      <td></td>
      <td>1.3%</td>
      <td>27.4%</td>
      <td>0.9%</td>
      <td>3,565,287</td>
    </tr>
    <tr>
      <td>Oregon</td>
      <td>963,565</td>
      <td></td>
      <td>9,373</td>
      <td></td>
      <td>1.0%</td>
      <td>22.8%</td>
      <td>0.9%</td>
      <td>4,217,737</td>
    </tr>
    <tr>
      <td>Kansas</td>
      <td>937,870</td>
      <td></td>
      <td>10,066</td>
      <td></td>
      <td>1.1%</td>
      <td>32.2%</td>
      <td>0.9%</td>
      <td>2,913,314</td>
    </tr>
    <tr>
      <td>Nevada</td>
      <td>891,702</td>
      <td></td>
      <td>11,937</td>
      <td></td>
      <td>1.3%</td>
      <td>28.9%</td>
      <td>0.8%</td>
      <td>3,080,156</td>
    </tr>
    <tr>
      <td>New Mexico</td>
      <td>672,200</td>
      <td></td>
      <td>9,078</td>
      <td></td>
      <td>1.4%</td>
      <td>32.1%</td>
      <td>0.6%</td>
      <td>2,096,829</td>
    </tr>
    <tr>
      <td>West Virginia</td>
      <td>643,270</td>
      <td></td>
      <td>7,976</td>
      <td></td>
      <td>1.2%</td>
      <td>35.9%</td>
      <td>0.6%</td>
      <td>1,792,147</td>
    </tr>
    <tr>
      <td>Nebraska</td>
      <td>565,924</td>
      <td></td>
      <td>4,915</td>
      <td></td>
      <td>0.9%</td>
      <td>29.3%</td>
      <td>0.5%</td>
      <td>1,934,408</td>
    </tr>
    <tr>
      <td>Idaho</td>
      <td>522,088</td>
      <td></td>
      <td>5,423</td>
      <td></td>
      <td>1.0%</td>
      <td>29.2%</td>
      <td>0.5%</td>
      <td>1,787,065</td>
    </tr>
    <tr>
      <td>Rhode Island</td>
      <td>436,193</td>
      <td></td>
      <td>3,849</td>
      <td></td>
      <td>0.9%</td>
      <td>41.2%</td>
      <td>0.4%</td>
      <td>1,059,361</td>
    </tr>
    <tr>
      <td>Hawaii</td>
      <td>381,057</td>
      <td></td>
      <td>1,849</td>
      <td></td>
      <td>0.5%</td>
      <td>26.9%</td>
      <td>0.4%</td>
      <td>1,415,872</td>
    </tr>
    <tr>
      <td>New Hampshire</td>
      <td>376,862</td>
      <td></td>
      <td>2,987</td>
      <td></td>
      <td>0.8%</td>
      <td>27.7%</td>
      <td>0.4%</td>
      <td>1,359,711</td>
    </tr>
    <tr>
      <td>Delaware</td>
      <td>330,793</td>
      <td></td>
      <td>3,324</td>
      <td></td>
      <td>1.0%</td>
      <td>34.0%</td>
      <td>0.3%</td>
      <td>973,764</td>
    </tr>
    <tr>
      <td>Montana</td>
      <td>329,977</td>
      <td></td>
      <td>3,656</td>
      <td></td>
      <td>1.1%</td>
      <td>30.9%</td>
      <td>0.3%</td>
      <td>1,068,778</td>
    </tr>
    <tr>
      <td>Maine</td>
      <td>319,103</td>
      <td></td>
      <td>2,955</td>
      <td></td>
      <td>0.9%</td>
      <td>23.7%</td>
      <td>0.3%</td>
      <td>1,344,212</td>
    </tr>
    <tr>
      <td>Alaska</td>
      <td>294,791</td>
      <td></td>
      <td>1,449</td>
      <td></td>
      <td>0.5%</td>
      <td>40.3%</td>
      <td>0.3%</td>
      <td>731,545</td>
    </tr>
    <tr>
      <td>North Dakota</td>
      <td>286,247</td>
      <td></td>
      <td>2,463</td>
      <td></td>
      <td>0.9%</td>
      <td>37.6%</td>
      <td>0.3%</td>
      <td>762,062</td>
    </tr>
    <tr>
      <td>South Dakota</td>
      <td>279,882</td>
      <td></td>
      <td>3,200</td>
      <td></td>
      <td>1.1%</td>
      <td>31.6%</td>
      <td>0.3%</td>
      <td>884,659</td>
    </tr>
    <tr>
      <td>Wyoming</td>
      <td>185,408</td>
      <td></td>
      <td>2,004</td>
      <td></td>
      <td>1.1%</td>
      <td>32.0%</td>
      <td>0.2%</td>
      <td>578,759</td>
    </tr>
    <tr>
      <td>District Of Columbia</td>
      <td>177,215</td>
      <td></td>
      <td>1,426</td>
      <td></td>
      <td>0.8%</td>
      <td>25.1%</td>
      <td>0.2%</td>
      <td>705,749</td>
    </tr>
    <tr>
      <td>Vermont</td>
      <td>151,477</td>
      <td></td>
      <td>910</td>
      <td></td>
      <td>0.6%</td>
      <td>24.3%</td>
      <td>0.1%</td>
      <td>623,989</td>
    </tr>
  </tbody>
</table>