<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: center;">
      <th></th>
      <th>2019</th>
      <th>2020</th>
      <th>2021</th>
      <th>2022</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>High:</th>
      <td>NaN</td>
      <td>36.9°F</td>
      <td>21.7°F</td>
      <td>26.6°F</td>
    </tr>
    <tr>
      <th>Low:</th>
      <td>NaN</td>
      <td>24.4°F</td>
      <td>3.6°F</td>
      <td>13.8°F</td>
    </tr>
    <tr>
      <th>Average:</th>
      <td>NaN</td>
      <td>31.3°F</td>
      <td>12.8°F</td>
      <td>20.1°F</td>
    </tr>
    <tr>
      <th>Conditions:</th>
      <td>NaN</td>
      <td>Rain/Snow/Mist</td>
      <td>Clear</td>
      <td>Cloudy</td>
    </tr>
  </tbody>
</table>