---
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style2.css"></link>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">

      // Load Charts and the corechart package.
      google.charts.load('current', {'packages':['corechart']});

      // Draw the pie chart for Sarah's pizza when Charts is loaded.
      google.charts.setOnLoadCallback(drawGlensFallsChart);

      // Draw the pie chart for the Anthony's pizza when Charts is loaded.
      google.charts.setOnLoadCallback(drawSaratogaChart);

      // Callback that draws the bar chart.
      function drawGlensFallsChart() {

      // Create the data table.
      // var data = new google.visualization.DataTable();
      var data = google.visualization.arrayToDataTable([
      ["Date", "New Cases", { role: "style" } ],
      // Data goes here
      {% for row in site.data.chart_us_total_cases %}
      {% assign date = row["Date"] %}
      {% assign total = row["New Cases"] %}
      ["{{ date }}", {{ total }}, "color: darkblue"],
      {% endfor %}
      ]);

      var view = new google.visualization.DataView(data);
      view.setColumns([0, 1,
                      { calc: "stringify",
                        sourceColumn: 1,
                        type: "string",
                        role: "annotation" },
                      2]);
      
      // Set options for Glens Falls Hospital chart.
      var options = {
        title:'Glens Falls Hospital New Patients Admitted',
        width:500,
        height:300,
        bar: {groupWidth: "95%"},
        legend: { position: "none"},
        tooltip: {isHtml: false},
        };
            
      // Instantiate and draw the chart for Glens Falls Hospital.
      var chart = new google.visualization.ColumnChart(document.getElementById('glens_falls_hospital'));
      chart.draw(data, options);
      }

      // Callback that draws the bar chart for Saratoga Hospital.
      function drawSaratogaChart() {
      var data = google.visualization.arrayToDataTable([
        ["Date", "New Patients", { role: "style" } ],

        // Data goes here
        {% for row in site.data.chart_saratoga_hospital %}
        {% assign date = row["Date"] %}
        {% assign admitted = row["Admitted"] %}
        ["{{ date }}", {{ admitted }}, "color: red"],
        {% endfor %}

            
      ]);

      var view = new google.visualization.DataView(data);
      view.setColumns([0, 1,
                      { calc: "stringify",
                        sourceColumn: 1,
                        type: "string",
                        role: "annotation" },
                      2]);

      var options = {
        title: "Saratoga Hospital New Patients Admitted",
        width: 500,
        height: 300,
        bar: {groupWidth: "95%"},
        legend: { position: "none" },
        tooltip: {isHtml: true},
      };
      var chart = new google.visualization.BarChart(document.getElementById("sratoga_hospital"));
      chart.draw(view, options);
      }
    </script>
  </head>
  <body>
    <!--Table and divs that hold the pie charts-->
    <table class="columns">
      <tr>
        <td><div id="glens_falls_hospital" class="barChart"></div></td>
      </tr>
      <tr> 
        <td><div id="sratoga_hospital" class="barChart" ></div></td>
      </tr>
    </table>
  </body>
</html>