---
<!--layout: page-->
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tracking The Weather</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,600&display=swap" rel="stylesheet"> 
</head>
    <section class="header">
        <nav>
            <!--- Hide Logo -->
            <!---<a href="index3.html"><img src="images/logo.png"></a>--->
            <div class="nav-links" id="nav-links">
            <i class="fa fa-times" onclick="hideMenu()"></i>
                <ul>
                    <li><a href="">GLOBAL</a></li>
                    <li><a href="">US</a></li>
                    <li><a href="">NY STATE</a></li>
                    <li><a href="">LOCAL</a></li>
                    <li><a href="">CHARTS</a></li>

                </ul>

            </div>
        <i class="fa fa-bars" onclick="showMenu()"></i>

        </nav>
        <div class="text_box">
            <h1>RKP Weather Station</h1>
            <p>
                Another Awesome Project by RKP
            </p> 
            <a href="" class="hero-btn" onClick="window.open(url='https://ambientweather.net/dashboard');">Click For<br>Ambient Weather</a>
        </div>
        
    </section>

    <!----- Weather Bar ------->
    <section class="weather-bar">
        <h1>Daily High/Low Temperatures</h1>
        <p>{{ site.data.weather5["Title"]["High:"] }}</p>  
        <p>Sunrise: {{ site.data.suntimes["SUNRISE"]["0"] }} | Sunset: {{ site.data.suntimes["SUNSET"]["0"] }} | Hrs. Daylight: {{ site.data.suntimes["HRS_DAYLIGHT"]["0"] }}</p>  

        <div class="row">
            <div class="temperature-column">
                <h3>2019</h3>
                <div>High: {{ site.data.weather1["2019"]["High:"] }}</div>
                <div> Low: {{ site.data.weather1["2019"]["Low:"] }}</div>
                <div>Average: {{ site.data.weather1["2019"]["Average:"] }}</div>
                <div>Conditions: {{ site.data.weather1["2019"]["Conditions:"] }}</div>
          
          </div>
            <div class="temperature-column" id="info-column">
                <h3>2020</h3>
                <div>High: {{ site.data.weather1["2020"]["High:"] }}</div>
                <div> Low: {{ site.data.weather1["2020"]["Low:"] }}</div>
                <div>Average: {{ site.data.weather1["2020"]["Average:"] }}</div>
                <div>Conditions: {{ site.data.weather1["2020"]["Conditions:"] }}</div>
          
            </div>
            <div class="temperature-column">
                <h3>2021</h3> 
                <div>High: {{ site.data.weather1["2021"]["High:"] }}</div>
                <div> Low: {{ site.data.weather1["2021"]["Low:"] }}</div>
                <div>Average: {{ site.data.weather1["2021"]["Average:"] }}</div>
                <div>Conditions: {{ site.data.weather1["2021"]["Conditions:"] }}</div>
          
            </div>
            <div class="temperature-column">
                <h3>2022</h3> 
                <div>High: {{ site.data.weather1["2022"]["High:"] }}</div>
                <div> Low: {{ site.data.weather1["2022"]["Low:"] }}</div>
                <div>Average: {{ site.data.weather1["2022"]["Average:"] }}</div>
                <div>Conditions: {{ site.data.weather1["2022"]["Conditions:"] }}</div>
          
            </div>
          </div>

    </section>

    <button onclick="topFunction()" id="myBtn" title="Go to top"><i class="fa fa-arrow-up" aria-hidden="true"></i></button>

    <script>
        //Get the button
        var mybutton = document.getElementById("myBtn");
        
        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function() {scrollFunction()};
        
        function scrollFunction() {
            if (document.body.scrollTop > 120 || document.documentElement.scrollTop > 120) {
            mybutton.style.display = "block";
            } else {
            mybutton.style.display = "none";
            }
        }
        
        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        }
        </script>   

    <!-----  Monthly Weather DataFrames ------->

<section class="monthly-weather">
    <h1 class="monthly-weather-title">Monthly High/Low Temperatures</h1>
    <ul>
    <h1 class="global_data_title">2022</h1>
    </ul>
    <section class="table-wrapper">
        <div>
            <table>
                <!-- This Adds The DataFrame -->
                {% include weather-tables/monthly_temps_2022.html %}
                <!-- DataFrame Ends Here -->
            </table>
        </div>
    </section>
</section>

<section class="table-wrapper">
    <h1 class="global_data_title">2021</h1>      
    <table>
        <!-- This Adds The DataFrame -->
        {% include weather-tables/monthly_temps_2021.html %}
        <!-- DataFrame Ends Here -->
    </table>
</section>

<section class="table-wrapper">
    <div class="table-wrapper"></div>
    <h1 class="global_data_title">2020</h1>      
    <table>
        <!-- This Adds The DataFrame -->
        {% include weather-tables/monthly_temps_2020.html %}
        <!-- DataFrame Ends Here -->
    </table>
    </div>  
    <ul>
        <h1 class="global_data_title" >2019</h1>
        </ul>
        <section class="table">
            <div>
                <table>
                    <!-- This Adds The DataFrame -->
                    {% include weather-tables/monthly_temps_2019.html %}
                    <!-- DataFrame Ends Here -->
                </table>
            </div>
        </section>
</section>















<!------ JavaScript for Toggle Menu ------->
<script>
    var navLinks = document.getElementById("nav-links");

    function showMenu(){
        navLinks.style.right = "0";
    }
    function hideMenu(){
        navLinks.style.right = "-200px";
    }

    function topFunction() {
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;
    }
</script>


<section>

    
</section>
<div>
<!--- Footer -->
<section class="footer">
<h4>About Us</h4>
<ul>RKP Weather Station</ul>

<ul>rkp.software 2/13/2022</ul>
<div class="icons">
<i class="fa fa-twitter" id="twitter"></i>
<i class="fa fa-github-square" id="github"></i>
<i class="fa fa-facebook" id="facebook"></i>
</div>
</section>
<body>
    
</body>

</html>