<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: center;">
      <th></th>
      <th>Jan</th>
      <th>Feb</th>
      <th>Mar</th>
      <th>Apr</th>
      <th>May</th>
      <th>Jun</th>
      <th>Jul</th>
      <th>Aug</th>
      <th>Sep</th>
      <th>Oct</th>
      <th>Nov</th>
      <th>Dec</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>High:</th>
      <td>57.2°F</td>
      <td>55.2°F</td>
      <td>67.8°F</td>
      <td>65.8°F</td>
      <td>92.5°F</td>
      <td>95.0°F</td>
      <td>94.3°F</td>
      <td>91.8°F</td>
      <td>87.4°F</td>
      <td>76.1°F</td>
      <td>71.1°F</td>
      <td>58.1°F</td>
    </tr>
    <tr>
      <th>Low:</th>
      <td>-3.1°F</td>
      <td>-4.0°F</td>
      <td>9.0°F</td>
      <td>21.9°F</td>
      <td>27.3°F</td>
      <td>38.5°F</td>
      <td>59.0°F</td>
      <td>47.5°F</td>
      <td>32.2°F</td>
      <td>20.7°F</td>
      <td>16.5°F</td>
      <td>1.6°F</td>
    </tr>
    <tr>
      <th>Avg:</th>
      <td>27.9°F</td>
      <td>27.2°F</td>
      <td>38.6°F</td>
      <td>44.8°F</td>
      <td>58.5°F</td>
      <td>68.9°F</td>
      <td>75.3°F</td>
      <td>70.4°F</td>
      <td>61.3°F</td>
      <td>50.0°F</td>
      <td>41.3°F</td>
      <td>30.2°F</td>
    </tr>
  </tbody>
</table>