<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  <head>
      <meta name="viewport" content="with=device-width, initial-scale=1.0">
      <title>Tracking The COVID-19 Outbreak</title>
      <link rel="stylesheet" href="style.css">
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,700;1,200;1,600&display=swap" rel="stylesheet"> 
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>

  <body>
    <section class="header">
      <nav>
        <div class="nav-links" id="navLinks">
        <a href="index2.html"><img src=""></a>
          <i class="fa fa-times" onclick="hideMenu()" id="navLinks"></i>
          <ul>
            <li><a href="/index.html#index1.html" class="btn">HOME</a></li>
            <li><a href="/index.html#global_dataframe" class="btn">GLOBAL</a></li>
            <li><a href="/index.html#us_dataframe" class="btn">US</a></li>
            <li><a href="/index.html#ny_state_dataframe" class="btn">NY STATE</a></li>
            <li><a href="/index.html#local_hospital_dataframe" class="btn">HOSPITALS</a></li>
            <li><a href="learn-more.html" class="btn">INFO</a></li>
          </ul>
        </div>
            <i class="fa fa-bars" onclick="showMenu()"></i>
      </nav>
    </section>

    {{ content }}

    <!--- Footer -->
    <section class="footer">
      <h4>About Us</h4>
      <ul>Created by RKP 2/4/2022</ul>
      <ul>New York State Data Source: https://data.ny.gov</ul>
      <ul>Global Data Source: https://www.worldometers.info/coronavirus</ul>
      <ul>Special Thanks to Joshua Priddle - Director of Software Development @ A-2 Hosting</ul>
      <div class="icons">
        <i class="fa fa-facebook"></i>
        <i class="fa fa-twitter"></i>
        <i class="fa fa-github-square"></i>
        <i class="fa fa-youtube-square"></i>
        <i class="fa fa-bar-chart"></i>
      </div>
    </section>
    <script>
      var navLinks = document.getElementById("navLinks");
      function showMenu(){
          navLinks.style.right = "0";
      }
      function hideMenu(){
          navLinks.style.right = "-200px";
      }
  </script>
  </body>
</html>
