---
layout: default
---

<div class="text-box">
  <h1>Tracking The COVID-19 Outbreak</h1>
  <p>The First Reported COVID-19 Case In The US Was Reported On<br>January 19, 2020 in Snohomish County, Washington</p>

  <h4>Project Start Date - March 15,  2020</h4>
  <p>Presume That You Are Being Exposed To COVID-19 When Going Into Public<br>
    Take Precautions Such As The Use Of A Mask OR Face Covering Accordingly</p>
  <p><a href=='https://www.cdc.gov/coronavirus/2019-ncov/index.html' class="hero-btn">Click To Learn More<br>About COVID-19</a></p>
</div>

{{ content }}
