---
layout: default
---
<section>
<div class="text-box">
  <h1>Tracking The Weather</h1>
  <p>Live Data Coming soon!</p>

  <!--<p><a href="learn-more.html" class="hero-btn">Click To Learn More<br>About COVID-19</a></p> -->
<p><a href="" class="hero-btn" onClick="window.open(url='https://www.cdc.gov/coronavirus/2019-ncov/index.html');">Click To Learn More<br>About COVID-19</a></p>
  
  <ul class="date_time">Project Start Date - March 15, 2020<br>Updated: {{ site.data.last_update["0"]["0"]}}</ul>
</div>
</section>

    

{{ content }}
